openapi: 3.0.1
info:
  title: Pure activity person API
  description: The Pure API provides a secure and complete web services API for using and managing research information data in Pure. The API enables a broad range of use-cases for interacting with research information, from anonymous Open Data scenarios to enabling the next generation Pure admin.
  termsOfService: ''
  contact:
    name: ''
    url: ''
    email: pure-support@elsevier.com
  license:
    name: ''
    url: ''
  version: 5.35.3-4
servers:
- url: https://yonsei.elsevierpure.com/ws/api
  description: Yonsei University Elsevier Pure REST API
security:
- api-key: []
tags:
- name: person
paths:
  /persons:
    get:
      tags:
      - person
      summary: Lists all persons
      description: Lists all persons in the Pure instance. If you need to filter the persons returned, see the POST version which supports additional filtering.
      operationId: person_list
      parameters:
      - name: size
        in: query
        description: Number of returned persons per request.
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 10
      - name: offset
        in: query
        description: The offset for the returned list. 0 or null value is from the start
        schema:
          type: integer
          format: int32
          default: 0
      - name: order
        in: query
        description: The order of the list, must be a value from /persons/orderings
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonListResult'
    put:
      tags:
      - person
      summary: Create person
      description: Create person
      operationId: person_create
      requestBody:
        description: The content to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Person'
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Person'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /persons/allowed-academic-qualification-types:
    get:
      tags:
      - person
      summary: A list of allowed academic qualification types for persons
      description: Get a list of allowed academic qualification types for persons
      operationId: person_getAllowedAcademicQualificationsTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-academic-qualifications-distinctions:
    get:
      tags:
      - person
      summary: A list of the allowed values for education distinction
      description: Get a list of classifications that can be used for the 'academicQualifications.distinction' attribute of persons
      operationId: person_getAllowedAcademicQualificationsDistinctions
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-academic-qualifications-field-of-studies:
    get:
      tags:
      - person
      summary: A list of the allowed values for field of study
      description: Get a list of classifications that can be used for the 'academicQualifications.fieldOfStudy' attribute of persons
      operationId: person_getAllowedAcademicQualificationsFieldOfStudies
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-address-countries:
    get:
      tags:
      - person
      summary: A list of allowed address countries
      description: Get a list of allowed countries that can be used for the 'addresses.country' attribute of persons
      operationId: person_getAllowedAddressCountries
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-address-subdivisions:
    get:
      tags:
      - person
      summary: A list of allowed subdivisions
      description: Get a list of allowed subdivisions can be used for the 'subdivision' attribute of person organization associations
      operationId: person_getAllowedAddressSubdivisions
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-address-types:
    get:
      tags:
      - person
      summary: A list of allowed address types
      description: Get a list of allowed address types that can be used for the 'addresses.type' attribute of persons
      operationId: person_getAllowedAddressTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-classified-identifier-types:
    get:
      tags:
      - person
      summary: A list of allowed classified identifier types
      description: Get a list of allowed classified identifier types that can be used for the 'identifiers.type' attribute of persons
      operationId: person_getAllowedClassifiedIdentifierTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-custom-defined-field-values/{propertyName}/classifications:
    get:
      tags:
      - person
      summary: Get allowed classifications for the custom-defined field associated with the person
      description: Get allowed classifications for the custom-defined field associated with the person.
      operationId: person_getAllowedCustomDefinedFieldClassifications
      parameters:
      - name: propertyName
        in: path
        description: PropertyName for the desired custom-defined field
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /persons/allowed-document-licenses:
    get:
      tags:
      - person
      summary: A list of allowed document licenses
      description: Get a list of allowed licenses for documents on persons
      operationId: person_getAllowedDocumentLicenses
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-document-types:
    get:
      tags:
      - person
      summary: A list of allowed document types
      description: Get a list of allowed types for documents on persons
      operationId: person_getAllowedDocumentTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-external-positions-appointments:
    get:
      tags:
      - person
      summary: A list of the allowed values for appointments
      description: Get a list of classifications that can be used for the 'externalPositions.appointment' attribute of persons
      operationId: person_getAllowedExternalPositionsAppointments
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-genders:
    get:
      tags:
      - person
      summary: A list of allowed classifications for the gender property
      description: Get a list of classifications that can be used when submitting the person gender property.
      operationId: person_getAllowedGenders
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-keyword-group-configurations:
    get:
      tags:
      - person
      summary: A list of keyword group configurations
      description: Get a list of allowed keyword group configurations that can be used when submitting keyword groups.
      operationId: person_getAllowedKeywordGroupConfigurations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllowedKeywordGroupConfigurationList'
  /persons/allowed-keyword-group-configurations/{id}/classifications:
    get:
      tags:
      - person
      summary: A list of allowed classifications for the specified keyword group
      description: Get a list of allowed classifications that can be used when submitting a specified keyword group.
      operationId: person_getAllowedKeywordGroupConfigurationClassifications
      parameters:
      - name: id
        in: path
        description: Pure id of the keyword group configuration
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-leave-of-absense:
    get:
      tags:
      - person
      summary: A list of allowed classifications for the leave of absence property
      description: Get a list of classifications that can be used when submitting the leaveOfAbsence property.
      operationId: person_getAllowedLeavesOfAbsenceClassifications
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-link-types:
    get:
      tags:
      - person
      summary: A list of allowed link types
      description: Get a list of allowed link types that can be used for the 'links.linkType' attribute of persons
      operationId: person_getAllowedLinkTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-locales:
    get:
      tags:
      - person
      summary: A list of allowed locales in localized strings
      description: Get a list of allowed locales that can be used when submitting localized string entities.
      operationId: person_getAllowedLocales
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalesList'
  /persons/allowed-main-research-areas:
    get:
      tags:
      - person
      summary: A list of allowed main research areas
      description: Get a list of allowed main research areas associated with the person
      operationId: person_getAllowedMainResearchAreas
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-metric-collections:
    get:
      tags:
      - person
      summary: A list of allowed metric collections
      description: Get a list of metric collections allowed on persons
      operationId: person_getAllowedMetricCollections
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricCollectionDefinitionList'
  /persons/allowed-names-types:
    get:
      tags:
      - person
      summary: A list of allowed classifications for classified names
      description: Get a list of allowed classifications that can be used when submitting a classified name.
      operationId: person_getAllowedNamesTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-nationalities:
    get:
      tags:
      - person
      summary: A list of allowed classifications for the nationalities property
      description: Get a list of classifications that can be used when submitting the nationality property.
      operationId: person_getAllowedNationalities
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-person-organization-associations-email-types:
    get:
      tags:
      - person
      summary: A list of allowed email types
      description: Get a list of allowed email types for person organization associations on persons
      operationId: person_getAllowedPersonOrganizationAssociationsEmailTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-person-organization-associations-employment-types:
    get:
      tags:
      - person
      summary: A list of allowed employment types
      description: Get a list of allowed employment types for person organization associations on persons
      operationId: person_getAllowedPersonOrganizationAssociationsEmploymentTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-person-organization-associations-job-titles:
    get:
      tags:
      - person
      summary: A list of allowed job titles
      description: Get a list of allowed job titles for person organization associations on persons
      operationId: person_getAllowedPersonOrganizationAssociationsJobTitles
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-person-organization-associations-phonenumber-types:
    get:
      tags:
      - person
      summary: A list of allowed phone number types
      description: Get a list of allowed phone numbers types for person organization associations on persons
      operationId: person_getAllowedPersonOrganizationAssociationsPhoneNumberTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-person-organization-associations-supervisor-roles:
    get:
      tags:
      - person
      summary: A list of allowed supervisor roles
      description: Get a list of allowed supervisor roles for person organization associations on persons
      operationId: person_getAllowedPersonOrganizationAssociationsSupervisorRoles
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-person-organization-associations-webaddress-types:
    get:
      tags:
      - person
      summary: A list of allowed web address types
      description: Get a list of allowed web address types for person organization associations on persons
      operationId: person_getAllowedPersonOrganizationAssociationsWebAddressTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-private-address-countries:
    get:
      tags:
      - person
      summary: DEPRECATED - use 'allowed-address-countries' - A list of allowed country classifications for private address
      description: DEPRECATED - use 'allowed-address-countries' - Get a list of allowed country classifications for private address on persons
      operationId: person_getAllowedPrivateAddressCountries
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
      deprecated: true
  /persons/allowed-profile-information-types:
    get:
      tags:
      - person
      summary: A list of allowed classifications for the profile information property
      description: Get a list of classifications that can be used when submitting an entry in profile information.
      operationId: person_getAllowedProfileInformationTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-profile-photo-types:
    get:
      tags:
      - person
      summary: A list of allowed photo types
      description: Get a list of allowed photo types that can be used for the 'profilePhotos.type' attribute of persons
      operationId: person_getAllowedProfilePhotoTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-staff-organization-associations-contract-types:
    get:
      tags:
      - person
      summary: A list of allowed contract types
      description: Get a list of allowed contract types for staff organization associations on persons
      operationId: person_getAllowedStaffOrganizationAssociationsContractTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-staff-organization-associations-staff-types:
    get:
      tags:
      - person
      summary: A list of allowed staff types
      description: Get a list of allowed staff types for staff organization associations on persons
      operationId: person_getAllowedStaffOrganizationAssociationsStaffTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-student-organization-associations-attendance-status-types:
    get:
      tags:
      - person
      summary: A list of allowed student attendance status types
      description: Get a list of allowed student attendance status types for student organization associations on persons
      operationId: person_getAllowedStudentOrganizationAssociationsAttendanceStatus
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-student-organization-associations-country-of-domicile-types:
    get:
      tags:
      - person
      summary: A list of allowed student country of domicile types
      description: Get a list of allowed student country of domicile types for student organization associations on persons
      operationId: person_getAllowedStudentOrganizationAssociationsGetStudentCountryOfDomiciles
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-student-organization-associations-employment-types:
    get:
      tags:
      - person
      summary: A list of allowed employment types
      description: Get a list of allowed employment types for student organization associations on persons
      operationId: person_getAllowedStudentAssociationsEmploymentTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-student-organization-associations-nationality-types:
    get:
      tags:
      - person
      summary: A list of allowed student nationality types
      description: Get a list of allowed student nationality types for student organization associations on persons
      operationId: person_getAllowedStudentOrganizationAssociationsGetStudentNationalities
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-student-organization-associations-type-description-types:
    get:
      tags:
      - person
      summary: A list of allowed student type description types
      description: Get a list of allowed student type description types for student organization associations on persons
      operationId: person_getAllowedStudentOrganizationAssociationsStudentTypeDescriptions
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-titles-types:
    get:
      tags:
      - person
      summary: A list of allowed classifications for the titles property
      description: Get a list of classifications that can be used when submitting a title.
      operationId: person_getAllowedTitlesTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-visiting-scholar-organization-associations-employment-types:
    get:
      tags:
      - person
      summary: A list of allowed employment types
      description: Get a list of allowed employment types for visiting scholar organization associations on persons
      operationId: person_getAllowedVisitingScholarAssociationsEmploymentTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /persons/allowed-workflow-steps:
    get:
      tags:
      - person
      summary: A list of allowed workflow steps
      description: Get a list of allowed workflow steps that can be used for the 'workflow' attribute of persons
      operationId: person_getAllowedWorkflowSteps
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowListResult'
  /persons/disciplines/allowed-discipline-schemes:
    get:
      tags:
      - person
      summary: A list of allowed discipline schemes
      description: Get a list fo a allowed discipline schemes for persons
      operationId: person_getAllowedDisciplineSchemes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisciplinesDisciplineSchemeListResult'
  /persons/disciplines/{discipline-scheme}/allowed-disciplines:
    get:
      tags:
      - person
      summary: A list of allowed disciplines for a specific discipline scheme
      description: Get a list of a allowed disciplines for specific discipline scheme for persons
      operationId: person_getAllowedDisciplines
      parameters:
      - name: discipline-scheme
        in: path
        description: Identifier for the discipline scheme for persons
        required: true
        schema:
          type: string
      - name: size
        in: query
        description: Number of returned disciplines per request
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 10
      - name: offset
        in: query
        description: The offset for the returned list. 0 or null value is from the start
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisciplinesDisciplineListResult'
  /persons/disciplines/{discipline-scheme}/search:
    post:
      tags:
      - person
      summary: Query operation for disciplines associated with persons
      description: Lists disciplines from the discipline scheme associated with persons in the Pure instance that matches the provided query.
      operationId: person_listDisciplineAssociations
      parameters:
      - name: discipline-scheme
        in: path
        description: Identifier for the discipline scheme
        required: true
        schema:
          type: string
      requestBody:
        description: The query to perform
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisciplinesAssociationsQuery'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisciplinesAssociationListResult'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /persons/file-uploads:
    put:
      tags:
      - person
      summary: Upload file to a specific person
      description: Uploads file for the person
      operationId: person_fileUploads
      parameters:
      - name: Content-Type
        in: header
        description: Set the mime type for the file
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              format: binary
        required: true
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadedFile'
            application/xml:
              schema:
                $ref: '#/components/schemas/UploadedFile'
  /persons/orderings:
    get:
      tags:
      - person
      summary: Lists available orderings
      description: Lists all orderings available to the person endpoint. These values can be used by the order parameter.
      operationId: person_getOrderings
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderingsList'
  /persons/search:
    post:
      tags:
      - person
      summary: Query operation for persons
      description: Lists persons in the Pure instance that matches the provided query, similar to the GET version, instead of using parameters to alter the response, an JSON document is posted with the request. The JSON document contains fields for all the parameters available for the GET version, but also additional filtering options.
      operationId: person_query
      requestBody:
        description: The query to perform
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonsQuery'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonListResult'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /persons/{uuid}:
    get:
      tags:
      - person
      summary: Get person
      description: Get person with specific UUID.
      operationId: person_get
      parameters:
      - name: uuid
        in: path
        description: UUID of the desired person
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Person'
        '301':
          description: The requested content have changed UUID
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    put:
      tags:
      - person
      summary: Update person
      description: Update person with specific UUID.
      operationId: person_update
      parameters:
      - name: uuid
        in: path
        description: UUID of the person to update
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      requestBody:
        description: The content to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Person'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Person'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Version conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConflictProblemDetails'
    delete:
      tags:
      - person
      summary: Delete person
      description: Delete person with specific UUID.
      operationId: person_delete
      parameters:
      - name: uuid
        in: path
        description: UUID of the person
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '204':
          description: Successful operation
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConflictProblemDetails'
  /persons/{uuid}/actions/lock:
    post:
      tags:
      - person
      summary: Lock the content
      description: Mark the content as external (used when content contains synchronised data). This has no effect on interactions with the content through the API.
      operationId: person_lock
      parameters:
      - name: uuid
        in: path
        description: UUID of the content to lock
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '204':
          description: Content marked as locked
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Content already locked
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConflictProblemDetails'
  /persons/{uuid}/actions/unlock:
    post:
      tags:
      - person
      summary: Unlock the content
      description: Remove the external mark on the content (used when content contains synchronised data). This has no effect on interactions with the content through the API.
      operationId: person_unlock
      parameters:
      - name: uuid
        in: path
        description: UUID of the content to unlock
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '204':
          description: Content marked as unlocked
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Content already unlocked
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConflictProblemDetails'
  /persons/{uuid}/dependents:
    get:
      tags:
      - person
      summary: Lists all dependents to the person
      description: 'Lists all dependents to the person with the specified UUID. If the user does not have access to view all the dependent content, an authorization error will be thrown. '
      operationId: person_dependents
      parameters:
      - name: uuid
        in: path
        description: UUID of the person
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: verbose
        in: query
        description: DEPRECATED - Parameter has no effect.
        deprecated: true
        schema:
          type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentRefListResult'
  /persons/{uuid}/disciplines/{discipline-scheme}:
    get:
      tags:
      - person
      summary: Get disciplines from the discipline scheme associated with the person
      description: Get disciplines from the discipline scheme associated with the person with specific UUID.
      operationId: person_getDisciplineAssociation
      parameters:
      - name: uuid
        in: path
        description: UUID of the desired person
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: discipline-scheme
        in: path
        description: Identifier for the discipline scheme
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisciplinesAssociation'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    put:
      tags:
      - person
      summary: Update disciplines from the discipline scheme associated with the person
      description: Update disciplines from the discipline scheme associated with the person with specific UUID.
      operationId: person_putDisciplineAssociation
      parameters:
      - name: uuid
        in: path
        description: UUID of the person to update
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: discipline-scheme
        in: path
        description: Identifier for the discipline scheme
        required: true
        schema:
          type: string
      requestBody:
        description: The disciplines association to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisciplinesAssociation'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisciplinesAssociation'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /persons/{uuid}/files/{fileId}:
    get:
      tags:
      - person
      summary: Get file from the person
      description: Get file from the person
      operationId: person_getFile
      parameters:
      - name: uuid
        in: path
        description: UUID of the person
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: fileId
        in: path
        description: 'File id '
        required: true
        schema:
          pattern: .+
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                type: string
                format: binary
  /persons/{uuid}/fingerprints:
    get:
      tags:
      - person
      summary: Get the fingerprints for the person
      description: Get the fingerprints for the person with the specified UUID.
      operationId: person_getFingerprints
      parameters:
      - name: uuid
        in: path
        description: UUID of the person
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FingerprintListResult'
        '403':
          description: Access to requested resource is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /persons/{uuid}/highlighted-content:
    get:
      tags:
      - person
      summary: Get highlighted content
      description: Get highlighted content for the person with the specific UUID. Highlights are only available for editorial types
      operationId: person_getHighlightedContent
      parameters:
      - name: uuid
        in: path
        description: UUID of the owner (person) of the highlighted content
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HighlightedContent'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    put:
      tags:
      - person
      summary: Update highlighted content
      description: Update highlighted content references. Add an empty array of references for a content type to not highlight any items of this type. Types that are not present will be ignored. Highlights can only be updated for editorial types
      operationId: person_updateHighlightedContent
      parameters:
      - name: uuid
        in: path
        description: UUID of the person to update highlighted content for
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      requestBody:
        description: The highlighted content references to set on the person
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HighlightedContent'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HighlightedContent'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /persons/{uuid}/metrics/{collection-id}:
    get:
      tags:
      - person
      summary: Lists metrics with collection id
      description: Lists metrics from a specific metrics collection that associated with a person.
      operationId: person_listMetricsFromCollection
      parameters:
      - name: uuid
        in: path
        description: UUID of the person to get metrics for
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: collection-id
        in: path
        description: ID of the metrics collection to get metrics for
        required: true
        schema:
          pattern: .+
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricCollection'
        '404':
          description: Person or metrics collection not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /persons/{uuid}/notes:
    get:
      tags:
      - person
      summary: Lists notes
      description: Lists notes associated with an person ordered by date (nulls last)
      operationId: person_listNotes
      parameters:
      - name: uuid
        in: path
        description: UUID of the person to get notes for
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: size
        in: query
        description: Number of returned notes per request
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 10
      - name: offset
        in: query
        description: The offset for the returned list. 0 or null value is from the start
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteListResult'
        '404':
          description: person not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    put:
      tags:
      - person
      summary: Create note
      description: Create note and associate it with a person
      operationId: person_createNote
      parameters:
      - name: uuid
        in: path
        description: UUID of the person to add note to
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      requestBody:
        description: The note to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Note'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /persons/{uuid}/supervisee:
    get:
      tags:
      - person
      summary: person supervisees
      description: Find supervisees of a person by their specific UUID.
      operationId: person_supervisee
      parameters:
      - name: uuid
        in: path
        description: UUID of the person
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonSuperviseeAssociationListResult'
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
components:
  schemas:
    VisitingScholarOrganizationAssociation:
      type: object
      description: A relation describing the association between a visiting scholar and organization
      allOf:
      - $ref: '#/components/schemas/PersonOrganizationAssociation'
      - type: object
        properties:
          jobDescription:
            $ref: '#/components/schemas/LocalizedString'
          jobTitle:
            $ref: '#/components/schemas/ClassificationRef'
          purposeOfStay:
            type: string
            description: Why the visiting shcolar has transfered to the organization.
            nullable: true
          visitorFrom:
            $ref: '#/components/schemas/ExternalOrganizationRef'
    HighlightedContent:
      type: object
      properties:
        courses:
          type: array
          description: References to highlighted courses.
          nullable: true
          items:
            $ref: '#/components/schemas/CourseRef'
        curriculaVitae:
          type: array
          description: References to highlighted curricula vitae.
          nullable: true
          items:
            $ref: '#/components/schemas/CurriculumVitaeRef'
        researchOutputs:
          type: array
          description: References to highlighted research outputs.
          nullable: true
          items:
            $ref: '#/components/schemas/ResearchOutputRef'
        activities:
          type: array
          description: References to highlighted activities.
          nullable: true
          items:
            $ref: '#/components/schemas/ActivityRef'
        applications:
          type: array
          description: References to highlighted applications.
          nullable: true
          items:
            $ref: '#/components/schemas/ApplicationRef'
        awards:
          type: array
          description: References to highlighted awards.
          nullable: true
          items:
            $ref: '#/components/schemas/AwardRef'
        prizes:
          type: array
          description: References to highlighted prizes.
          nullable: true
          items:
            $ref: '#/components/schemas/PrizeRef'
        projects:
          type: array
          description: References to highlighted projects.
          nullable: true
          items:
            $ref: '#/components/schemas/ProjectRef'
        pressMedia:
          type: array
          description: References to highlighted press media.
          nullable: true
          items:
            $ref: '#/components/schemas/PressMediaRef'
        impacts:
          type: array
          description: References to highlighted impacts.
          nullable: true
          items:
            $ref: '#/components/schemas/ImpactRef'
        datasets:
          type: array
          description: References to highlighted datasets.
          nullable: true
          items:
            $ref: '#/components/schemas/DataSetRef'
        studentTheses:
          type: array
          description: References to highlighted student theses.
          nullable: true
          items:
            $ref: '#/components/schemas/StudentThesisRef'
        equipment:
          type: array
          description: References to highlighted equipment.
          nullable: true
          items:
            $ref: '#/components/schemas/EquipmentRef'
      description: A person's highlighted content
    OrganizationRef:
      required:
      - uuid
      type: object
      description: A reference to an organization in the institution
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    AcademicQualification:
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        awardDate:
          type: string
          description: Date that the education was awarded at.
          format: date
          nullable: true
        period:
          $ref: '#/components/schemas/CompoundDateRange'
        fieldOfStudy:
          $ref: '#/components/schemas/ClassificationRef'
        fieldOfStudyUnstructured:
          $ref: '#/components/schemas/LocalizedString'
        organization:
          $ref: '#/components/schemas/OrganizationOrExternalOrganizationRef'
        projectTitle:
          $ref: '#/components/schemas/LocalizedString'
        qualification:
          $ref: '#/components/schemas/ClassificationRef'
        qualificationUnstructured:
          $ref: '#/components/schemas/LocalizedString'
        distinction:
          $ref: '#/components/schemas/ClassificationRef'
        supervisor:
          $ref: '#/components/schemas/InternalOrExternalSupervisor'
      description: An object mapping the data of an education received by a person
    ClassificationRef:
      required:
      - uri
      type: object
      properties:
        uri:
          type: string
          description: Classification URI of the referred classification
        term:
          $ref: '#/components/schemas/SystemLocalizedString'
      description: A reference to a classification value
      nullable: true
    StaffOrganizationAssociation:
      type: object
      description: A relation describing the association between Staff and organization
      allOf:
      - $ref: '#/components/schemas/PersonOrganizationAssociation'
      - type: object
        properties:
          contractType:
            $ref: '#/components/schemas/ClassificationRef'
          fte:
            type: number
            description: The FTE (Full-Time Equivalent). A decimal number ranging between 0 (0% equivalent of full time) and 1 (100% equivalent of full time).
            format: double
            nullable: true
          jobDescription:
            $ref: '#/components/schemas/LocalizedString'
          jobTitle:
            $ref: '#/components/schemas/ClassificationRef'
          staffType:
            $ref: '#/components/schemas/ClassificationRef'
    MetricCollectionDefinitionList:
      type: object
      properties:
        items:
          type: array
          description: Information about each metric collection
          items:
            $ref: '#/components/schemas/MetricCollectionDefinition'
      description: List of metric collection definitions
    ClassifiedName:
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        name:
          $ref: '#/components/schemas/Name'
        type:
          $ref: '#/components/schemas/ClassificationRef'
      description: A classified name
    ClassificationSchemeRef:
      required:
      - uuid
      type: object
      description: A reference to a classification scheme
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    ClassifiedLocalizedValue:
      required:
      - type
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        value:
          $ref: '#/components/schemas/LocalizedString'
        type:
          $ref: '#/components/schemas/ClassificationRef'
      description: A classified localized value
    WorkflowListResult:
      type: object
      properties:
        workflows:
          type: array
          description: Allowed workflow steps.
          items:
            $ref: '#/components/schemas/Workflow'
      description: List of workflow steps.
    LocalesList:
      type: object
      properties:
        locales:
          pattern: /^[a-z]{2}_[A-Z]{2}$/
          type: array
          description: Allowed locale values for use in localized string entities. The locale format consists of lower-case ISO 639 alpha-2 language code and upper-cased ISO 3166 alpha-2 country code.
          items:
            pattern: /^[a-z]{2}_[A-Z]{2}$/
            type: string
            description: Allowed locale values for use in localized string entities. The locale format consists of lower-case ISO 639 alpha-2 language code and upper-cased ISO 3166 alpha-2 country code.
      description: List of available locales
    ImpactRef:
      required:
      - uuid
      type: object
      description: A reference to impact
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    NoteListResult:
      type: object
      properties:
        count:
          type: integer
          description: The full count, ignoring paging
          format: int32
        pageInformation:
          $ref: '#/components/schemas/PageInformation'
        items:
          type: array
          description: Notes
          items:
            $ref: '#/components/schemas/Note'
      description: List of notes
    MetricCollectionItem:
      required:
      - metricValues
      type: object
      properties:
        source:
          $ref: '#/components/schemas/ClassificationRef'
        category:
          $ref: '#/components/schemas/ClassificationRef'
        year:
          type: integer
          description: The year of the metric, if applicable.
          format: int32
          nullable: true
        metricValues:
          type: array
          description: List of metric values.
          items:
            $ref: '#/components/schemas/MetricValue'
      description: A metric collection. Contents a list of metric values.
    CompoundDateRange:
      type: object
      properties:
        startDate:
          $ref: '#/components/schemas/CompoundDate'
        endDate:
          $ref: '#/components/schemas/CompoundDate'
      description: A date range of that can be defined by only year, year and month or a full date
    Name:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
      description: A name describing a person, made up of given- and family name
    CourseRef:
      required:
      - uuid
      type: object
      description: A reference to a course
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    DisciplinesAssociationsQuery:
      type: object
      properties:
        uuids:
          type: array
          items:
            type: string
            format: uuid
        size:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
      description: Create a query for discipline associations
    PersonRef:
      required:
      - uuid
      type: object
      description: A reference to a person internal to the institution
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    Link:
      required:
      - url
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        url:
          type: string
          description: The URL (Uniform Resource Locator) of the link
        alias:
          type: string
          description: A user-friendly text to show instead of the URL
          nullable: true
        description:
          $ref: '#/components/schemas/LocalizedString'
        linkType:
          $ref: '#/components/schemas/ClassificationRef'
      description: A hyperlink describing a location on the web.
    DateRange:
      type: object
      properties:
        startDate:
          type: string
          description: Start date
          format: date
          nullable: true
        endDate:
          type: string
          description: End date
          format: date
          nullable: true
      description: A date range
    DisciplinesDisciplineAssignment:
      required:
      - disciplineId
      - splitPercentage
      type: object
      properties:
        disciplineId:
          type: string
          description: The assigned discipline
        splitPercentage:
          type: number
          description: The split percentages within an assigned discipline scheme must sum up to 100%
          format: double
      description: The assigned discipline and its split percentage
    StudentThesisRef:
      required:
      - uuid
      type: object
      description: A reference to student thesis
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    PersonExpertiseRef:
      required:
      - uuid
      type: object
      description: A reference to a person expertise
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    Workflow:
      required:
      - step
      type: object
      properties:
        step:
          type: string
          description: Current workflow step
        description:
          $ref: '#/components/schemas/SystemLocalizedString'
      description: Information about workflow
    InternalOrExternalSupervisor:
      type: object
      properties:
        externalSupervisor:
          $ref: '#/components/schemas/ExternalPersonRef'
        supervisor:
          $ref: '#/components/schemas/PersonRef'
      description: A supervisor, either internal or external, use as mutually exclusive
    DisciplinesAssociationListResult:
      type: object
      properties:
        count:
          type: integer
          description: The full count, ignoring paging
          format: int32
        pageInformation:
          $ref: '#/components/schemas/PageInformation'
        items:
          type: array
          description: Discipline associations
          items:
            $ref: '#/components/schemas/DisciplinesAssociation'
      description: List of discipline associations. Can contain a subset of all items along with the full count
    SystemLocalizedString:
      type: object
      additionalProperties:
        type: string
        description: A set of localized string values each for a specific UI locale.
        nullable: true
        example: '{"en_GB":"Some text"}'
      description: A set of localized string values each for a specific UI locale.
      nullable: true
      example:
        en_GB: Some text
    CustomDefinedFields:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/CustomDefinedField'
      description: Map of CustomDefinedField values, where the key is the field identifier
      nullable: true
      example: '{ "fieldName1": "typeDiscriminator": "Integer", "value" : 1}'
    ClassificationRefList:
      type: object
      properties:
        classifications:
          type: array
          items:
            $ref: '#/components/schemas/ClassificationRef'
      description: List of classification references
    ExternalOrganizationRef:
      required:
      - uuid
      type: object
      description: A reference to an organization external to the institution
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    Document:
      required:
      - fileName
      - mimeType
      - type
      - visibility
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        fileId:
          type: string
          description: The id of the file
          readOnly: true
        fileName:
          type: string
          description: The documents file name
        mimeType:
          type: string
          description: The documents mime type
        size:
          type: integer
          description: The documents size in bytes
          format: int64
        url:
          type: string
          description: Download url for the binary file
          readOnly: true
        fileStoreLocations:
          type: object
          additionalProperties:
            type: string
            description: Locations of the binary file in file stores.
            readOnly: true
          description: Locations of the binary file in file stores.
          readOnly: true
        uploadedFile:
          $ref: '#/components/schemas/UploadedFile'
        remoteFile:
          $ref: '#/components/schemas/RemoteFile'
        fileData:
          type: string
          description: Base64 encoded file data for new files. This property can be used instead of uploadedFile for small files
          format: byte
          writeOnly: true
        title:
          type: string
          description: Document title
          nullable: true
        type:
          $ref: '#/components/schemas/ClassificationRef'
        license:
          $ref: '#/components/schemas/ClassificationRef'
        visibleOnPortalDate:
          type: string
          description: The date the document will be available on the portal
          format: date
          readOnly: true
        visibility:
          $ref: '#/components/schemas/Visibility'
        creator:
          type: string
          description: The user that created the document
          readOnly: true
        created:
          type: string
          description: Create date for the document
          format: date-time
          readOnly: true
      description: Document
    CurriculumVitaeRef:
      required:
      - uuid
      type: object
      description: A reference to a curriculum vitae
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    PersonsQuery:
      type: object
      properties:
        uuids:
          type: array
          items:
            type: string
            format: uuid
        size:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
        orderings:
          type: array
          items:
            type: string
        searchString:
          type: string
          description: String used to perform search
        orderBy:
          type: string
          writeOnly: true
      description: Create a query for persons
    ImageFile:
      required:
      - fileName
      - mimeType
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        fileId:
          type: string
          description: The id of the file
          readOnly: true
        fileName:
          type: string
          description: The documents file name
        mimeType:
          type: string
          description: The documents mime type
        size:
          type: integer
          description: The documents size in bytes
          format: int64
        url:
          type: string
          description: Download url for the binary file
          readOnly: true
        fileStoreLocations:
          type: object
          additionalProperties:
            type: string
            description: Locations of the binary file in file stores.
            readOnly: true
          description: Locations of the binary file in file stores.
          readOnly: true
        uploadedFile:
          $ref: '#/components/schemas/UploadedFile'
        remoteFile:
          $ref: '#/components/schemas/RemoteFile'
        fileData:
          type: string
          description: Base64 encoded file data for new files. This property can be used instead of uploadedFile for small files
          format: byte
          writeOnly: true
        type:
          $ref: '#/components/schemas/ClassificationRef'
        copyrightConfirmation:
          type: boolean
          description: Indicates whether this file has been confirmed to adhere to the appropriate copyrights
          nullable: true
        caption:
          $ref: '#/components/schemas/LocalizedString'
        altText:
          $ref: '#/components/schemas/LocalizedString'
        copyrightStatement:
          $ref: '#/components/schemas/LocalizedString'
      description: An image file
    Identifier:
      required:
      - typeDiscriminator
      type: object
      properties:
        typeDiscriminator:
          type: string
      discriminator:
        propertyName: typeDiscriminator
        mapping:
          ClassifiedId: '#/components/schemas/ClassifiedId'
          PrimaryId: '#/components/schemas/PrimaryId'
          Id: '#/components/schemas/Id'
    ConflictProblemDetails:
      type: object
      properties:
        type:
          type: string
          description: A URI reference [RFC3986] that identifies the problem type.
        title:
          type: string
          description: A short, human-readable summary of the problem type. It SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization (e.g., using proactive content negotiation; see [RFC7231], Section 3.4).
        status:
          type: integer
          description: The HTTP status code ([RFC7231], Section 6) generated by the origin server for this occurrence of the problem.
          format: int32
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.  It may or may not yield further information if dereferenced.
        modified:
          type: string
          format: date-time
        modifiedBy:
          type: string
      description: Problem details for state conflict failures
    Address:
      type: object
      properties:
        road:
          type: string
          description: Name of road and house number, eg. 'Pennsylvania Avenue' or '123 Main St.'
          nullable: true
        room:
          type: string
          description: Room number or name if available, eg. '1.23' or 'Office of Creative Services'
          nullable: true
        building:
          type: string
          description: Building Name if available, eg. 'Couper Administration Building'
          nullable: true
        postalCode:
          type: string
          description: Postal code
          nullable: true
        city:
          type: string
          description: City or town, eg. 'Binghamton'
          nullable: true
        country:
          $ref: '#/components/schemas/ClassificationRef'
      description: A physical address
      nullable: true
    FingerprintListResult:
      type: object
      properties:
        count:
          type: integer
          description: The full count, ignoring paging
          format: int32
        pageInformation:
          $ref: '#/components/schemas/PageInformation'
        items:
          type: array
          description: Fingerprints
          items:
            $ref: '#/components/schemas/Fingerprint'
      description: List of fingerprints. Can contain a subset of all items along with the full count
    Visibility:
      required:
      - key
      type: object
      properties:
        key:
          type: string
          description: Visibility value
          enum:
          - FREE
          - CAMPUS
          - BACKEND
          - CONFIDENTIAL
        description:
          $ref: '#/components/schemas/SystemLocalizedString'
      description: Visibility of an object
    StudentOrganizationAssociation:
      type: object
      description: A relation describing the association between student and organization
      allOf:
      - $ref: '#/components/schemas/PersonOrganizationAssociation'
      - type: object
        properties:
          awardDate:
            type: string
            description: The date when the student received an award.
            format: date
            nullable: true
          awardGained:
            type: string
            description: Description of what award the student gained.
            nullable: true
          fte:
            type: number
            description: The FTE (Full-Time Equivalent). A decimal number ranging between 0 (0% equivalent of full time) and 1 (100% equivalent of full time).
            format: double
            nullable: true
          programme:
            type: string
            description: The name or title of a program often consists of the degree (e.g., BS) and the discipline or field of study (e.g., Business Administration).
            nullable: true
          projectTitle:
            $ref: '#/components/schemas/LocalizedString'
          expectedStudyDuration:
            type: integer
            description: The expected study duration.
            format: int32
            nullable: true
          minimumStudyDuration:
            type: integer
            description: The minimum study duration.
            format: int32
            nullable: true
          maximumStudyDuration:
            type: integer
            description: The maximum study duration.
            format: int32
            nullable: true
          programYear:
            type: string
            description: The program year
            nullable: true
          initialSubmissionDate:
            type: string
            description: The program year
            format: date
            nullable: true
          getExpectedEndDate:
            type: string
            description: Expected end date
            format: date
            nullable: true
          startYear:
            type: string
            description: Start year
            nullable: true
          attendanceStatus:
            $ref: '#/components/schemas/ClassificationRef'
          getStudentNationality:
            $ref: '#/components/schemas/ClassificationRef'
          studentResidencyFlag:
            type: string
            description: Residency flag of the student, indicating whether the student is a home student or an overseas student.
            enum:
            - UNKNOWN
            - HOME
            - OVERSEAS
          getStudentCountryOfDomicile:
            $ref: '#/components/schemas/ClassificationRef'
          studentTypeDescription:
            $ref: '#/components/schemas/ClassificationRef'
    OrganizationOrExternalOrganizationRef:
      type: object
      properties:
        organizationRef:
          $ref: '#/components/schemas/OrganizationRef'
        externalOrganizationRef:
          $ref: '#/components/schemas/ExternalOrganizationRef'
      description: A reference to an organization in the institution or an external organization
      nullable: true
    DisciplinesDisciplineScheme:
      required:
      - disciplineScheme
      - title
      type: object
      properties:
        disciplineScheme:
          type: string
          description: The discipline scheme identifier
        title:
          type: string
          description: The discipline title
      description: A discipline scheme
    LocalizedString:
      type: object
      additionalProperties:
        type: string
        description: 'A set of string values, one for each submission locale. Note: invalid locale values will be ignored.'
        nullable: true
        example: '{"en_GB":"Some text"}'
      description: 'A set of string values, one for each submission locale. Note: invalid locale values will be ignored.'
      nullable: true
      example:
        en_GB: Some text
    PersonSuperviseeAssociation:
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        period:
          $ref: '#/components/schemas/DateRange'
        supervisionPercentage:
          maximum: 100
          minimum: 0
          type: integer
          description: Percentage for which the Supervisor is responsible for the total supervision
          format: int32
        supervisorRole:
          $ref: '#/components/schemas/ClassificationRef'
        supervisee:
          $ref: '#/components/schemas/PersonRef'
      description: Association between a person and their supervisee
    AwardRef:
      required:
      - uuid
      type: object
      description: A reference to an award
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    UserRef:
      required:
      - uuid
      type: object
      description: A reference to an user
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    PersonSupervisorAssociation:
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        period:
          $ref: '#/components/schemas/DateRange'
        supervisionPercentage:
          maximum: 100
          minimum: 0
          type: integer
          description: Percentage for which the Supervisor is responsible for the total supervision
          format: int32
        supervisorRole:
          $ref: '#/components/schemas/ClassificationRef'
        supervisor:
          $ref: '#/components/schemas/InternalOrExternalSupervisor'
      description: The association data of a person and their supervisor
    ClassifiedFormattedLocalizedValue:
      required:
      - type
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        value:
          $ref: '#/components/schemas/FormattedLocalizedString'
        type:
          $ref: '#/components/schemas/ClassificationRef'
      description: A classified formatted localized value
    ExternalAppointment:
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        appointment:
          $ref: '#/components/schemas/ClassificationRef'
        appointmentString:
          $ref: '#/components/schemas/LocalizedString'
        period:
          $ref: '#/components/schemas/CompoundDateRange'
        externalOrganization:
          $ref: '#/components/schemas/ExternalOrganizationRef'
      description: An appointment held in an external organizational unit
    ClassifiedValue:
      required:
      - type
      - value
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        value:
          type: string
          description: Classified value
        type:
          $ref: '#/components/schemas/ClassificationRef'
      description: A classified value
    RankedConcept:
      required:
      - concept
      - rank
      type: object
      properties:
        concept:
          $ref: '#/components/schemas/ConceptRef'
        rank:
          type: number
          description: The rank of the ranked concept. If this is not set on creation, the ranked concept will have a default rank value of 0
          format: double
        weightedRank:
          type: number
          description: WeightedRank
          format: double
          nullable: true
        frequency:
          type: integer
          description: Frequency
          format: int32
          nullable: true
      description: A ranked concept
    PersonClassifiedLeaveOfAbsence:
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        classification:
          $ref: '#/components/schemas/ClassificationRef'
        period:
          $ref: '#/components/schemas/DateRange'
      description: Leave of absence held by a person
    FormattedLocalizedString:
      type: object
      additionalProperties:
        type: string
        description: A set of localized strings that support formatting. Invalid locale values will be ignored.
        nullable: true
        example: '{"en_GB":"Some text"}'
      description: A set of localized strings that support formatting. Invalid locale values will be ignored.
      nullable: true
      example:
        en_GB: Some text
    CustomDefinedField:
      required:
      - typeDiscriminator
      type: object
      properties:
        typeDiscriminator:
          type: string
      description: Map of CustomDefinedField values, where the key is the field identifier
      nullable: true
      example: '{ "fieldName1": "typeDiscriminator": "Integer", "value" : 1}'
      discriminator:
        propertyName: typeDiscriminator
        mapping:
          Integer: '#/components/schemas/CustomDefinedFieldInteger'
          String: '#/components/schemas/CustomDefinedFieldString'
          Date: '#/components/schemas/CustomDefinedFieldDate'
          Classification: '#/components/schemas/CustomDefinedFieldClassification'
          Boolean: '#/components/schemas/CustomDefinedFieldBoolean'
          Decimal: '#/components/schemas/CustomDefinedFieldDecimal'
    PersonSuperviseeAssociationListResult:
      type: object
      properties:
        count:
          type: integer
          description: The full count, ignoring paging
          format: int32
        pageInformation:
          $ref: '#/components/schemas/PageInformation'
        items:
          type: array
          description: Supervisee Associations
          items:
            $ref: '#/components/schemas/PersonSuperviseeAssociation'
      description: A list of supervision associations between persons
    Note:
      required:
      - text
      type: object
      properties:
        date:
          type: string
          description: Date and time of when the note was created, an event occurred or similar. Can be any point in time, but <now> is normally preferred
          format: date-time
          nullable: true
        username:
          type: string
          description: Username related to the note. Usually a username of the user creating the note. Does not have to be a username of a Pure user
          nullable: true
        text:
          type: string
          description: Note text
      description: A note
    OrderingsList:
      type: object
      properties:
        orderings:
          type: array
          description: IDs of ways content can be ordered
          items:
            type: string
            description: IDs of ways content can be ordered
      description: List of available orderings
    DisciplinesDiscipline:
      type: object
      properties:
        disciplineId:
          type: string
          description: The discipline identifier
          readOnly: true
        title:
          type: string
          description: The discipline title
          readOnly: true
        description:
          type: string
          description: The discipline description
          readOnly: true
      description: A discipline within a specific discipline scheme
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          description: A URI reference [RFC3986] that identifies the problem type.
        title:
          type: string
          description: A short, human-readable summary of the problem type. It SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization (e.g., using proactive content negotiation; see [RFC7231], Section 3.4).
        status:
          type: integer
          description: The HTTP status code ([RFC7231], Section 6) generated by the origin server for this occurrence of the problem.
          format: int32
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.  It may or may not yield further information if dereferenced.
      description: RFC7807 Error details
      discriminator:
        propertyName: type
        mapping:
          /error: '#/components/schemas/GenericProblemDetails'
          /validation-error: '#/components/schemas/ValidationProblemDetails'
          /dependency-violation-error: '#/components/schemas/DependencyViolationProblemDetails'
    PersonOrganizationAssociation:
      required:
      - typeDiscriminator
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        addresses:
          type: array
          description: List of physical addresses.
          nullable: true
          items:
            $ref: '#/components/schemas/ClassifiedAddress'
        affiliationId:
          type: string
          description: Affiliation identification. This could be a student ID or a staff ID.
          nullable: true
        employmentType:
          $ref: '#/components/schemas/ClassificationRef'
        organization:
          $ref: '#/components/schemas/OrganizationRef'
        emails:
          type: array
          description: List of emails.
          nullable: true
          items:
            $ref: '#/components/schemas/ClassifiedValue'
        webAddresses:
          type: array
          description: List of web addresses.
          nullable: true
          items:
            $ref: '#/components/schemas/ClassifiedLocalizedValue'
        phoneNumbers:
          type: array
          description: Phone numbers associated with the organization association.
          nullable: true
          items:
            $ref: '#/components/schemas/ClassifiedValue'
        period:
          $ref: '#/components/schemas/DateRange'
        supervisorAssociations:
          type: array
          description: List of associations to persons who supervise this person.
          nullable: true
          items:
            $ref: '#/components/schemas/PersonSupervisorAssociation'
        keywordGroups:
          type: array
          description: List of keyword groups.
          nullable: true
          items:
            $ref: '#/components/schemas/KeywordGroup'
        primaryAssociation:
          type: boolean
          description: A boolean value indicating whether this is the primary association or not. Only one of the associations from a person to an organization will be primary.
        typeDiscriminator:
          type: string
      nullable: true
      discriminator:
        propertyName: typeDiscriminator
        mapping:
          HonoraryStaffOrganizationAssociation: '#/components/schemas/HonoraryStaffOrganizationAssociation'
          StaffOrganizationAssociation: '#/components/schemas/StaffOrganizationAssociation'
          StudentOrganizationAssociation: '#/components/schemas/StudentOrganizationAssociation'
          VisitingScholarOrganizationAssociation: '#/components/schemas/VisitingScholarOrganizationAssociation'
    Fingerprint:
      required:
      - relatedContent
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        uuid:
          type: string
          description: UUID, this is the primary identity of the entity
          format: uuid
          readOnly: true
        createdBy:
          type: string
          description: Username of creator
          readOnly: true
        createdDate:
          type: string
          description: Date and time of creation
          format: date-time
          readOnly: true
        modifiedBy:
          type: string
          description: Username of the user that performed a modification
          readOnly: true
        modifiedDate:
          type: string
          description: Date and time of last modification
          format: date-time
          readOnly: true
        portalUrl:
          type: string
          description: URL of the content on the Pure Portal
          readOnly: true
        prettyUrlIdentifiers:
          type: array
          description: All pretty URLs
          readOnly: true
          items:
            type: string
            description: All pretty URLs
            readOnly: true
        previousUuids:
          type: array
          description: UUIDs of other content items which have been merged into this content item (or similar)
          readOnly: true
          items:
            type: string
            description: UUIDs of other content items which have been merged into this content item (or similar)
            readOnly: true
        version:
          type: string
          description: Used to guard against conflicting updates. For new content this is null, and for existing content the current value. The property should never be modified by a client, except in the rare case where the client wants to perform an update irrespective of if other clients have made updates in the meantime, also known as a "dirty write". A dirty write is performed by not including the property value or setting the property to null
          nullable: true
        relatedContent:
          $ref: '#/components/schemas/ContentRef'
        concepts:
          type: array
          description: The ranked concepts that makes up this fingerprint
          nullable: true
          items:
            $ref: '#/components/schemas/RankedConcept'
        systemName:
          type: string
          description: The content system name
          readOnly: true
      description: A fingerprint
    ResearchOutputRef:
      required:
      - uuid
      type: object
      description: A reference to a research output
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    ContentRefListResult:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ContentRef'
      description: List of Content Refs
    DataSetRef:
      required:
      - uuid
      type: object
      description: A reference to a data set
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    MetricValue:
      required:
      - metricId
      type: object
      properties:
        metricId:
          type: string
          description: ID of the metric that defines this metric value (this controls for example the type returned).
        integerValue:
          type: integer
          description: The integer value of the metric.
          format: int32
          nullable: true
        decimalValue:
          type: number
          description: The decimal value of the metric.
          nullable: true
        stringValue:
          type: string
          description: The string value of the metric.
          nullable: true
        booleanValue:
          type: boolean
          description: The boolean value of the metric.
          nullable: true
        classificationValue:
          $ref: '#/components/schemas/ClassificationRef'
      description: A metric value, that contains one piece of data. Only one type of value can be set at a time, and it must match the specification of the metric definition.
    EquipmentRef:
      required:
      - uuid
      type: object
      description: A reference to a piece of equipment
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    ProfessionalQualification:
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        abbreviatedQualification:
          $ref: '#/components/schemas/LocalizedString'
        period:
          $ref: '#/components/schemas/CompoundDateRange'
        qualification:
          $ref: '#/components/schemas/LocalizedString'
      description: The professional qualifications held by a person
    DisciplinesAssociation:
      required:
      - disciplineAssignments
      type: object
      properties:
        content:
          $ref: '#/components/schemas/ContentRef'
        disciplineScheme:
          type: string
          description: The discipline scheme these disciplines are assigned from
          readOnly: true
        disciplineAssignments:
          type: array
          description: A collection of assigned disciplines
          items:
            $ref: '#/components/schemas/DisciplinesDisciplineAssignment'
      description: An association between a content and a number of discipline assignments
    ContentRef:
      required:
      - systemName
      - uuid
      type: object
      properties:
        uuid:
          type: string
          description: UUID of the referred content
          format: uuid
        systemName:
          type: string
      nullable: true
      discriminator:
        propertyName: systemName
        mapping:
          AccessDefinition: '#/components/schemas/AccessDefinitionRef'
          Activity: '#/components/schemas/ActivityRef'
          Application: '#/components/schemas/ApplicationRef'
          AuthorCollaboration: '#/components/schemas/AuthorCollaborationRef'
          Award: '#/components/schemas/AwardRef'
          ClassificationScheme: '#/components/schemas/ClassificationSchemeRef'
          ConferenceSeries: '#/components/schemas/ConferenceSeriesRef'
          DataSet: '#/components/schemas/DataSetRef'
          Equipment: '#/components/schemas/EquipmentRef'
          Event: '#/components/schemas/EventRef'
          ExternalOrganization: '#/components/schemas/ExternalOrganizationRef'
          ExternalPerson: '#/components/schemas/ExternalPersonRef'
          Impact: '#/components/schemas/ImpactRef'
          Journal: '#/components/schemas/JournalRef'
          Organization: '#/components/schemas/OrganizationRef'
          Person: '#/components/schemas/PersonRef'
          Publisher: '#/components/schemas/PublisherRef'
          PressMedia: '#/components/schemas/PressMediaRef'
          Prize: '#/components/schemas/PrizeRef'
          Project: '#/components/schemas/ProjectRef'
          ResearchOutput: '#/components/schemas/ResearchOutputRef'
          StudentThesis: '#/components/schemas/StudentThesisRef'
          FundingOpportunity: '#/components/schemas/FundingOpportunityRef'
          EthicalReview: '#/components/schemas/EthicalReviewRef'
          ApplicationCluster: '#/components/schemas/ApplicationClusterRef'
          AwardCluster: '#/components/schemas/AwardClusterRef'
          User: '#/components/schemas/UserRef'
          ERA2018FieldOfResearch: '#/components/schemas/Anzsrc2008FieldOfResearchRef'
          UnitOfAssessmentREF2014: '#/components/schemas/Ref2014UnitOfAssessmentRef'
          UnitOfAssessmentREF2020: '#/components/schemas/Ref2020UnitOfAssessmentRef'
          ANZSRCTypeOfActivity: '#/components/schemas/Anzsrc2020TypeOfActivityRef'
          ANZSRCFieldOfResearch: '#/components/schemas/Anzsrc2020FieldOfResearchRef'
          ANZSRCSocioEconomicObjective: '#/components/schemas/Anzsrc2020SocioEconomicObjectiveRef'
          Semester: '#/components/schemas/SemesterRef'
          Education: '#/components/schemas/EducationRef'
          Course: '#/components/schemas/CourseRef'
          CurriculumVitae: '#/components/schemas/CurriculumVitaeRef'
          CustomDefinedFieldConfiguration: '#/components/schemas/CustomDefinedFieldConfigurationRef'
          KeywordGroupConfiguration: '#/components/schemas/KeywordGroupConfigurationRef'
          Review: '#/components/schemas/ReviewRef'
          GenericContentRef: '#/components/schemas/GenericContentRef'
          UserProfile: '#/components/schemas/UserProfileRef'
          Thesaurus: '#/components/schemas/ThesaurusRef'
          Concept: '#/components/schemas/ConceptRef'
          PersonExpertise: '#/components/schemas/PersonExpertiseRef'
          Contract: '#/components/schemas/ContractRef'
          Milestone: '#/components/schemas/MilestoneRef'
          Fingerprint: '#/components/schemas/FingerprintRef'
          Specialization: '#/components/schemas/SpecializationRef'
          StudentProject: '#/components/schemas/StudentProjectRef'
    PageInformation:
      type: object
      properties:
        offset:
          type: integer
          description: Offset that returned items start at
          format: int32
        size:
          type: integer
          description: The requested number of items. May be higher than the actual number of items in the result if there are fewer items in the store than requested
          format: int32
      description: Information about pages
    CompoundDate:
      required:
      - year
      type: object
      properties:
        year:
          maximum: 4000
          minimum: 0
          type: integer
          format: int32
        month:
          maximum: 12
          minimum: 1
          type: integer
          format: int32
          nullable: true
        day:
          maximum: 31
          minimum: 1
          type: integer
          format: int32
          nullable: true
      description: A date that can be defined by only year, year and month or a full date
      nullable: true
    ProjectRef:
      required:
      - uuid
      type: object
      description: A reference to project
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    Person:
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        uuid:
          type: string
          description: UUID, this is the primary identity of the entity
          format: uuid
          readOnly: true
        createdBy:
          type: string
          description: Username of creator
          readOnly: true
        createdDate:
          type: string
          description: Date and time of creation
          format: date-time
          readOnly: true
        modifiedBy:
          type: string
          description: Username of the user that performed a modification
          readOnly: true
        modifiedDate:
          type: string
          description: Date and time of last modification
          format: date-time
          readOnly: true
        portalUrl:
          type: string
          description: URL of the content on the Pure Portal
          readOnly: true
        prettyUrlIdentifiers:
          type: array
          description: All pretty URLs
          readOnly: true
          items:
            type: string
            description: All pretty URLs
            readOnly: true
        previousUuids:
          type: array
          description: UUIDs of other content items which have been merged into this content item (or similar)
          readOnly: true
          items:
            type: string
            description: UUIDs of other content items which have been merged into this content item (or similar)
            readOnly: true
        version:
          type: string
          description: Used to guard against conflicting updates. For new content this is null, and for existing content the current value. The property should never be modified by a client, except in the rare case where the client wants to perform an update irrespective of if other clients have made updates in the meantime, also known as a "dirty write". A dirty write is performed by not including the property value or setting the property to null
          nullable: true
        personExpertise:
          $ref: '#/components/schemas/PersonExpertiseRef'
        startDateAsResearcher:
          type: string
          description: Date that the person entered into the academic profession.
          format: date
          nullable: true
        affiliationNote:
          type: string
          description: Notes regarding affiliations of the person.
          nullable: true
        dateOfBirth:
          type: string
          description: The person's date of birth.
          format: date
          nullable: true
        employeeStartDate:
          type: string
          description: Date of the persons first day of the institution.
          format: date
          nullable: true
        employeeEndDate:
          type: string
          description: Date of the persons last day of the institution.
          format: date
          nullable: true
[...]
