openapi: 3.0.1
info:
  title: Pure activity contract API
  description: The Pure API provides a secure and complete web services API for using and managing research information data in Pure. The API enables a broad range of use-cases for interacting with research information, from anonymous Open Data scenarios to enabling the next generation Pure admin.
  termsOfService: ''
  contact:
    name: ''
    url: ''
    email: pure-support@elsevier.com
  license:
    name: ''
    url: ''
  version: 5.35.3-4
servers:
- url: https://yonsei.elsevierpure.com/ws/api
  description: Yonsei University Elsevier Pure REST API
security:
- api-key: []
tags:
- name: contract
paths:
  /contracts:
    get:
      tags:
      - contract
      summary: Lists all contracts
      description: Lists all contracts in the Pure instance. If you need to filter the contracts returned, see the POST version which supports additional filtering.
      operationId: contract_list
      parameters:
      - name: size
        in: query
        description: Number of returned contracts per request.
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 10
      - name: offset
        in: query
        description: The offset for the returned list. 0 or null value is from the start
        schema:
          type: integer
          format: int32
          default: 0
      - name: order
        in: query
        description: The order of the list, must be a value from /contracts/orderings
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractListResult'
    put:
      tags:
      - contract
      summary: Create contract
      description: Create contract
      operationId: contract_create
      requestBody:
        description: The content to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contract'
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /contracts/allowed-classified-identifier-types:
    get:
      tags:
      - contract
      summary: A list of allowed classified identifier types
      description: Get a list of allowed classified identifier types that can be used for the 'identifiers.type' attribute of contracts
      operationId: contract_getAllowedClassifiedIdentifierTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /contracts/allowed-collaborator-types:
    get:
      tags:
      - contract
      summary: A list of allowed contract collaborator types
      description: Get a list of allowed collaborator types that can be used for the 'type' attribute of contracts.collaborators
      operationId: contract_getAllowedCollaboratorTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /contracts/allowed-description-types:
    get:
      tags:
      - contract
      summary: A list of allowed description types
      description: Get a list of classifications that can be used when submitting a description.
      operationId: contract_getAllowedDescriptionTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /contracts/allowed-document-licenses:
    get:
      tags:
      - contract
      summary: A list of allowed document licenses
      description: Get a list of allowed license types for documents on activities
      operationId: contract_getAllowedDocumentLicenses
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /contracts/allowed-document-types:
    get:
      tags:
      - contract
      summary: A list of allowed document types
      description: Get a list of allowed license types that can be used for the 'documents.type' attribute of contracts
      operationId: contract_getAllowedDocumentTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /contracts/allowed-document-version-types:
    get:
      tags:
      - contract
      summary: A list of allowed document version types
      description: Get a list of allowed version types for documents on contract
      operationId: contract_getAllowedDocumentVersionTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /contracts/allowed-keyword-group-configurations:
    get:
      tags:
      - contract
      summary: A list of keyword group configurations
      description: Get a list of allowed keyword group configurations that can be used when submitting keyword groups.
      operationId: contract_getAllowedKeywordGroupConfigurations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllowedKeywordGroupConfigurationList'
  /contracts/allowed-keyword-group-configurations/{id}/classifications:
    get:
      tags:
      - contract
      summary: A list of allowed classifications for the specified keyword group
      description: Get a list of allowed classifications that can be used when submitting a specified keyword group.
      operationId: contract_getAllowedKeywordGroupConfigurationClassifications
      parameters:
      - name: id
        in: path
        description: Pure id of the keyword group configuration
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /contracts/allowed-link-types:
    get:
      tags:
      - contract
      summary: A list of allowed link types
      description: Get a list of allowed link types that can be used for the 'links.linkType' attribute of contracts
      operationId: contract_getAllowedLinkTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /contracts/allowed-locales:
    get:
      tags:
      - contract
      summary: A list of allowed locales in localized strings
      description: Get a list of allowed locales that can be used when submitting localized string entities.
      operationId: contract_getAllowedLocales
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalesList'
  /contracts/allowed-persons-roles:
    get:
      tags:
      - contract
      summary: A list of allowed person roles
      description: Get a list of allowed person roles that can be used for the 'persons.role' attribute of the contract.
      operationId: contract_getAllowedPersonsRoles
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /contracts/allowed-replies:
    get:
      tags:
      - contract
      summary: A list of allowed reply values
      description: Get a list of allowed replies that can be used for the 'reply' attribute of contracts
      operationId: contract_getAllowedReplies
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /contracts/allowed-requirements:
    get:
      tags:
      - contract
      summary: A list of allowed requirement values
      description: Get a list of allowed requirements that can be used for the 'requirement' attribute of contracts
      operationId: contract_getAllowedRequirements
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /contracts/allowed-types:
    get:
      tags:
      - contract
      summary: A list of allowed contract types
      description: Get a list of allowed types that can be used for the 'type' attribute of contracts
      operationId: contract_getAllowedTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /contracts/allowed-workflow-steps:
    get:
      tags:
      - contract
      summary: A list of allowed workflow steps
      description: Get a list of allowed workflow steps that can be used for the 'workflow' attribute of contracts
      operationId: contract_getAllowedWorkflowSteps
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowListResult'
  /contracts/file-uploads:
    put:
      tags:
      - contract
      summary: Upload file for a specific contract
      description: Uploads file for the contract
      operationId: contract_fileUploads
      parameters:
      - name: Content-Type
        in: header
        description: Set the mime type for the file
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              format: binary
        required: true
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadedFile'
            application/xml:
              schema:
                $ref: '#/components/schemas/UploadedFile'
  /contracts/orderings:
    get:
      tags:
      - contract
      summary: Lists available orderings
      description: Lists all orderings available to the contracts endpoint. These values can be used by the order parameter when listing contracts.
      operationId: contract_getOrderings
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderingsList'
  /contracts/search:
    post:
      tags:
      - contract
      summary: Query operation for contracts
      description: Lists contracts in the Pure instance that matches the provided query, similar to the GET version, instead of using parameters to alter the response, an JSON document is posted with the request. The JSON document contains fields for all the parameters available for the GET version, but also additional filtering options.
      operationId: contract_query
      requestBody:
        description: The query to perform
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractQuery'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractListResult'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /contracts/{uuid}:
    get:
      tags:
      - contract
      summary: Get contract
      description: Get contract with specific UUID.
      operationId: contract_get
      parameters:
      - name: uuid
        in: path
        description: UUID of the desired contract
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
        '301':
          description: The requested content have changed UUID
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    put:
      tags:
      - contract
      summary: Update contract
      description: Update contract with specific UUID.
      operationId: contract_update
      parameters:
      - name: uuid
        in: path
        description: UUID of the contract to update
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      requestBody:
        description: The content to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contract'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Version conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConflictProblemDetails'
    delete:
      tags:
      - contract
      summary: Delete contract
      description: Delete contract with specific UUID.
      operationId: contract_delete
      parameters:
      - name: uuid
        in: path
        description: UUID of the contract
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '204':
          description: Successful operation
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConflictProblemDetails'
  /contracts/{uuid}/actions/lock:
    post:
      tags:
      - contract
      summary: Lock the content
      description: Mark the content as external (used when content contains synchronised data). This has no effect on interactions with the content through the API.
      operationId: contract_lock
      parameters:
      - name: uuid
        in: path
        description: UUID of the content to lock
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '204':
          description: Content marked as locked
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Content already locked
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConflictProblemDetails'
  /contracts/{uuid}/actions/unlock:
    post:
      tags:
      - contract
      summary: Unlock the content
      description: Remove the external mark on the content (used when content contains synchronised data). This has no effect on interactions with the content through the API.
      operationId: contract_unlock
      parameters:
      - name: uuid
        in: path
        description: UUID of the content to unlock
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '204':
          description: Content marked as unlocked
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Content already unlocked
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConflictProblemDetails'
  /contracts/{uuid}/dependents:
    get:
      tags:
      - contract
      summary: Lists all dependents to a contract
      description: 'Lists all dependents to a contract with the specified UUID. If the user does not have access to view all the dependent content, an authorization error will be thrown. '
      operationId: contract_dependents
      parameters:
      - name: uuid
        in: path
        description: UUID of the contract
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: verbose
        in: query
        description: 'Default: false. Setting this to true will add links and names to the output but will also have a contract on performance. use with caution.'
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentRefListResult'
  /contracts/{uuid}/files/{fileId}:
    get:
      tags:
      - contract
      summary: Get file from the contract
      description: Get file from the contract
      operationId: contract_getFile
      parameters:
      - name: uuid
        in: path
        description: UUID of the contract
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: fileId
        in: path
        description: 'File id '
        required: true
        schema:
          pattern: .+
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                type: string
                format: binary
  /contracts/{uuid}/milestones:
    get:
      tags:
      - contract
      summary: List contract milestones on an contract
      description: List contract milestones on an contract.
      operationId: contract_getMilestones
      parameters:
      - name: uuid
        in: path
        description: UUID of the contract
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MilestoneListResult'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /contracts/{uuid}/notes:
    get:
      tags:
      - contract
      summary: Lists notes
      description: Lists notes associated with a student thesis ordered by date (nulls last)
      operationId: contract_listNotes
      parameters:
      - name: uuid
        in: path
        description: UUID of the student thesis to get notes for
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: size
        in: query
        description: Number of returned notes per request
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 10
      - name: offset
        in: query
        description: The offset for the returned list. 0 or null value is from the start
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteListResult'
        '404':
          description: student thesis not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    put:
      tags:
      - contract
      summary: Create note
      description: Create note and associate it with a student thesis
      operationId: contract_createNote
      parameters:
      - name: uuid
        in: path
        description: UUID of the student thesis to add note to
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      requestBody:
        description: The note to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Note'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
components:
  schemas:
    Visibility:
      required:
      - key
      type: object
      properties:
        key:
          type: string
          description: Visibility value
          enum:
          - FREE
          - CAMPUS
          - BACKEND
          - CONFIDENTIAL
        description:
          $ref: '#/components/schemas/SystemLocalizedString'
      description: Visibility of an object
    ContentRef:
      required:
      - systemName
      - uuid
      type: object
      properties:
        uuid:
          type: string
          description: UUID of the referred content
          format: uuid
        systemName:
          type: string
      nullable: true
      discriminator:
        propertyName: systemName
        mapping:
          AccessDefinition: '#/components/schemas/AccessDefinitionRef'
          Activity: '#/components/schemas/ActivityRef'
          Application: '#/components/schemas/ApplicationRef'
          AuthorCollaboration: '#/components/schemas/AuthorCollaborationRef'
          Award: '#/components/schemas/AwardRef'
          ClassificationScheme: '#/components/schemas/ClassificationSchemeRef'
          ConferenceSeries: '#/components/schemas/ConferenceSeriesRef'
          DataSet: '#/components/schemas/DataSetRef'
          Equipment: '#/components/schemas/EquipmentRef'
          Event: '#/components/schemas/EventRef'
          ExternalOrganization: '#/components/schemas/ExternalOrganizationRef'
          ExternalPerson: '#/components/schemas/ExternalPersonRef'
          Impact: '#/components/schemas/ImpactRef'
          Journal: '#/components/schemas/JournalRef'
          Organization: '#/components/schemas/OrganizationRef'
          Person: '#/components/schemas/PersonRef'
          Publisher: '#/components/schemas/PublisherRef'
          PressMedia: '#/components/schemas/PressMediaRef'
          Prize: '#/components/schemas/PrizeRef'
          Project: '#/components/schemas/ProjectRef'
          ResearchOutput: '#/components/schemas/ResearchOutputRef'
          StudentThesis: '#/components/schemas/StudentThesisRef'
          FundingOpportunity: '#/components/schemas/FundingOpportunityRef'
          EthicalReview: '#/components/schemas/EthicalReviewRef'
          ApplicationCluster: '#/components/schemas/ApplicationClusterRef'
          AwardCluster: '#/components/schemas/AwardClusterRef'
          User: '#/components/schemas/UserRef'
          ERA2018FieldOfResearch: '#/components/schemas/Anzsrc2008FieldOfResearchRef'
          UnitOfAssessmentREF2014: '#/components/schemas/Ref2014UnitOfAssessmentRef'
          UnitOfAssessmentREF2020: '#/components/schemas/Ref2020UnitOfAssessmentRef'
          ANZSRCTypeOfActivity: '#/components/schemas/Anzsrc2020TypeOfActivityRef'
          ANZSRCFieldOfResearch: '#/components/schemas/Anzsrc2020FieldOfResearchRef'
          ANZSRCSocioEconomicObjective: '#/components/schemas/Anzsrc2020SocioEconomicObjectiveRef'
          Semester: '#/components/schemas/SemesterRef'
          Education: '#/components/schemas/EducationRef'
          Course: '#/components/schemas/CourseRef'
          CurriculumVitae: '#/components/schemas/CurriculumVitaeRef'
          CustomDefinedFieldConfiguration: '#/components/schemas/CustomDefinedFieldConfigurationRef'
          KeywordGroupConfiguration: '#/components/schemas/KeywordGroupConfigurationRef'
          Review: '#/components/schemas/ReviewRef'
          GenericContentRef: '#/components/schemas/GenericContentRef'
          UserProfile: '#/components/schemas/UserProfileRef'
          Thesaurus: '#/components/schemas/ThesaurusRef'
          Concept: '#/components/schemas/ConceptRef'
          PersonExpertise: '#/components/schemas/PersonExpertiseRef'
          Contract: '#/components/schemas/ContractRef'
          Milestone: '#/components/schemas/MilestoneRef'
          Fingerprint: '#/components/schemas/FingerprintRef'
          Specialization: '#/components/schemas/SpecializationRef'
          StudentProject: '#/components/schemas/StudentProjectRef'
    PageInformation:
      type: object
      properties:
        offset:
          type: integer
          description: Offset that returned items start at
          format: int32
        size:
          type: integer
          description: The requested number of items. May be higher than the actual number of items in the result if there are fewer items in the store than requested
          format: int32
      description: Information about pages
    ContractRef:
      required:
      - uuid
      type: object
      description: A reference to a contract
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    ContractExtended:
      type: object
      properties:
        date:
          type: string
          description: Date of the extension
          format: date
          nullable: true
      description: Information about the contract extension.
    OrganizationRef:
      required:
      - uuid
      type: object
      description: A reference to an organization in the institution
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    ProjectRef:
      required:
      - uuid
      type: object
      description: A reference to project
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    AbstractClassifiedContractPersonAssociation:
      required:
      - role
      - typeDiscriminator
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        externalOrganizations:
          type: array
          description: A collection of external organization affiliations.
          nullable: true
          items:
            $ref: '#/components/schemas/ExternalOrganizationRef'
        name:
          $ref: '#/components/schemas/Name'
        role:
          $ref: '#/components/schemas/ClassificationRef'
        typeDiscriminator:
          type: string
      description: The persons associated with this contract
      discriminator:
        propertyName: typeDiscriminator
    MilestoneDocument:
      required:
      - fileName
      - mimeType
      - type
      - visibility
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        fileId:
          type: string
          description: The id of the file
          readOnly: true
        fileName:
          type: string
          description: The documents file name
        mimeType:
          type: string
          description: The documents mime type
        size:
          type: integer
          description: The documents size in bytes
          format: int64
        url:
          type: string
          description: Download url for the binary file
          readOnly: true
        fileStoreLocations:
          type: object
          additionalProperties:
            type: string
            description: Locations of the binary file in file stores.
            readOnly: true
          description: Locations of the binary file in file stores.
          readOnly: true
        uploadedFile:
          $ref: '#/components/schemas/UploadedFile'
        remoteFile:
          $ref: '#/components/schemas/RemoteFile'
        fileData:
          type: string
          description: Base64 encoded file data for new files. This property can be used instead of uploadedFile for small files
          format: byte
          writeOnly: true
        title:
          type: string
          description: Document title
          nullable: true
        type:
          $ref: '#/components/schemas/ClassificationRef'
        visibility:
          $ref: '#/components/schemas/Visibility'
        creator:
          type: string
          description: The user that created the document
          readOnly: true
        created:
          type: string
          description: Create date for the document
          format: date-time
          readOnly: true
      description: A milestone document
    ClassificationRef:
      required:
      - uri
      type: object
      properties:
        uri:
          type: string
          description: Classification URI of the referred classification
        term:
          $ref: '#/components/schemas/SystemLocalizedString'
      description: A reference to a classification value
      nullable: true
    UploadedFile:
      required:
      - key
      type: object
      properties:
        digest:
          type: string
          description: The calculated digest for the file in Pure
          readOnly: true
        digestType:
          type: string
          description: The digest type
          readOnly: true
        size:
          type: integer
          description: The file size of the file in Pure
          format: int64
          readOnly: true
        mimeType:
          type: string
          description: The mime type detected for the file
          readOnly: true
        timeStamp:
          type: string
          description: The timestamp Pure received the file
          format: date-time
          readOnly: true
        expires:
          type: string
          description: The timestamp where Pure deletes the uploaded file if it has not been attached to any content
          format: date-time
          readOnly: true
        key:
          type: string
          description: Pure key identifer for the file upload
          readOnly: true
      description: Information about the uploaded file
    ContractContractAssociation:
      required:
      - contract
      type: object
      properties:
        contract:
          $ref: '#/components/schemas/ContractRef'
        note:
          type: string
          description: Association note
          nullable: true
      description: An association with a contract
    ContractApplicationAssociation:
      required:
      - application
      type: object
      properties:
        application:
          $ref: '#/components/schemas/ApplicationRef'
        note:
          type: string
          description: Association note
          nullable: true
      description: An association with an application
    DateRange:
      type: object
      properties:
        startDate:
          type: string
          description: Start date
          format: date
          nullable: true
        endDate:
          type: string
          description: End date
          format: date
          nullable: true
      description: A date range
    ApplicationRef:
      required:
      - uuid
      type: object
      description: A reference to an application
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    ContractQuery:
      type: object
      properties:
        uuids:
          type: array
          items:
            type: string
            format: uuid
        size:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
        orderings:
          type: array
          items:
            type: string
        searchString:
          type: string
          description: String used to perform search
        orderBy:
          type: string
          writeOnly: true
      description: Create a query for contract
    Link:
      required:
      - url
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        url:
          type: string
          description: The URL (Uniform Resource Locator) of the link
        alias:
          type: string
          description: A user-friendly text to show instead of the URL
          nullable: true
        description:
          $ref: '#/components/schemas/LocalizedString'
        linkType:
          $ref: '#/components/schemas/ClassificationRef'
      description: A hyperlink describing a location on the web.
    LocalizedString:
      type: object
      additionalProperties:
        type: string
        description: 'A set of string values, one for each submission locale. Note: invalid locale values will be ignored.'
        nullable: true
        example: '{"en_GB":"Some text"}'
      description: 'A set of string values, one for each submission locale. Note: invalid locale values will be ignored.'
      nullable: true
      example:
        en_GB: Some text
    AwardRef:
      required:
      - uuid
      type: object
      description: A reference to an award
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    UserRef:
      required:
      - uuid
      type: object
      description: A reference to an user
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    Workflow:
      required:
      - step
      type: object
      properties:
        step:
          type: string
          description: Current workflow step
        description:
          $ref: '#/components/schemas/SystemLocalizedString'
      description: Information about workflow
    ClassifiedFormattedLocalizedValue:
      required:
      - type
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        value:
          $ref: '#/components/schemas/FormattedLocalizedString'
        type:
          $ref: '#/components/schemas/ClassificationRef'
      description: A classified formatted localized value
    AllowedKeywordGroupConfiguration:
      required:
      - targetSystemName
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        targetSystemName:
          type: string
          description: The content system name this configuration applies to
        keywordGroupType:
          type: string
          description: The OpenAPI schema type of this keyword configuration
          readOnly: true
        name:
          $ref: '#/components/schemas/LocalizedString'
        description:
          $ref: '#/components/schemas/FormattedLocalizedString'
        classificationScheme:
          $ref: '#/components/schemas/ClassificationSchemeRef'
        allowUserdefinedKeywords:
          type: boolean
          description: Defines if user defined keywords are allowed
        limitToLeafSelection:
          type: boolean
        logicalName:
          type: string
        relationType:
          type: string
          description: The schema name of the type (with the ability to associate keywords) on which the keyword group configuration is related to, e.g. StaffOrganizationAssociation. It can also be set to null (default value), which means the keyword group configuration is related to the main type (the target system name) and not a relation of the main type.
          nullable: true
      description: A specification of the allowed behavior of a specified keyword group
    ClassificationSchemeRef:
      required:
      - uuid
      type: object
      description: A reference to a classification scheme
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    ExternalPersonRef:
      required:
      - uuid
      type: object
      description: A reference to a person external to the institution
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    SystemLocalizedString:
      type: object
      additionalProperties:
        type: string
        description: A set of localized string values each for a specific UI locale.
        nullable: true
        example: '{"en_GB":"Some text"}'
      description: A set of localized string values each for a specific UI locale.
      nullable: true
      example:
        en_GB: Some text
    AllowedKeywordGroupConfigurationList:
      type: object
      properties:
        configurations:
          type: array
          items:
            $ref: '#/components/schemas/AllowedKeywordGroupConfiguration'
      description: List of allowed keyword group configurations
    WorkflowListResult:
      type: object
      properties:
        workflows:
          type: array
          description: Allowed workflow steps.
          items:
            $ref: '#/components/schemas/Workflow'
      description: List of workflow steps.
    ClassificationRefList:
      type: object
      properties:
        classifications:
          type: array
          items:
            $ref: '#/components/schemas/ClassificationRef'
      description: List of classification references
    ContractCollaboratorAssociation:
      required:
      - externalOrganization
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        type:
          $ref: '#/components/schemas/ClassificationRef'
        externalOrganization:
          $ref: '#/components/schemas/ExternalOrganizationRef'
        contactPersons:
          type: array
          description: A collection of contact persons
          items:
            $ref: '#/components/schemas/ExternalPersonRef'
        leadCollaborator:
          type: boolean
      description: A association between a contract and a collaborator
    LocalesList:
      type: object
      properties:
        locales:
          pattern: /^[a-z]{2}_[A-Z]{2}$/
          type: array
          description: Allowed locale values for use in localized string entities. The locale format consists of lower-case ISO 639 alpha-2 language code and upper-cased ISO 3166 alpha-2 country code.
          items:
            pattern: /^[a-z]{2}_[A-Z]{2}$/
            type: string
            description: Allowed locale values for use in localized string entities. The locale format consists of lower-case ISO 639 alpha-2 language code and upper-cased ISO 3166 alpha-2 country code.
      description: List of available locales
    FormattedLocalizedString:
      type: object
      additionalProperties:
        type: string
        description: A set of localized strings that support formatting. Invalid locale values will be ignored.
        nullable: true
        example: '{"en_GB":"Some text"}'
      description: A set of localized strings that support formatting. Invalid locale values will be ignored.
      nullable: true
      example:
        en_GB: Some text
    ExternalOrganizationRef:
      required:
      - uuid
      type: object
      description: A reference to an organization external to the institution
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    ContractDocument:
      required:
      - fileName
      - mimeType
      - type
      - versionType
      - visibility
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        fileId:
          type: string
          description: The id of the file
          readOnly: true
        fileName:
          type: string
          description: The documents file name
        mimeType:
          type: string
          description: The documents mime type
        size:
          type: integer
          description: The documents size in bytes
          format: int64
        url:
          type: string
          description: Download url for the binary file
          readOnly: true
        fileStoreLocations:
          type: object
          additionalProperties:
            type: string
            description: Locations of the binary file in file stores.
            readOnly: true
          description: Locations of the binary file in file stores.
          readOnly: true
        uploadedFile:
          $ref: '#/components/schemas/UploadedFile'
        remoteFile:
          $ref: '#/components/schemas/RemoteFile'
        fileData:
          type: string
          description: Base64 encoded file data for new files. This property can be used instead of uploadedFile for small files
          format: byte
          writeOnly: true
        title:
          type: string
          description: Document title
          nullable: true
        type:
          $ref: '#/components/schemas/ClassificationRef'
        license:
          $ref: '#/components/schemas/ClassificationRef'
        visibleOnPortalDate:
          type: string
          description: The date the document will be available on the portal
          format: date
          readOnly: true
        visibility:
          $ref: '#/components/schemas/Visibility'
        creator:
          type: string
          description: The user that created the document
          readOnly: true
        created:
          type: string
          description: Create date for the document
          format: date-time
          readOnly: true
        versionType:
          $ref: '#/components/schemas/ClassificationRef'
      description: A contract document.
    Contract:
      required:
      - managingOrganization
      - persons
      - title
      - type
      - visibility
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        uuid:
          type: string
          description: UUID, this is the primary identity of the entity
          format: uuid
          readOnly: true
        createdBy:
          type: string
          description: Username of creator
          readOnly: true
        createdDate:
          type: string
          description: Date and time of creation
          format: date-time
          readOnly: true
        modifiedBy:
          type: string
          description: Username of the user that performed a modification
          readOnly: true
        modifiedDate:
          type: string
          description: Date and time of last modification
          format: date-time
          readOnly: true
        portalUrl:
          type: string
          description: URL of the content on the Pure Portal
          readOnly: true
        prettyUrlIdentifiers:
          type: array
          description: All pretty URLs
          readOnly: true
          items:
            type: string
            description: All pretty URLs
            readOnly: true
        previousUuids:
          type: array
          description: UUIDs of other content items which have been merged into this content item (or similar)
          readOnly: true
          items:
            type: string
            description: UUIDs of other content items which have been merged into this content item (or similar)
            readOnly: true
        version:
          type: string
          description: Used to guard against conflicting updates. For new content this is null, and for existing content the current value. The property should never be modified by a client, except in the rare case where the client wants to perform an update irrespective of if other clients have made updates in the meantime, also known as a "dirty write". A dirty write is performed by not including the property value or setting the property to null
          nullable: true
        title:
          $ref: '#/components/schemas/LocalizedString'
        persons:
          type: array
          description: The persons associated with this contract
          items:
            $ref: '#/components/schemas/AbstractClassifiedContractPersonAssociation'
        requirement:
          $ref: '#/components/schemas/ClassificationRef'
        priority:
          type: string
          description: Specifies the priority of the contract
          enum:
          - LOW
          - MEDIUM
          - HIGH
        deadline:
          type: string
          description: Contract deadline
          format: date
          nullable: true
        validDates:
          $ref: '#/components/schemas/DateRange'
        organizations:
          type: array
          description: A collection of organizational unit affiliations.
          items:
            $ref: '#/components/schemas/OrganizationRef'
        applications:
          type: array
          description: Applications related to the contract
          items:
            $ref: '#/components/schemas/ContractApplicationAssociation'
        awards:
          type: array
          description: Awards related to the contract
          items:
            $ref: '#/components/schemas/ContractAwardAssociation'
        contracts:
          type: array
          description: Contracts related to the contract
          items:
            $ref: '#/components/schemas/ContractContractAssociation'
        collaborators:
          type: array
          description: Contract collaborators
          items:
            $ref: '#/components/schemas/ContractCollaboratorAssociation'
        visibility:
          $ref: '#/components/schemas/Visibility'
        extension:
          $ref: '#/components/schemas/ContractExtended'
        type:
          $ref: '#/components/schemas/ClassificationRef'
        managingOrganization:
          $ref: '#/components/schemas/OrganizationRef'
        externalOrganizations:
          type: array
          description: A collection of organizational unit affiliations.
          items:
            $ref: '#/components/schemas/ExternalOrganizationRef'
        identifiers:
          type: array
          description: Identifiers related to the contract.
          nullable: true
          items:
            $ref: '#/components/schemas/Identifier'
        keywordGroups:
          type: array
          description: Groups of keywords associated with the contract.
          nullable: true
          items:
            $ref: '#/components/schemas/KeywordGroup'
        documents:
          type: array
          description: The contract documents
          items:
            $ref: '#/components/schemas/ContractDocument'
        links:
          type: array
          description: Links associated with the contract.
          nullable: true
          items:
            $ref: '#/components/schemas/Link'
        descriptions:
          type: array
          description: A collection of descriptions for the contract. Query the /contracts/allowed-description-types endpoint for allowed types.
          nullable: true
          items:
            $ref: '#/components/schemas/ClassifiedFormattedLocalizedValue'
        workflow:
          $ref: '#/components/schemas/Workflow'
        responsibleUsers:
          type: array
          description: The specific users chosen to be responsible for the content
          items:
            $ref: '#/components/schemas/UserRef'
        curtailed:
          $ref: '#/components/schemas/ContractCurtailed'
        systemName:
          type: string
          description: The content system name
          readOnly: true
      description: A contract
    MilestoneReminder:
      required:
      - timeUnit
      - value
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        value:
          type: integer
          description: Number of units in reminder period.
          format: int32
        timeUnit:
          type: string
          description: The time unit of the reminder.
          enum:
          - MONTH
          - WEEK
          - DAY
      description: A milestone reminder.
    NoteListResult:
      type: object
      properties:
        count:
          type: integer
          description: The full count, ignoring paging
          format: int32
        pageInformation:
          $ref: '#/components/schemas/PageInformation'
        items:
          type: array
          description: Notes
          items:
            $ref: '#/components/schemas/Note'
      description: List of notes
    Note:
      required:
      - text
      type: object
      properties:
        date:
          type: string
          description: Date and time of when the note was created, an event occurred or similar. Can be any point in time, but <now> is normally preferred
          format: date-time
          nullable: true
        username:
          type: string
          description: Username related to the note. Usually a username of the user creating the note. Does not have to be a username of a Pure user
          nullable: true
        text:
          type: string
          description: Note text
      description: A note
    OrderingsList:
      type: object
      properties:
        orderings:
          type: array
          description: IDs of ways content can be ordered
          items:
            type: string
            description: IDs of ways content can be ordered
      description: List of available orderings
    MilestoneListResult:
      type: object
      properties:
        count:
          type: integer
          description: The full count, ignoring paging
          format: int32
        pageInformation:
          $ref: '#/components/schemas/PageInformation'
        items:
          type: array
          description: Milestones
          items:
            $ref: '#/components/schemas/Milestone'
      description: List of milestones. Can contain a subset of all items along with the full count
    EthicalReviewRef:
      required:
      - uuid
      type: object
      description: A reference to an ethical review
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    ContractCurtailed:
      type: object
      properties:
        date:
          type: string
          description: Date of the curtail
          format: date
          nullable: true
        reason:
          type: string
          description: Reason for the curtail
          nullable: true
      description: Information about the reason the contract is curtailed.
    Milestone:
      required:
      - milestoneType
      - title
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        uuid:
          type: string
          description: UUID, this is the primary identity of the entity
          format: uuid
          readOnly: true
        createdBy:
          type: string
          description: Username of creator
          readOnly: true
        createdDate:
          type: string
          description: Date and time of creation
          format: date-time
          readOnly: true
        modifiedBy:
          type: string
          description: Username of the user that performed a modification
          readOnly: true
        modifiedDate:
          type: string
          description: Date and time of last modification
          format: date-time
          readOnly: true
        portalUrl:
          type: string
          description: URL of the content on the Pure Portal
          readOnly: true
        prettyUrlIdentifiers:
          type: array
          description: All pretty URLs
          readOnly: true
          items:
            type: string
            description: All pretty URLs
            readOnly: true
        previousUuids:
          type: array
          description: UUIDs of other content items which have been merged into this content item (or similar)
          readOnly: true
          items:
            type: string
            description: UUIDs of other content items which have been merged into this content item (or similar)
            readOnly: true
        version:
          type: string
          description: Used to guard against conflicting updates. For new content this is null, and for existing content the current value. The property should never be modified by a client, except in the rare case where the client wants to perform an update irrespective of if other clients have made updates in the meantime, also known as a "dirty write". A dirty write is performed by not including the property value or setting the property to null
          nullable: true
        deadline:
          type: string
          description: The deadline date of the milestone.
          format: date
          nullable: true
        completionState:
          $ref: '#/components/schemas/ClassificationRef'
        completedDate:
          type: string
          description: The date when the milestone was completed. This can only be set when 'completionState' property value is 'completed'
          format: date
          nullable: true
        award:
          $ref: '#/components/schemas/AwardRef'
        application:
          $ref: '#/components/schemas/ApplicationRef'
        project:
          $ref: '#/components/schemas/ProjectRef'
        ethicalReview:
          $ref: '#/components/schemas/EthicalReviewRef'
        contract:
          $ref: '#/components/schemas/ContractRef'
        completedBy:
          $ref: '#/components/schemas/UserRef'
        title:
          $ref: '#/components/schemas/LocalizedString'
        reminders:
          type: array
          description: List of reminders
          items:
            $ref: '#/components/schemas/MilestoneReminder'
        administrativeRole:
          type: string
          description: The user role for the milestone for administrative milestones
          nullable: true
        academicRole:
          $ref: '#/components/schemas/ClassificationRef'
        description:
          $ref: '#/components/schemas/FormattedLocalizedString'
        category:
          $ref: '#/components/schemas/ClassificationRef'
        milestoneType:
          type: string
          description: Selected milestone type. Based on the value used for 'milestoneType', it is mandatory to fill either 'academicRole' or 'administrativeRole' property as well.
          enum:
          - ACADEMIC
          - ADMINISTRATIVE
        documents:
          type: array
          description: A collection of documents related to the milestone.
          nullable: true
          items:
            $ref: '#/components/schemas/MilestoneDocument'
        responsibleUsers:
          type: array
          description: 'The specific users chosen to be responsible for the content.

            When milestone type is ''Academic'', responsible user can be one of the associated academic, that have a role on the content, that matches the responsible role.

            When the type is ''Administrative'', responsible user must have an administrator role, that matches the selected role.

            When the milestone role is an editor role, the selected user must have an editorial role that matches the owner or related organizations of the milestone.'
          items:
            $ref: '#/components/schemas/UserRef'
        identifiers:
          type: array
          description: Identifiers related to the milestone.
          nullable: true
          items:
            $ref: '#/components/schemas/Identifier'
        systemName:
          type: string
          description: The content system name
          readOnly: true
      description: A milestone.
    Name:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
      description: A name describing a person, made up of given- and family name
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          description: A URI reference [RFC3986] that identifies the problem type.
        title:
          type: string
          description: A short, human-readable summary of the problem type. It SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization (e.g., using proactive content negotiation; see [RFC7231], Section 3.4).
        status:
          type: integer
          description: The HTTP status code ([RFC7231], Section 6) generated by the origin server for this occurrence of the problem.
          format: int32
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.  It may or may not yield further information if dereferenced.
      description: RFC7807 Error details
      discriminator:
        propertyName: type
        mapping:
          /error: '#/components/schemas/GenericProblemDetails'
          /validation-error: '#/components/schemas/ValidationProblemDetails'
          /dependency-violation-error: '#/components/schemas/DependencyViolationProblemDetails'
    RemoteFile:
      required:
      - fileId
      - fileState
      - sourceId
      - storeName
      type: object
      properties:
        sourceId:
          type: string
          description: The remote source ID
        storeName:
          type: string
          description: The name of the remote store
        timeStamp:
          type: string
          description: The timestamp at which the file was stored
          format: date-time
        fileId:
          type: string
          description: The remote file ID
        fileState:
          type: string
          description: The remote file state
          enum:
          - AWAITING_CREATION
          - CREATION_IN_PROGRESS
          - CREATION_FAILED
          - STORED
          - AWAITING_DELETE
          - DELETE_IN_PROGRESS
          - DELETE_FAILED
          - DELETED
        metadataUpdateRequired:
          type: boolean
          description: Whether the file's metadata should be updated
          default: false
      description: Information about a remote file (Elsevier only)
    SystemCurrencyAmount:
      required:
      - value
      type: object
      properties:
        currency:
          type: string
          description: 'An ISO-4217 3-letter alphabetic code representing the Pure installation''s system currency as defined by the W3C''s Payment Request standard: https://www.w3.org/TR/payment-request/#dom-paymentcurrencyamount-currency'
          readOnly: true
        value:
          type: string
          description: 'A valid decimal monetary value as defined by the W3C''s Payment Request standard: https://www.w3.org/TR/payment-request/#dom-paymentcurrencyamount-value'
          format: ^-?[0-9]+(\.[0-9]+)?$
      description: 'A monetary value in the Pure installation''s system currency as defined by the W3C''s Payment Request standard: https://www.w3.org/TR/payment-request/#paymentcurrencyamount-dictionary'
    Identifier:
      required:
      - typeDiscriminator
      type: object
      properties:
        typeDiscriminator:
          type: string
      discriminator:
        propertyName: typeDiscriminator
        mapping:
          ClassifiedId: '#/components/schemas/ClassifiedId'
          PrimaryId: '#/components/schemas/PrimaryId'
          Id: '#/components/schemas/Id'
    ContractListResult:
      type: object
      properties:
        count:
          type: integer
          description: The full count, ignoring paging
          format: int32
        pageInformation:
          $ref: '#/components/schemas/PageInformation'
        items:
          type: array
          description: Contracts
          items:
            $ref: '#/components/schemas/Contract'
      description: List of contracts. Can contain a subset of all items along with the full count
    ConflictProblemDetails:
      type: object
      properties:
        type:
          type: string
          description: A URI reference [RFC3986] that identifies the problem type.
        title:
          type: string
          description: A short, human-readable summary of the problem type. It SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization (e.g., using proactive content negotiation; see [RFC7231], Section 3.4).
        status:
          type: integer
          description: The HTTP status code ([RFC7231], Section 6) generated by the origin server for this occurrence of the problem.
          format: int32
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.  It may or may not yield further information if dereferenced.
        modified:
          type: string
          format: date-time
        modifiedBy:
          type: string
      description: Problem details for state conflict failures
    ContentRefListResult:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ContentRef'
      description: List of Content Refs
    ContractAwardAssociation:
      required:
      - award
      type: object
      properties:
        award:
          $ref: '#/components/schemas/AwardRef'
        value:
          $ref: '#/components/schemas/SystemCurrencyAmount'
        note:
          type: string
          description: Association note
          nullable: true
      description: An association with an award
    KeywordGroup:
      required:
      - logicalName
      - typeDiscriminator
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        logicalName:
          type: string
          description: Unique name of the configuration that specifies this keyword group
        name:
          $ref: '#/components/schemas/LocalizedString'
        typeDiscriminator:
          type: string
      discriminator:
        propertyName: typeDiscriminator
        mapping:
          ClassificationsKeywordGroup: '#/components/schemas/ClassificationsKeywordGroup'
          FreeKeywordsKeywordGroup: '#/components/schemas/FreeKeywordsKeywordGroup'
          FullKeywordGroup: '#/components/schemas/FullKeywordGroup'
  securitySchemes:
    api-key:
      type: apiKey
      description: Security mechanism for the API
      name: api-key
      in: header
