openapi: 3.0.1
info:
  title: Pure activity project API
  description: The Pure API provides a secure and complete web services API for using and managing research information data in Pure. The API enables a broad range of use-cases for interacting with research information, from anonymous Open Data scenarios to enabling the next generation Pure admin.
  termsOfService: ''
  contact:
    name: ''
    url: ''
    email: pure-support@elsevier.com
  license:
    name: ''
    url: ''
  version: 5.35.3-4
servers:
- url: https://yonsei.elsevierpure.com/ws/api
  description: Yonsei University Elsevier Pure REST API
security:
- api-key: []
tags:
- name: project
paths:
  /projects:
    get:
      tags:
      - project
      summary: Lists all projects
      description: Lists all projects in the Pure instance. If you need to filter the projects returned, see the POST version which supports additional filtering.
      operationId: project_list
      parameters:
      - name: size
        in: query
        description: Number of returned projects per request.
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 10
      - name: offset
        in: query
        description: The offset for the returned list. 0 or null value is from the start
        schema:
          type: integer
          format: int32
          default: 0
      - name: order
        in: query
        description: The order of the list, must be a value from project_getOrderings
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListResult'
    put:
      tags:
      - project
      summary: Create project
      description: Create project
      operationId: project_create
      requestBody:
        description: The content to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /projects/allowed-classified-identifier-types:
    get:
      tags:
      - project
      summary: A list of allowed classified identifier types
      description: Get a list of allowed classified identifier types that can be used for the 'identifiers.type' attribute of projects
      operationId: project_getAllowedClassifiedIdentifierTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /projects/allowed-collaborator-types:
    get:
      tags:
      - project
      summary: A list of allowed collaborator types
      description: Get a list of allowed types for collaborators on projects
      operationId: project_getAllowedCollaboratorTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /projects/allowed-custom-defined-field-values/{propertyName}/classifications:
    get:
      tags:
      - project
      summary: Get allowed classifications for the custom-defined field associated with the project
      description: Get allowed classifications for the custom-defined field associated with the project.
      operationId: project_getAllowedCustomDefinedFieldClassifications
      parameters:
      - name: propertyName
        in: path
        description: PropertyName for the desired custom-defined field
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /projects/allowed-description-types:
    get:
      tags:
      - project
      summary: A list of allowed description types
      description: Get a list of allowed types for descriptions on projects
      operationId: project_getAllowedDescriptionTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /projects/allowed-document-licenses:
    get:
      tags:
      - project
      summary: A list of allowed document licenses
      description: Get a list of allowed document licenses for projects
      operationId: project_getAllowedDocumentLicenses
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /projects/allowed-document-types:
    get:
      tags:
      - project
      summary: A list of allowed document types
      description: Get a list of allowed types for documents on projects
      operationId: project_getAllowedDocumentTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /projects/allowed-image-types:
    get:
      tags:
      - project
      summary: A list of allowed image types
      description: Get a list of allowed image types that can be used for the 'images.type' attribute of projects
      operationId: project_getAllowedImageTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /projects/allowed-keyword-group-configurations:
    get:
      tags:
      - project
      summary: A list of keyword group configurations
      description: Get a list of allowed keyword group configurations that can be used when submitting keyword groups.
      operationId: project_getAllowedKeywordGroupConfigurations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllowedKeywordGroupConfigurationList'
  /projects/allowed-keyword-group-configurations/{id}/classifications:
    get:
      tags:
      - project
      summary: A list of allowed classifications for the specified keyword group
      description: Get a list of allowed classifications that can be used when submitting a specified keyword group.
      operationId: project_getAllowedKeywordGroupConfigurationClassifications
      parameters:
      - name: id
        in: path
        description: Pure id of the keyword group configuration
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /projects/allowed-link-types:
    get:
      tags:
      - project
      summary: A list of allowed link types
      description: Get a list of allowed link types that can be used for the 'links.linkType' attribute of projects
      operationId: project_getAllowedLinkTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /projects/allowed-locales:
    get:
      tags:
      - project
      summary: A list of allowed locales in localized strings
      description: Get a list of allowed locales that can be used when submitting localized string entities.
      operationId: project_getAllowedLocales
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalesList'
  /projects/allowed-nature-types:
    get:
      tags:
      - project
      summary: A list of allowed nature types
      description: Get a list of allowed nature types for projects
      operationId: project_getAllowedNatureTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /projects/allowed-participant-roles:
    get:
      tags:
      - project
      summary: A list of allowed participant roles
      description: Get a list of allowed roles for participant on projects
      operationId: project_getAllowedParticipantRoles
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /projects/allowed-project-relation-types:
    get:
      tags:
      - project
      summary: A list of allowed project relation types
      description: Get a list of allowed project relation types on projects
      operationId: project_getAllowedProjectRelationTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /projects/allowed-templates:
    get:
      tags:
      - project
      summary: A list of allowed project templates
      description: Get a list of allowed templates that can be used for projects. Some of the templates that exists in the API specification may be disabled for the Pure installation.
      operationId: project_getAllowedTemplates
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllowedTemplateListResult'
  /projects/allowed-types:
    get:
      tags:
      - project
      summary: A list of allowed project types
      description: Get a list of allowed types that can be used for the 'type' attribute of projects
      operationId: project_getAllowedTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /projects/allowed-workflow-steps:
    get:
      tags:
      - project
      summary: A list of allowed workflow steps
      description: Get a list of allowed workflow steps that can be used for the 'workflow' attribute of projects
      operationId: project_getAllowedWorkflowSteps
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowListResult'
  /projects/disciplines/allowed-discipline-schemes:
    get:
      tags:
      - project
      summary: A list of allowed discipline schemes
      description: Get a list fo a allowed discipline schemes for projects
      operationId: project_getAllowedDisciplineSchemes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisciplinesDisciplineSchemeListResult'
  /projects/disciplines/{discipline-scheme}/allowed-disciplines:
    get:
      tags:
      - project
      summary: A list of allowed disciplines for a specific discipline scheme
      description: Get a list of a allowed disciplines for specific discipline scheme for projects
      operationId: project_getAllowedDisciplines
      parameters:
      - name: discipline-scheme
        in: path
        description: Identifier for the discipline scheme for project
        required: true
        schema:
          type: string
      - name: size
        in: query
        description: Number of returned disciplines per request
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 10
      - name: offset
        in: query
        description: The offset for the returned list. 0 or null value is from the start
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisciplinesDisciplineListResult'
  /projects/disciplines/{discipline-scheme}/search:
    post:
      tags:
      - project
      summary: Query operation for disciplines associated with projects
      description: Lists disciplines from the discipline scheme associated with projects in the Pure instance that matches the provided query.
      operationId: project_listDisciplineAssociations
      parameters:
      - name: discipline-scheme
        in: path
        description: Identifier for the discipline scheme
        required: true
        schema:
          type: string
      requestBody:
        description: The query to perform
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisciplinesAssociationsQuery'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisciplinesAssociationListResult'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /projects/file-uploads:
    put:
      tags:
      - project
      summary: Upload file to a specific project
      description: Uploads file for the project
      operationId: project_fileUploads
      parameters:
      - name: Content-Type
        in: header
        description: Set the mime type for the file
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              format: binary
        required: true
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadedFile'
            application/xml:
              schema:
                $ref: '#/components/schemas/UploadedFile'
  /projects/orderings:
    get:
      tags:
      - project
      summary: Lists available orderings
      description: Lists all orderings available to the project endpoint. These values can be used by the order parameter.
      operationId: project_getOrderings
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderingsList'
  /projects/search:
    post:
      tags:
      - project
      summary: Query operation for projects
      description: Lists projects in the Pure instance that matches the provided query, similar to the GET version, instead of using parameters to alter the response, an JSON document is posted with the request. The JSON document contains fields for all the parameters available for the GET version, but also additional filtering options.
      operationId: project_query
      requestBody:
        description: The query to perform
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectsQuery'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListResult'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /projects/{uuid}:
    get:
      tags:
      - project
      summary: Get project
      description: Get project with specific UUID.
      operationId: project_get
      parameters:
      - name: uuid
        in: path
        description: UUID of the desired project
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '301':
          description: The requested content have changed UUID
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    put:
      tags:
      - project
      summary: Update project
      description: Update project with specific UUID.
      operationId: project_update
      parameters:
      - name: uuid
        in: path
        description: UUID of the project to update
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      requestBody:
        description: The content to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Version conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConflictProblemDetails'
    delete:
      tags:
      - project
      summary: Delete project
      description: Delete project with specific UUID.
      operationId: project_delete
      parameters:
      - name: uuid
        in: path
        description: UUID of the project
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '204':
          description: Successful operation
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConflictProblemDetails'
  /projects/{uuid}/actions/lock:
    post:
      tags:
      - project
      summary: Lock the content
      description: Mark the content as external (used when content contains synchronised data). This has no effect on interactions with the content through the API.
      operationId: project_lock
      parameters:
      - name: uuid
        in: path
        description: UUID of the content to lock
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '204':
          description: Content marked as locked
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Content already locked
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConflictProblemDetails'
  /projects/{uuid}/actions/unlock:
    post:
      tags:
      - project
      summary: Unlock the content
      description: Remove the external mark on the content (used when content contains synchronised data). This has no effect on interactions with the content through the API.
      operationId: project_unlock
      parameters:
      - name: uuid
        in: path
        description: UUID of the content to unlock
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '204':
          description: Content marked as unlocked
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Content already unlocked
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConflictProblemDetails'
  /projects/{uuid}/application-clusters:
    get:
      tags:
      - project
      summary: Get the application clusters for the project
      description: Get the application clusters for the project with the specified UUID.
      operationId: project_getApplicationClusters
      parameters:
      - name: uuid
        in: path
        description: UUID of the project
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationClusterListResult'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /projects/{uuid}/award-clusters:
    get:
      tags:
      - project
      summary: Get the award clusters for the project
      description: Get the award clusters for the project with the specified UUID.
      operationId: project_getAwardClusters
      parameters:
      - name: uuid
        in: path
        description: UUID of the project
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AwardClusterListResult'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /projects/{uuid}/dependents:
    get:
      tags:
      - project
      summary: Lists all dependents to an project
      description: 'Lists all dependents to an project with the specified UUID. If the user does not have access to view all the dependent content, an authorization error will be thrown. '
      operationId: project_dependents
      parameters:
      - name: uuid
        in: path
        description: UUID of the project
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: verbose
        in: query
        description: DEPRECATED - Parameter has no effect.
        deprecated: true
        schema:
          type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentRefListResult'
  /projects/{uuid}/disciplines/{discipline-scheme}:
    get:
      tags:
      - project
      summary: Get disciplines from the discipline scheme associated with the project
      description: Get disciplines from the discipline scheme associated with the project with specific UUID.
      operationId: project_getDisciplineAssociation
      parameters:
      - name: uuid
        in: path
        description: UUID of the desired project
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: discipline-scheme
        in: path
        description: Identifier for the discipline scheme
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisciplinesAssociation'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    put:
      tags:
      - project
      summary: Update disciplines from the discipline scheme associated with the project
      description: Update disciplines from the discipline scheme associated with the project with specific UUID.
      operationId: project_putDisciplineAssociation
      parameters:
      - name: uuid
        in: path
        description: UUID of the project to update
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: discipline-scheme
        in: path
        description: Identifier for the discipline scheme
        required: true
        schema:
          type: string
      requestBody:
        description: The disciplines association to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisciplinesAssociation'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisciplinesAssociation'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /projects/{uuid}/files/{fileId}:
    get:
      tags:
      - project
      summary: Get file from the project
      description: Get file from the project
      operationId: project_getFile
      parameters:
      - name: uuid
        in: path
        description: UUID of the project
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: fileId
        in: path
        description: 'File id '
        required: true
        schema:
          pattern: .+
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                type: string
                format: binary
  /projects/{uuid}/notes:
    get:
      tags:
      - project
      summary: Lists notes
      description: Lists notes associated with an project ordered by date (nulls last)
      operationId: project_listNotes
      parameters:
      - name: uuid
        in: path
        description: UUID of the project to get notes for
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: size
        in: query
        description: Number of returned notes per request
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 10
      - name: offset
        in: query
        description: The offset for the returned list. 0 or null value is from the start
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteListResult'
        '404':
          description: Project not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    put:
      tags:
      - project
      summary: Create note
      description: Create note and associate it with the project
      operationId: project_createNote
      parameters:
      - name: uuid
        in: path
        description: UUID of the project to add note to
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      requestBody:
        description: The note to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Note'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
components:
  schemas:
    OrganizationRef:
      required:
      - uuid
      type: object
      description: A reference to an organization in the institution
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    ClassificationRef:
      required:
      - uri
      type: object
      properties:
        uri:
          type: string
          description: Classification URI of the referred classification
        term:
          $ref: '#/components/schemas/SystemLocalizedString'
      description: A reference to a classification value
      nullable: true
    ProjectsQuery:
      type: object
      properties:
        uuids:
          type: array
          items:
            type: string
            format: uuid
        size:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
        orderings:
          type: array
          items:
            type: string
        searchString:
          type: string
          description: String used to perform search
        orderBy:
          type: string
          writeOnly: true
      description: Create a query for projects
    ActivityAwardableAssociation:
      required:
      - activity
      type: object
      properties:
        award:
          $ref: '#/components/schemas/AwardRef'
        activity:
          $ref: '#/components/schemas/ActivityRef'
      description: A relation to an activity, optionally in the context of the Award that made it possible.
    ClassificationSchemeRef:
      required:
      - uuid
      type: object
      description: A reference to a classification scheme
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    ProjectAssociation:
      required:
      - project
      type: object
      properties:
        relationType:
          $ref: '#/components/schemas/ClassificationRef'
        project:
          $ref: '#/components/schemas/ProjectRef'
      description: An association to a project.
    ApplicationClusterListResult:
      type: object
      properties:
        count:
          type: integer
          description: The full count, ignoring paging
          format: int32
        pageInformation:
          $ref: '#/components/schemas/PageInformation'
        items:
          type: array
          description: Application clusters
          items:
            $ref: '#/components/schemas/ApplicationCluster'
      description: List of application clusters. Can contain a subset of all items along with the full count
    AwardCluster:
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        uuid:
          type: string
          description: UUID, this is the primary identity of the entity
          format: uuid
          readOnly: true
        createdBy:
          type: string
          description: Username of creator
          readOnly: true
        createdDate:
          type: string
          description: Date and time of creation
          format: date-time
          readOnly: true
        modifiedBy:
          type: string
          description: Username of the user that performed a modification
          readOnly: true
        modifiedDate:
          type: string
          description: Date and time of last modification
          format: date-time
          readOnly: true
        portalUrl:
          type: string
          description: URL of the content on the Pure Portal
          readOnly: true
        prettyUrlIdentifiers:
          type: array
          description: All pretty URLs
          readOnly: true
          items:
            type: string
            description: All pretty URLs
            readOnly: true
        previousUuids:
          type: array
          description: UUIDs of other content items which have been merged into this content item (or similar)
          readOnly: true
          items:
            type: string
            description: UUIDs of other content items which have been merged into this content item (or similar)
            readOnly: true
        version:
          type: string
          description: Used to guard against conflicting updates. For new content this is null, and for existing content the current value. The property should never be modified by a client, except in the rare case where the client wants to perform an update irrespective of if other clients have made updates in the meantime, also known as a "dirty write". A dirty write is performed by not including the property value or setting the property to null
          nullable: true
        title:
          type: string
          description: The title of the award cluster.
          readOnly: true
        containedAwards:
          type: array
          description: The awards grouped in the award cluster. Awards are automatically added when related to other awards in this cluster.
          readOnly: true
          items:
            $ref: '#/components/schemas/AwardRef'
        project:
          $ref: '#/components/schemas/ProjectRef'
        systemName:
          type: string
          description: The content system name
          readOnly: true
      description: An award cluster groups related awards from their individual relations.
    ImpactAwardableAssociation:
      required:
      - impact
      type: object
      properties:
        award:
          $ref: '#/components/schemas/AwardRef'
        impact:
          $ref: '#/components/schemas/ImpactRef'
      description: A relation to an impact, optionally in the context of the Award that made it possible.
    WorkflowListResult:
      type: object
      properties:
        workflows:
          type: array
          description: Allowed workflow steps.
          items:
            $ref: '#/components/schemas/Workflow'
      description: List of workflow steps.
    LocalesList:
      type: object
      properties:
        locales:
          pattern: /^[a-z]{2}_[A-Z]{2}$/
          type: array
          description: Allowed locale values for use in localized string entities. The locale format consists of lower-case ISO 639 alpha-2 language code and upper-cased ISO 3166 alpha-2 country code.
          items:
            pattern: /^[a-z]{2}_[A-Z]{2}$/
            type: string
            description: Allowed locale values for use in localized string entities. The locale format consists of lower-case ISO 639 alpha-2 language code and upper-cased ISO 3166 alpha-2 country code.
      description: List of available locales
    ImpactRef:
      required:
      - uuid
      type: object
      description: A reference to impact
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    NoteListResult:
      type: object
      properties:
        count:
          type: integer
          description: The full count, ignoring paging
          format: int32
        pageInformation:
          $ref: '#/components/schemas/PageInformation'
        items:
          type: array
          description: Notes
          items:
            $ref: '#/components/schemas/Note'
      description: List of notes
    AllowedTemplate:
      type: object
      properties:
        name:
          type: string
          description: The name of the template.
          readOnly: true
        description:
          type: string
          description: The description of the template.
          readOnly: true
      description: An allowed template, such as 'ContributionToJournal' or 'BookAnthology' for research outputs.
    Name:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
      description: A name describing a person, made up of given- and family name
    AwardClusterListResult:
      type: object
      properties:
        count:
          type: integer
          description: The full count, ignoring paging
          format: int32
        pageInformation:
          $ref: '#/components/schemas/PageInformation'
        items:
          type: array
          description: Award clusters
          items:
            $ref: '#/components/schemas/AwardCluster'
      description: List of award clusters. Can contain a subset of all items along with the full count
    DisciplinesAssociationsQuery:
      type: object
      properties:
        uuids:
          type: array
          items:
            type: string
            format: uuid
        size:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
      description: Create a query for discipline associations
    AllowedTemplateListResult:
      type: object
      properties:
        items:
          type: array
          description: Allowed templates.
          items:
            $ref: '#/components/schemas/AllowedTemplate'
      description: List of allowed templates.
    StudentThesisAwardableAssociation:
      required:
      - studentThesis
      type: object
      properties:
        award:
          $ref: '#/components/schemas/AwardRef'
        studentThesis:
          $ref: '#/components/schemas/StudentThesisRef'
      description: A relation to a student thesis, optionally in the context of the Award that made it possible.
    YearMonth:
      required:
      - month
      - year
      type: object
      properties:
        year:
          maximum: 4000
          minimum: 0
          type: integer
          format: int32
        month:
          maximum: 12
          minimum: 1
          type: integer
          format: int32
      description: A date that can be defined by only year and month
      nullable: true
    Link:
      required:
      - url
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        url:
          type: string
          description: The URL (Uniform Resource Locator) of the link
        alias:
          type: string
          description: A user-friendly text to show instead of the URL
          nullable: true
        description:
          $ref: '#/components/schemas/LocalizedString'
        linkType:
          $ref: '#/components/schemas/ClassificationRef'
      description: A hyperlink describing a location on the web.
    DateRange:
      type: object
      properties:
        startDate:
          type: string
          description: Start date
          format: date
          nullable: true
        endDate:
          type: string
          description: End date
          format: date
          nullable: true
      description: A date range
    DisciplinesDisciplineAssignment:
      required:
      - disciplineId
      - splitPercentage
      type: object
      properties:
        disciplineId:
          type: string
          description: The assigned discipline
        splitPercentage:
          type: number
          description: The split percentages within an assigned discipline scheme must sum up to 100%
          format: double
      description: The assigned discipline and its split percentage
    StudentThesisRef:
      required:
      - uuid
      type: object
      description: A reference to student thesis
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    ProjectListResult:
      type: object
      properties:
        count:
          type: integer
          description: The full count, ignoring paging
          format: int32
        pageInformation:
          $ref: '#/components/schemas/PageInformation'
        items:
          type: array
          description: Projects
          items:
            $ref: '#/components/schemas/Project'
      description: List of projects. Can contain a subset of all items along with the full count
    PrizeAwardableAssociation:
      required:
      - prize
      type: object
      properties:
        award:
          $ref: '#/components/schemas/AwardRef'
        prize:
          $ref: '#/components/schemas/PrizeRef'
      description: A relation to a prize, optionally in the context of the Award that made it possible.
    Workflow:
      required:
      - step
      type: object
      properties:
        step:
          type: string
          description: Current workflow step
        description:
          $ref: '#/components/schemas/SystemLocalizedString'
      description: Information about workflow
    DeprecatedDateRange:
      type: object
      properties:
        startDate:
          type: string
          description: Start date
          format: date
          nullable: true
        endDate:
          type: string
          description: End date
          format: date
          nullable: true
      description: Deprecated version of DateRange
      deprecated: true
    ResearcherCommitment:
      required:
      - yearMonth
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        actualResearcherCommitment:
          maximum: 1
          minimum: 0
          type: number
          description: The actual researcher commitment.
          format: double
          nullable: true
        plannedResearcherCommitment:
          maximum: 1
          minimum: 0
          type: number
          description: The planned researcher commitment.
          format: double
          nullable: true
        yearMonth:
          $ref: '#/components/schemas/YearMonth'
      description: Planned and actual research commitment.
    DisciplinesAssociationListResult:
      type: object
      properties:
        count:
          type: integer
          description: The full count, ignoring paging
          format: int32
        pageInformation:
          $ref: '#/components/schemas/PageInformation'
        items:
          type: array
          description: Discipline associations
          items:
            $ref: '#/components/schemas/DisciplinesAssociation'
      description: List of discipline associations. Can contain a subset of all items along with the full count
    SystemLocalizedString:
      type: object
      additionalProperties:
        type: string
        description: A set of localized string values each for a specific UI locale.
        nullable: true
        example: '{"en_GB":"Some text"}'
      description: A set of localized string values each for a specific UI locale.
      nullable: true
      example:
        en_GB: Some text
    CustomDefinedFields:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/CustomDefinedField'
      description: Map of CustomDefinedField values, where the key is the field identifier
      nullable: true
      example: '{ "fieldName1": "typeDiscriminator": "Integer", "value" : 1}'
    ProjectCurtailed:
      type: object
      properties:
        date:
          type: string
          description: Date of curtail
          format: date
          nullable: true
        reason:
          type: string
          description: Reason for curtail
          nullable: true
      description: Information about project curtail.
    ClassificationRefList:
      type: object
      properties:
        classifications:
          type: array
          items:
            $ref: '#/components/schemas/ClassificationRef'
      description: List of classification references
    ExternalOrganizationRef:
      required:
      - uuid
      type: object
      description: A reference to an organization external to the institution
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    AbstractParticipantAssociation:
      required:
      - role
      - typeDiscriminator
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        externalOrganizations:
          type: array
          description: A collection of external organization affiliations.
          nullable: true
          items:
            $ref: '#/components/schemas/ExternalOrganizationRef'
        academicOwnershipPercentage:
          type: number
          description: Academic ownership of the participant.
          format: double
          nullable: true
        plannedResearcherCommitmentPercentage:
          type: number
          description: Planned researcher commitment of the participant.
          format: double
          nullable: true
        researcherCommitments:
          type: array
          description: Planned and actual research commitment for the participant.
          nullable: true
          items:
            $ref: '#/components/schemas/ResearcherCommitment'
        period:
          $ref: '#/components/schemas/DateRange'
        name:
          $ref: '#/components/schemas/Name'
        role:
          $ref: '#/components/schemas/ClassificationRef'
        typeDiscriminator:
          type: string
      description: An association for a person that participated in the project.
      discriminator:
        propertyName: typeDiscriminator
        mapping:
          InternalParticipantAssociation: '#/components/schemas/InternalParticipantAssociation'
          ExternalParticipantAssociation: '#/components/schemas/ExternalParticipantAssociation'
    Document:
      required:
      - fileName
      - mimeType
      - type
      - visibility
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        fileId:
          type: string
          description: The id of the file
          readOnly: true
        fileName:
          type: string
          description: The documents file name
        mimeType:
          type: string
          description: The documents mime type
        size:
          type: integer
          description: The documents size in bytes
          format: int64
        url:
          type: string
          description: Download url for the binary file
          readOnly: true
        fileStoreLocations:
          type: object
          additionalProperties:
            type: string
            description: Locations of the binary file in file stores.
            readOnly: true
          description: Locations of the binary file in file stores.
          readOnly: true
        uploadedFile:
          $ref: '#/components/schemas/UploadedFile'
        remoteFile:
          $ref: '#/components/schemas/RemoteFile'
        fileData:
          type: string
          description: Base64 encoded file data for new files. This property can be used instead of uploadedFile for small files
          format: byte
          writeOnly: true
        title:
          type: string
          description: Document title
          nullable: true
        type:
          $ref: '#/components/schemas/ClassificationRef'
        license:
          $ref: '#/components/schemas/ClassificationRef'
        visibleOnPortalDate:
          type: string
          description: The date the document will be available on the portal
          format: date
          readOnly: true
        visibility:
          $ref: '#/components/schemas/Visibility'
        creator:
          type: string
          description: The user that created the document
          readOnly: true
        created:
          type: string
          description: Create date for the document
          format: date-time
          readOnly: true
      description: Document
    ImageFile:
      required:
      - fileName
      - mimeType
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        fileId:
          type: string
          description: The id of the file
          readOnly: true
        fileName:
          type: string
          description: The documents file name
        mimeType:
          type: string
          description: The documents mime type
        size:
          type: integer
          description: The documents size in bytes
          format: int64
        url:
          type: string
          description: Download url for the binary file
          readOnly: true
        fileStoreLocations:
          type: object
          additionalProperties:
            type: string
            description: Locations of the binary file in file stores.
            readOnly: true
          description: Locations of the binary file in file stores.
          readOnly: true
        uploadedFile:
          $ref: '#/components/schemas/UploadedFile'
        remoteFile:
          $ref: '#/components/schemas/RemoteFile'
        fileData:
          type: string
          description: Base64 encoded file data for new files. This property can be used instead of uploadedFile for small files
          format: byte
          writeOnly: true
        type:
          $ref: '#/components/schemas/ClassificationRef'
        copyrightConfirmation:
          type: boolean
          description: Indicates whether this file has been confirmed to adhere to the appropriate copyrights
          nullable: true
        caption:
          $ref: '#/components/schemas/LocalizedString'
        altText:
          $ref: '#/components/schemas/LocalizedString'
        copyrightStatement:
          $ref: '#/components/schemas/LocalizedString'
      description: An image file
    Identifier:
      required:
      - typeDiscriminator
      type: object
      properties:
        typeDiscriminator:
          type: string
      discriminator:
        propertyName: typeDiscriminator
        mapping:
          ClassifiedId: '#/components/schemas/ClassifiedId'
          PrimaryId: '#/components/schemas/PrimaryId'
          Id: '#/components/schemas/Id'
    ConflictProblemDetails:
      type: object
      properties:
        type:
          type: string
          description: A URI reference [RFC3986] that identifies the problem type.
        title:
          type: string
          description: A short, human-readable summary of the problem type. It SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization (e.g., using proactive content negotiation; see [RFC7231], Section 3.4).
        status:
          type: integer
          description: The HTTP status code ([RFC7231], Section 6) generated by the origin server for this occurrence of the problem.
          format: int32
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.  It may or may not yield further information if dereferenced.
        modified:
          type: string
          format: date-time
        modifiedBy:
          type: string
      description: Problem details for state conflict failures
    EquipmentAwardableAssociation:
      required:
      - equipment
      type: object
      properties:
        award:
          $ref: '#/components/schemas/AwardRef'
        equipment:
          $ref: '#/components/schemas/EquipmentRef'
      description: A relation to an equipment, optionally in the context of the Award that made it possible.
    Visibility:
      required:
      - key
      type: object
      properties:
        key:
          type: string
          description: Visibility value
          enum:
          - FREE
          - CAMPUS
          - BACKEND
          - CONFIDENTIAL
        description:
          $ref: '#/components/schemas/SystemLocalizedString'
      description: Visibility of an object
    ApplicationClusterRef:
      required:
      - uuid
      type: object
      description: A reference to an application cluster
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    DisciplinesDisciplineScheme:
      required:
      - disciplineScheme
      - title
      type: object
      properties:
        disciplineScheme:
          type: string
          description: The discipline scheme identifier
        title:
          type: string
          description: The discipline title
      description: A discipline scheme
    AwardRef:
      required:
      - uuid
      type: object
      description: A reference to an award
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    LocalizedString:
      type: object
      additionalProperties:
        type: string
        description: 'A set of string values, one for each submission locale. Note: invalid locale values will be ignored.'
        nullable: true
        example: '{"en_GB":"Some text"}'
      description: 'A set of string values, one for each submission locale. Note: invalid locale values will be ignored.'
      nullable: true
      example:
        en_GB: Some text
    ClassifiedFormattedLocalizedValue:
      required:
      - type
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        value:
          $ref: '#/components/schemas/FormattedLocalizedString'
        type:
          $ref: '#/components/schemas/ClassificationRef'
      description: A classified formatted localized value
    Project:
      required:
      - managingOrganization
      - organizations
      - title
      - type
      - typeDiscriminator
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        uuid:
          type: string
          description: UUID, this is the primary identity of the entity
          format: uuid
          readOnly: true
        createdBy:
          type: string
          description: Username of creator
          readOnly: true
        createdDate:
          type: string
          description: Date and time of creation
          format: date-time
          readOnly: true
        modifiedBy:
          type: string
          description: Username of the user that performed a modification
          readOnly: true
        modifiedDate:
          type: string
          description: Date and time of last modification
          format: date-time
          readOnly: true
        portalUrl:
          type: string
          description: URL of the content on the Pure Portal
          readOnly: true
        prettyUrlIdentifiers:
          type: array
          description: All pretty URLs
          readOnly: true
          items:
            type: string
            description: All pretty URLs
            readOnly: true
        previousUuids:
          type: array
          description: UUIDs of other content items which have been merged into this content item (or similar)
          readOnly: true
          items:
            type: string
            description: UUIDs of other content items which have been merged into this content item (or similar)
            readOnly: true
        version:
          type: string
          description: Used to guard against conflicting updates. For new content this is null, and for existing content the current value. The property should never be modified by a client, except in the rare case where the client wants to perform an update irrespective of if other clients have made updates in the meantime, also known as a "dirty write". A dirty write is performed by not including the property value or setting the property to null
          nullable: true
        acronym:
          type: string
          description: The acronym of the project.
          nullable: true
        participants:
          type: array
          description: Related participants and their affiliations.
          items:
            $ref: '#/components/schemas/AbstractParticipantAssociation'
        externalOrganizations:
          type: array
          description: A collection of external organization affiliations.
          nullable: true
          items:
            $ref: '#/components/schemas/ExternalOrganizationRef'
        coManagingOrganizations:
          type: array
          description: A collection of co-managing organizational affiliations.
          nullable: true
          items:
            $ref: '#/components/schemas/OrganizationRef'
        collaborators:
          type: array
          description: A collection of collaborators.
          nullable: true
          items:
            $ref: '#/components/schemas/CollaboratorAssociation'
        descriptions:
          type: array
          description: A collection of descriptions for the project. Query the /projects/allowed-description-types endpoint for allowed types.
          nullable: true
          items:
            $ref: '#/components/schemas/ClassifiedFormattedLocalizedValue'
        period:
          $ref: '#/components/schemas/DateRange'
        effectivePeriod:
          $ref: '#/components/schemas/DeprecatedDateRange'
        identifiers:
          type: array
          description: Identifiers related to the project.
          nullable: true
          items:
            $ref: '#/components/schemas/Identifier'
        natureTypes:
          type: array
          description: Nature of activity types for the project.
          nullable: true
          items:
            $ref: '#/components/schemas/ClassificationRef'
        organizations:
          type: array
          description: A collection of organizational unit affiliations.
          items:
            $ref: '#/components/schemas/OrganizationRef'
        managingOrganization:
          $ref: '#/components/schemas/OrganizationRef'
        shortTitle:
          $ref: '#/components/schemas/LocalizedString'
        title:
          $ref: '#/components/schemas/LocalizedString'
        totalAcademicOwnership:
          type: number
          description: Total academic ownership of the project.
          format: double
          readOnly: true
        type:
          $ref: '#/components/schemas/ClassificationRef'
        workflow:
          $ref: '#/components/schemas/Workflow'
        visibility:
          $ref: '#/components/schemas/Visibility'
        links:
          type: array
          description: Links associated with the project.
          nullable: true
          items:
            $ref: '#/components/schemas/Link'
        keywordGroups:
          type: array
          description: Groups of keywords associated with the project.
          nullable: true
          items:
            $ref: '#/components/schemas/KeywordGroup'
        documents:
          type: array
          description: A collection of documents related to the project.
          nullable: true
          items:
            $ref: '#/components/schemas/Document'
        curtailed:
          $ref: '#/components/schemas/ProjectCurtailed'
        projects:
          type: array
          description: A collection of related projects.
          nullable: true
          items:
            $ref: '#/components/schemas/ProjectAssociation'
        applicationClusters:
          type: array
          description: A collection of related application clusters.
          nullable: true
          items:
            $ref: '#/components/schemas/ApplicationClusterRef'
        awardClusters:
          type: array
          description: A collection of related grant clusters.
          nullable: true
          items:
            $ref: '#/components/schemas/AwardClusterRef'
        dataSets:
          type: array
          description: A collection of related datasets.
          nullable: true
          items:
            $ref: '#/components/schemas/DataSetAwardableAssociation'
        prizes:
          type: array
          description: A collection of related prizes.
          nullable: true
          items:
            $ref: '#/components/schemas/PrizeAwardableAssociation'
        activities:
          type: array
          description: A collection of related activities.
          nullable: true
          items:
            $ref: '#/components/schemas/ActivityAwardableAssociation'
        pressMedias:
          type: array
          description: A collection of related press/media.
          nullable: true
          items:
            $ref: '#/components/schemas/PressMediaAwardableAssociation'
        equipment:
          type: array
          description: A collection of related equipment.
          nullable: true
          items:
            $ref: '#/components/schemas/EquipmentAwardableAssociation'
        impacts:
          type: array
          description: A collection of related impacts.
          nullable: true
          items:
            $ref: '#/components/schemas/ImpactAwardableAssociation'
        researchOutputs:
          type: array
          description: A collection of related research output.
          nullable: true
          items:
            $ref: '#/components/schemas/ResearchOutputAwardableAssociation'
        studentTheses:
          type: array
          description: A collection of related student theses.
          nullable: true
          items:
            $ref: '#/components/schemas/StudentThesisAwardableAssociation'
        customDefinedFields:
          $ref: '#/components/schemas/CustomDefinedFields'
        images:
          type: array
          description: Image files with a maximum file size of 1MB
          nullable: true
          items:
            $ref: '#/components/schemas/ImageFile'
        systemName:
          type: string
          description: The content system name
          readOnly: true
        typeDiscriminator:
          type: string
      description: Projects exists in two variations depending on the functionality enabled in the Pure installation.
      discriminator:
        propertyName: typeDiscriminator
        mapping:
          BasicProject: '#/components/schemas/BasicProject'
          AwardManagementProject: '#/components/schemas/AwardManagementProject'
    ResearchOutputAwardableAssociation:
      required:
      - researchOutput
      type: object
      properties:
        award:
          $ref: '#/components/schemas/AwardRef'
        researchOutput:
          $ref: '#/components/schemas/ResearchOutputRef'
      description: A relation to a research output, optionally in the context of the Award that made it possible.
    AwardClusterRef:
      required:
      - uuid
      type: object
      description: A reference to an award cluster
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    FormattedLocalizedString:
      type: object
      additionalProperties:
        type: string
        description: A set of localized strings that support formatting. Invalid locale values will be ignored.
        nullable: true
        example: '{"en_GB":"Some text"}'
      description: A set of localized strings that support formatting. Invalid locale values will be ignored.
      nullable: true
      example:
        en_GB: Some text
    CustomDefinedField:
      required:
      - typeDiscriminator
      type: object
      properties:
        typeDiscriminator:
          type: string
      description: Map of CustomDefinedField values, where the key is the field identifier
      nullable: true
      example: '{ "fieldName1": "typeDiscriminator": "Integer", "value" : 1}'
      discriminator:
        propertyName: typeDiscriminator
        mapping:
          Integer: '#/components/schemas/CustomDefinedFieldInteger'
          String: '#/components/schemas/CustomDefinedFieldString'
          Date: '#/components/schemas/CustomDefinedFieldDate'
          Classification: '#/components/schemas/CustomDefinedFieldClassification'
          Boolean: '#/components/schemas/CustomDefinedFieldBoolean'
          Decimal: '#/components/schemas/CustomDefinedFieldDecimal'
    Note:
      required:
      - text
      type: object
      properties:
        date:
          type: string
          description: Date and time of when the note was created, an event occurred or similar. Can be any point in time, but <now> is normally preferred
          format: date-time
          nullable: true
        username:
          type: string
          description: Username related to the note. Usually a username of the user creating the note. Does not have to be a username of a Pure user
          nullable: true
        text:
          type: string
          description: Note text
      description: A note
    OrderingsList:
      type: object
      properties:
        orderings:
          type: array
          description: IDs of ways content can be ordered
          items:
            type: string
            description: IDs of ways content can be ordered
      description: List of available orderings
    DataSetAwardableAssociation:
      required:
      - dataSet
      type: object
      properties:
        award:
          $ref: '#/components/schemas/AwardRef'
        dataSet:
          $ref: '#/components/schemas/DataSetRef'
      description: A relation to a dataset, optionally in the context of the Award that made it possible.
    DisciplinesDiscipline:
      type: object
      properties:
        disciplineId:
          type: string
          description: The discipline identifier
          readOnly: true
        title:
          type: string
          description: The discipline title
          readOnly: true
        description:
          type: string
          description: The discipline description
          readOnly: true
      description: A discipline within a specific discipline scheme
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          description: A URI reference [RFC3986] that identifies the problem type.
        title:
          type: string
          description: A short, human-readable summary of the problem type. It SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization (e.g., using proactive content negotiation; see [RFC7231], Section 3.4).
        status:
          type: integer
          description: The HTTP status code ([RFC7231], Section 6) generated by the origin server for this occurrence of the problem.
          format: int32
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.  It may or may not yield further information if dereferenced.
      description: RFC7807 Error details
      discriminator:
        propertyName: type
        mapping:
          /error: '#/components/schemas/GenericProblemDetails'
          /validation-error: '#/components/schemas/ValidationProblemDetails'
          /dependency-violation-error: '#/components/schemas/DependencyViolationProblemDetails'
    CollaboratorAssociation:
      required:
      - typeDiscriminator
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        type:
          $ref: '#/components/schemas/ClassificationRef'
        leadCollaborator:
          type: boolean
          description: Whether this collaborator is lead collaborator or not.
          nullable: true
        typeDiscriminator:
          type: string
      description: A collaborator associated with the content.
      discriminator:
        propertyName: typeDiscriminator
        mapping:
          InternalCollaboratorAssociation: '#/components/schemas/InternalCollaboratorAssociation'
          ExternalCollaboratorAssociation: '#/components/schemas/ExternalCollaboratorAssociation'
    ResearchOutputRef:
      required:
      - uuid
      type: object
      description: A reference to a research output
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    ContentRefListResult:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ContentRef'
      description: List of Content Refs
    DataSetRef:
      required:
      - uuid
      type: object
      description: A reference to a data set
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    EquipmentRef:
      required:
      - uuid
      type: object
      description: A reference to a piece of equipment
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    DisciplinesAssociation:
      required:
      - disciplineAssignments
      type: object
      properties:
        content:
          $ref: '#/components/schemas/ContentRef'
        disciplineScheme:
          type: string
          description: The discipline scheme these disciplines are assigned from
          readOnly: true
        disciplineAssignments:
          type: array
          description: A collection of assigned disciplines
          items:
            $ref: '#/components/schemas/DisciplinesDisciplineAssignment'
      description: An association between a content and a number of discipline assignments
    ContentRef:
      required:
      - systemName
      - uuid
      type: object
      properties:
        uuid:
          type: string
          description: UUID of the referred content
          format: uuid
        systemName:
          type: string
      nullable: true
      discriminator:
        propertyName: systemName
        mapping:
          AccessDefinition: '#/components/schemas/AccessDefinitionRef'
          Activity: '#/components/schemas/ActivityRef'
          Application: '#/components/schemas/ApplicationRef'
          AuthorCollaboration: '#/components/schemas/AuthorCollaborationRef'
          Award: '#/components/schemas/AwardRef'
          ClassificationScheme: '#/components/schemas/ClassificationSchemeRef'
          ConferenceSeries: '#/components/schemas/ConferenceSeriesRef'
          DataSet: '#/components/schemas/DataSetRef'
          Equipment: '#/components/schemas/EquipmentRef'
          Event: '#/components/schemas/EventRef'
          ExternalOrganization: '#/components/schemas/ExternalOrganizationRef'
          ExternalPerson: '#/components/schemas/ExternalPersonRef'
          Impact: '#/components/schemas/ImpactRef'
          Journal: '#/components/schemas/JournalRef'
          Organization: '#/components/schemas/OrganizationRef'
          Person: '#/components/schemas/PersonRef'
          Publisher: '#/components/schemas/PublisherRef'
          PressMedia: '#/components/schemas/PressMediaRef'
          Prize: '#/components/schemas/PrizeRef'
          Project: '#/components/schemas/ProjectRef'
          ResearchOutput: '#/components/schemas/ResearchOutputRef'
          StudentThesis: '#/components/schemas/StudentThesisRef'
          FundingOpportunity: '#/components/schemas/FundingOpportunityRef'
          EthicalReview: '#/components/schemas/EthicalReviewRef'
          ApplicationCluster: '#/components/schemas/ApplicationClusterRef'
          AwardCluster: '#/components/schemas/AwardClusterRef'
          User: '#/components/schemas/UserRef'
          ERA2018FieldOfResearch: '#/components/schemas/Anzsrc2008FieldOfResearchRef'
          UnitOfAssessmentREF2014: '#/components/schemas/Ref2014UnitOfAssessmentRef'
          UnitOfAssessmentREF2020: '#/components/schemas/Ref2020UnitOfAssessmentRef'
          ANZSRCTypeOfActivity: '#/components/schemas/Anzsrc2020TypeOfActivityRef'
          ANZSRCFieldOfResearch: '#/components/schemas/Anzsrc2020FieldOfResearchRef'
          ANZSRCSocioEconomicObjective: '#/components/schemas/Anzsrc2020SocioEconomicObjectiveRef'
          Semester: '#/components/schemas/SemesterRef'
          Education: '#/components/schemas/EducationRef'
          Course: '#/components/schemas/CourseRef'
          CurriculumVitae: '#/components/schemas/CurriculumVitaeRef'
          CustomDefinedFieldConfiguration: '#/components/schemas/CustomDefinedFieldConfigurationRef'
          KeywordGroupConfiguration: '#/components/schemas/KeywordGroupConfigurationRef'
          Review: '#/components/schemas/ReviewRef'
          GenericContentRef: '#/components/schemas/GenericContentRef'
          UserProfile: '#/components/schemas/UserProfileRef'
          Thesaurus: '#/components/schemas/ThesaurusRef'
          Concept: '#/components/schemas/ConceptRef'
          PersonExpertise: '#/components/schemas/PersonExpertiseRef'
          Contract: '#/components/schemas/ContractRef'
          Milestone: '#/components/schemas/MilestoneRef'
          Fingerprint: '#/components/schemas/FingerprintRef'
          Specialization: '#/components/schemas/SpecializationRef'
          StudentProject: '#/components/schemas/StudentProjectRef'
    PageInformation:
      type: object
      properties:
        offset:
          type: integer
          description: Offset that returned items start at
          format: int32
        size:
          type: integer
          description: The requested number of items. May be higher than the actual number of items in the result if there are fewer items in the store than requested
          format: int32
      description: Information about pages
    ProjectRef:
      required:
      - uuid
      type: object
      description: A reference to project
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    UploadedFile:
      required:
      - key
      type: object
      properties:
        digest:
          type: string
          description: The calculated digest for the file in Pure
          readOnly: true
        digestType:
          type: string
          description: The digest type
          readOnly: true
        size:
          type: integer
          description: The file size of the file in Pure
          format: int64
          readOnly: true
        mimeType:
          type: string
          description: The mime type detected for the file
          readOnly: true
        timeStamp:
          type: string
          description: The timestamp Pure received the file
          format: date-time
          readOnly: true
        expires:
          type: string
          description: The timestamp where Pure deletes the uploaded file if it has not been attached to any content
          format: date-time
          readOnly: true
        key:
          type: string
          description: Pure key identifer for the file upload
          readOnly: true
      description: Information about the uploaded file
    ApplicationRef:
      required:
      - uuid
      type: object
      description: A reference to an application
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    AllowedKeywordGroupConfiguration:
      required:
      - targetSystemName
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        targetSystemName:
          type: string
          description: The content system name this configuration applies to
        keywordGroupType:
          type: string
          description: The OpenAPI schema type of this keyword configuration
          readOnly: true
        name:
          $ref: '#/components/schemas/LocalizedString'
        description:
          $ref: '#/components/schemas/FormattedLocalizedString'
        classificationScheme:
          $ref: '#/components/schemas/ClassificationSchemeRef'
        allowUserdefinedKeywords:
          type: boolean
          description: Defines if user defined keywords are allowed
        limitToLeafSelection:
          type: boolean
        logicalName:
          type: string
        relationType:
          type: string
          description: The schema name of the type (with the ability to associate keywords) on which the keyword group configuration is related to, e.g. StaffOrganizationAssociation. It can also be set to null (default value), which means the keyword group configuration is related to the main type (the target system name) and not a relation of the main type.
          nullable: true
      description: A specification of the allowed behavior of a specified keyword group
    PressMediaRef:
      required:
      - uuid
      type: object
      description: A reference to a press/media
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    PrizeRef:
      required:
      - uuid
      type: object
      description: A reference to a prize
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    AllowedKeywordGroupConfigurationList:
      type: object
      properties:
        configurations:
          type: array
          items:
            $ref: '#/components/schemas/AllowedKeywordGroupConfiguration'
      description: List of allowed keyword group configurations
    ApplicationCluster:
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        uuid:
          type: string
          description: UUID, this is the primary identity of the entity
          format: uuid
          readOnly: true
        createdBy:
          type: string
          description: Username of creator
          readOnly: true
        createdDate:
          type: string
          description: Date and time of creation
          format: date-time
          readOnly: true
        modifiedBy:
          type: string
          description: Username of the user that performed a modification
          readOnly: true
        modifiedDate:
          type: string
          description: Date and time of last modification
          format: date-time
          readOnly: true
        portalUrl:
          type: string
          description: URL of the content on the Pure Portal
          readOnly: true
        prettyUrlIdentifiers:
          type: array
          description: All pretty URLs
          readOnly: true
          items:
            type: string
            description: All pretty URLs
            readOnly: true
        previousUuids:
          type: array
          description: UUIDs of other content items which have been merged into this content item (or similar)
          readOnly: true
          items:
            type: string
            description: UUIDs of other content items which have been merged into this content item (or similar)
            readOnly: true
        version:
          type: string
          description: Used to guard against conflicting updates. For new content this is null, and for existing content the current value. The property should never be modified by a client, except in the rare case where the client wants to perform an update irrespective of if other clients have made updates in the meantime, also known as a "dirty write". A dirty write is performed by not including the property value or setting the property to null
          nullable: true
        title:
          type: string
          description: The title of the application cluster.
          readOnly: true
        containedApplications:
          type: array
          description: The applications grouped in the application cluster. Applications are automatically added when related to other applications in this cluster.
          readOnly: true
          items:
            $ref: '#/components/schemas/ApplicationRef'
        project:
          $ref: '#/components/schemas/ProjectRef'
        status:
          type: string
          description: Application cluster status value
          readOnly: true
          enum:
          - PENDING
          - AWARDED
          - REJECTED
        dateOfStatusChange:
          type: string
          description: The date of the last status change of the application cluster.
          format: date
          readOnly: true
        systemName:
          type: string
          description: The content system name
          readOnly: true
      description: An application cluster groups related applications from their individual relations.
    ActivityRef:
      required:
      - uuid
      type: object
      description: A reference to an activity
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    PressMediaAwardableAssociation:
      required:
      - pressMedia
      type: object
      properties:
        award:
          $ref: '#/components/schemas/AwardRef'
        pressMedia:
          $ref: '#/components/schemas/PressMediaRef'
      description: A relation to a press/media, optionally in the context of the Award that made it possible.
    DisciplinesDisciplineSchemeListResult:
      type: object
      properties:
        count:
          type: integer
          description: The amount of discipline schemes
          format: int32
        items:
          type: array
          description: Discipline schemes
          items:
            $ref: '#/components/schemas/DisciplinesDisciplineScheme'
      description: List of discipline schemes
    RemoteFile:
      required:
      - fileId
      - fileState
      - sourceId
      - storeName
      type: object
      properties:
        sourceId:
          type: string
          description: The remote source ID
        storeName:
          type: string
          description: The name of the remote store
        timeStamp:
          type: string
          description: The timestamp at which the file was stored
          format: date-time
        fileId:
          type: string
          description: The remote file ID
        fileState:
          type: string
          description: The remote file state
          enum:
          - AWAITING_CREATION
          - CREATION_IN_PROGRESS
          - CREATION_FAILED
          - STORED
          - AWAITING_DELETE
          - DELETE_IN_PROGRESS
          - DELETE_FAILED
          - DELETED
        metadataUpdateRequired:
          type: boolean
          description: Whether the file's metadata should be updated
          default: false
      description: Information about a remote file (Elsevier only)
    DisciplinesDisciplineListResult:
      type: object
      properties:
        count:
          type: integer
          description: The full count, ignoring paging
          format: int32
        pageInformation:
          $ref: '#/components/schemas/PageInformation'
        items:
          type: array
          description: Disciplines
          items:
            $ref: '#/components/schemas/DisciplinesDiscipline'
      description: List of disciplines for a specific discipline scheme
    KeywordGroup:
      required:
      - logicalName
      - typeDiscriminator
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        logicalName:
          type: string
          description: Unique name of the configuration that specifies this keyword group
        name:
          $ref: '#/components/schemas/LocalizedString'
        typeDiscriminator:
          type: string
      discriminator:
        propertyName: typeDiscriminator
        mapping:
          ClassificationsKeywordGroup: '#/components/schemas/ClassificationsKeywordGroup'
          FreeKeywordsKeywordGroup: '#/components/schemas/FreeKeywordsKeywordGroup'
          FullKeywordGroup: '#/components/schemas/FullKeywordGroup'
  securitySchemes:
    api-key:
      type: apiKey
      description: Security mechanism for the API
      name: api-key
      in: header
