openapi: 3.0.1
info:
  title: Pure activity researchOutput API
  description: The Pure API provides a secure and complete web services API for using and managing research information data in Pure. The API enables a broad range of use-cases for interacting with research information, from anonymous Open Data scenarios to enabling the next generation Pure admin.
  termsOfService: ''
  contact:
    name: ''
    url: ''
    email: pure-support@elsevier.com
  license:
    name: ''
    url: ''
  version: 5.35.3-4
servers:
- url: https://yonsei.elsevierpure.com/ws/api
  description: Yonsei University Elsevier Pure REST API
security:
- api-key: []
tags:
- name: researchOutput
paths:
  /research-outputs:
    get:
      tags:
      - researchOutput
      summary: Lists all research outputs
      description: Lists all research outputs in the Pure instance. If you need to filter the research outputs returned, see the POST version which supports additional filtering.
      operationId: researchOutput_list
      parameters:
      - name: size
        in: query
        description: Number of returned research outputs per request.
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 10
      - name: offset
        in: query
        description: The offset for the returned list. 0 or null value is from the start
        schema:
          type: integer
          format: int32
          default: 0
      - name: order
        in: query
        description: The order of the list, must be a value from /research-outputs/orderings
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResearchOutputListResult'
    put:
      tags:
      - researchOutput
      summary: Create research output
      description: Create research output
      operationId: researchOutput_create
      requestBody:
        description: The content to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResearchOutput'
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResearchOutput'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /research-outputs/allowed-additional-file-access-types:
    get:
      tags:
      - researchOutput
      summary: A list of allowed access types
      description: Get a list of allowed access types for additional files on research outputs
      operationId: researchoutput_getAllowedAdditionalFileAccessTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-additional-file-license-types:
    get:
      tags:
      - researchOutput
      summary: A list of allowed license types
      description: Get a list of allowed license types for additional files on research outputs
      operationId: researchoutput_getAllowedAdditionalFileLicenseTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-article-processing-charge-currencies:
    get:
      tags:
      - researchOutput
      summary: A list of allowed article processing charge currencies
      description: Get a list of allowed article processing charge currencies on research outputs
      operationId: researchoutput_getAllowedArticleProcessingChargeCurrencies
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-book-anthology-contributor-roles:
    get:
      tags:
      - researchOutput
      summary: A list of allowed contributor roles for the book anthology subtype
      description: Get a list of allowed roles for contributors on the book anthology subtype of research outputs
      operationId: researchoutput_getAllowedBookAnthologyContributorRoles
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-book-anthology-description-types:
    get:
      tags:
      - researchOutput
      summary: A list of allowed description types for the book anthology subtype
      description: Get a list of allowed description types on the book anthology subtype of research outputs
      operationId: researchoutput_getAllowedBookAnthologyDescriptionTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-case-note-sources:
    get:
      tags:
      - researchOutput
      summary: A list of allowed case note sources
      description: Get a list of allowed case note sources for select subtypes of research outputs
      operationId: researchoutput_getAllowedCaseNoteSources
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-categories:
    get:
      tags:
      - researchOutput
      summary: A list of allowed categories
      description: Get a list of allowed categories on research outputs
      operationId: researchoutput_getAllowedCategories
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-contribution-to-book-anthology-contributor-roles:
    get:
      tags:
      - researchOutput
      summary: A list of allowed contributor roles for the contribution to book anthology subtype
      description: Get a list of allowed roles for contributors on the contribution to book anthology subtype of research outputs
      operationId: researchoutput_getAllowedContributionToBookAnthologyContributorRoles
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-contribution-to-book-anthology-description-types:
    get:
      tags:
      - researchOutput
      summary: A list of allowed description types for the contribution to book anthology subtype
      description: Get a list of allowed description types on the contribution to book anthology subtype of research outputs
      operationId: researchoutput_getAllowedContributionToBookAnthologyDescriptionTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-contribution-to-conference-contributor-roles:
    get:
      tags:
      - researchOutput
      summary: A list of allowed contributor roles for the contribution to conference subtype
      description: Get a list of allowed roles for contributors on the contribution to conference subtype of research outputs
      operationId: researchoutput_getAllowedContributionToConferenceContributorRoles
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-contribution-to-conference-description-types:
    get:
      tags:
      - researchOutput
      summary: A list of allowed description types for the contribution to conference subtype
      description: Get a list of allowed description types on the contribution to conference subtype of research outputs
      operationId: researchoutput_getAllowedContributionToConferenceDescriptionTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-contribution-to-journal-contributor-roles:
    get:
      tags:
      - researchOutput
      summary: A list of allowed contributor roles for the contribution to journal subtype
      description: Get a list of allowed roles for contributors on the contribution to journal subtype of research outputs
      operationId: researchoutput_getAllowedContributionToJournalContributorRoles
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-contribution-to-journal-description-types:
    get:
      tags:
      - researchOutput
      summary: A list of allowed description types for the contribution to journal subtype
      description: Get a list of allowed description types on the contribution to journal subtype of research outputs
      operationId: researchoutput_getAllowedContributionToJournalDescriptionTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-contribution-to-memorandum-contributor-roles:
    get:
      tags:
      - researchOutput
      summary: A list of allowed contributor roles for the contribution to memorandum subtype
      description: Get a list of allowed roles for contributors on the contribution to memorandum subtype of research outputs
      operationId: researchoutput_getAllowedContributionToMemorandumContributorRoles
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-contribution-to-memorandum-description-types:
    get:
      tags:
      - researchOutput
      summary: A list of allowed description types for the contribution to memorandum subtype
      description: Get a list of allowed description types on the contribution to memorandum subtype of research outputs
      operationId: researchoutput_getAllowedContributionToMemorandumDescriptionTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-contribution-to-periodical-contributor-roles:
    get:
      tags:
      - researchOutput
      summary: A list of allowed contributor roles for the contribution to periodical subtype
      description: Get a list of allowed roles for contributors on the contribution to periodical subtype of research outputs
      operationId: researchoutput_getAllowedContributionToPeriodicalContributorRoles
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-contribution-to-periodical-description-types:
    get:
      tags:
      - researchOutput
      summary: A list of allowed description types for the contribution to periodical subtype
      description: Get a list of allowed description types on the contribution to periodical subtype of research outputs
      operationId: researchoutput_getAllowedContributionToPeriodicalDescriptionTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-contributor-countries:
    get:
      tags:
      - researchOutput
      summary: A list of allowed contributor countries
      description: Get a list of allowed countries for contributors on research outputs
      operationId: researchoutput_getAllowedContributorCountries
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-countries:
    get:
      tags:
      - researchOutput
      summary: A list of allowed countries
      description: Get a list of allowed countries that can be used for the 'countries' attribute of research outputs
      operationId: researchOutput_getAllowedCountries
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-custom-defined-field-values/{fieldIdentifer}/classifications:
    get:
      tags:
      - researchOutput
      summary: Get allowed classifications for the custom-defined field associated with the research output
      description: Get allowed classifications for the custom-defined field associated with the research output.
      operationId: researchOutput_getAllowedCustomDefinedFieldClassifications
      parameters:
      - name: fieldIdentifer
        in: path
        description: FieldIdentifer for the desired custom-defined field
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /research-outputs/allowed-electronic-version-access-types:
    get:
      tags:
      - researchOutput
      summary: A list of allowed access types
      description: Get a list of allowed access types for electronic versions on research outputs
      operationId: researchoutput_getAllowedElectronicVersionAccessTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-electronic-version-license-types:
    get:
      tags:
      - researchOutput
      summary: A list of allowed license types
      description: Get a list of allowed license types for electronic versions on research outputs
      operationId: researchoutput_getAllowedElectronicVersionLicenseTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-electronic-version-version-types:
    get:
      tags:
      - researchOutput
      summary: A list of allowed version types
      description: Get a list of allowed version types for electronic versions on research outputs
      operationId: researchoutput_getAllowedElectronicVersionVersionTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-image-types:
    get:
      tags:
      - researchOutput
      summary: A list of allowed image types
      description: Get a list of allowed image types that can be used for the 'images.type' attribute of research output
      operationId: researchOutput_getAllowedImageTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-keyword-group-configurations:
    get:
      tags:
      - researchOutput
      summary: A list of keyword group configurations
      description: Get a list of allowed keyword group configurations that can be used when submitting keyword groups.
      operationId: researchOutput_getAllowedKeywordGroupConfigurations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllowedKeywordGroupConfigurationList'
  /research-outputs/allowed-keyword-group-configurations/{id}/classifications:
    get:
      tags:
      - researchOutput
      summary: A list of allowed classifications for the specified keyword group
      description: Get a list of allowed classifications that can be used when submitting a specified keyword group.
      operationId: researchOutput_getAllowedKeywordGroupConfigurationClassifications
      parameters:
      - name: id
        in: path
        description: Pure id of the keyword group configuration
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-languages:
    get:
      tags:
      - researchOutput
      summary: A list of allowed languages
      description: Get a list of allowed languages on research outputs
      operationId: researchoutput_getAllowedLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-link-types:
    get:
      tags:
      - researchOutput
      summary: A list of allowed link types
      description: Get a list of allowed link types on research outputs
      operationId: researchoutput_getAllowedLinkTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-locales:
    get:
      tags:
      - researchOutput
      summary: A list of allowed locales in localized strings
      description: Get a list of allowed locales that can be used when submitting localized string entities.
      operationId: researchOutput_getAllowedLocales
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalesList'
  /research-outputs/allowed-main-research-areas:
    get:
      tags:
      - researchOutput
      summary: A list of allowed main research areas
      description: Get a list of allowed main research areas on research outputs
      operationId: researchoutput_getAllowedMainResearchAreas
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-memorandum-contributor-roles:
    get:
      tags:
      - researchOutput
      summary: A list of allowed contributor roles for the memorandum subtype
      description: Get a list of allowed roles for contributors on the memorandum subtype of research outputs
      operationId: researchoutput_getAllowedMemorandumContributorRoles
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-memorandum-description-types:
    get:
      tags:
      - researchOutput
      summary: A list of allowed description types for the memorandum subtype
      description: Get a list of allowed description types on the memorandum subtype of research outputs
      operationId: researchoutput_getAllowedMemorandumDescriptionTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-metric-collections:
    get:
      tags:
      - researchOutput
      summary: A list of allowed metric collections
      description: Get a list of metric collections allowed on research outputs
      operationId: researchoutput_getAllowedMetricCollections
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricCollectionDefinitionList'
  /research-outputs/allowed-non-textual-contributor-roles:
    get:
      tags:
      - researchOutput
      summary: A list of allowed contributor roles for the non-textual subtype
      description: Get a list of allowed roles for contributors on the non-textual subtype of research outputs
      operationId: researchoutput_getAllowedNonTextualContributorRoles
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-non-textual-description-types:
    get:
      tags:
      - researchOutput
      summary: A list of allowed description types for the non-textual subtype
      description: Get a list of allowed description types on the non-textual subtype of research outputs
      operationId: researchoutput_getAllowedNonTextualDescriptionTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-other-contribution-contributor-roles:
    get:
      tags:
      - researchOutput
      summary: A list of allowed contributor roles for the other contribution subtype
      description: Get a list of allowed roles for contributors on the other contribution subtype of research outputs
      operationId: researchoutput_getAllowedOtherContributionContributorRoles
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-other-contribution-description-types:
    get:
      tags:
      - researchOutput
      summary: A list of allowed description types for the other contribution subtype
      description: Get a list of allowed description types on the other contribution subtype of research outputs
      operationId: researchoutput_getAllowedOtherContributionDescriptionTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-output-medias:
    get:
      tags:
      - researchOutput
      summary: A list of allowed output medias
      description: Get a list of allowed output medias for the non-textual subtype of research outputs
      operationId: researchoutput_getAllowedOutputMedias
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-patent-contributor-roles:
    get:
      tags:
      - researchOutput
      summary: A list of allowed contributor roles for the patent subtype
      description: Get a list of allowed roles for contributors on the patent subtype of research outputs
      operationId: researchoutput_getAllowedPatentContributorRoles
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-patent-description-types:
    get:
      tags:
      - researchOutput
      summary: A list of allowed description types for the patent subtype
      description: Get a list of allowed description types on the patent subtype of research outputs
      operationId: researchoutput_getAllowedPatentDescriptionTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-peer-review-configurations:
    get:
      tags:
      - researchOutput
      summary: A list of peer review configurations
      description: 'Get a list of peer review configurations that describe the allowed combinations of values for the interrelated fields: type, category, peerReview, and internationalPeerReview'
      operationId: researchOutput_getAllowedPeerReviewConfigurations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResearchOutputPeerReviewConfigurationListResult'
  /research-outputs/allowed-publication-statuses:
    get:
      tags:
      - researchOutput
      summary: A list of allowed publication statuses
      description: Get a list of allowed publication statuses on research output
      operationId: researchoutput_getAllowedPublicationStatuses
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-qualifications:
    get:
      tags:
      - researchOutput
      summary: A list of allowed qualifications
      description: Get a list of allowed qualifications for the thesis subtype of research outputs
      operationId: researchoutput_getAllowedQualifications
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-supervisor-roles:
    get:
      tags:
      - researchOutput
      summary: A list of allowed supervisor roles
      description: Get a list of allowed supervisors roles for the thesis subtype of research outputs
      operationId: researchoutput_getAllowedSupervisorRoles
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-templates:
    get:
      tags:
      - researchOutput
      summary: A list of allowed research output templates
      description: Get a list of allowed templates that can be used for research outputs, such as 'ContributionToJournal' or 'BookAnthology'. Some of the templates that exists in the API specification may be disabled for the Pure installation.
      operationId: researchOutput_getAllowedTemplates
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllowedTemplateListResult'
  /research-outputs/allowed-thesis-contributor-roles:
    get:
      tags:
      - researchOutput
      summary: A list of allowed contributor roles for the thesis subtype
      description: Get a list of allowed roles for contributors on the thesis subtype of research outputs
      operationId: researchoutput_getAllowedThesisContributorRoles
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-thesis-description-types:
    get:
      tags:
      - researchOutput
      summary: A list of allowed description types for the thesis subtype
      description: Get a list of allowed description types on the thesis subtype of research outputs
      operationId: researchoutput_getAllowedThesisDescriptionTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-types:
    get:
      tags:
      - researchOutput
      summary: A list of allowed research output types
      description: Get a list of allowed types that can be used for the 'type' attribute of research outputs
      operationId: researchOutput_getAllowedTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-workflow-steps:
    get:
      tags:
      - researchOutput
      summary: A list of allowed workflow steps
      description: Get a list of allowed workflow steps that can be used for the 'workflow' attribute of research outputs
      operationId: researchOutput_getAllowedWorkflowSteps
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowListResult'
  /research-outputs/allowed-working-paper-contributor-roles:
    get:
      tags:
      - researchOutput
      summary: A list of allowed contributor roles for the working paper subtype
      description: Get a list of allowed roles for contributors on the working paper subtype of research outputs
      operationId: researchoutput_getAllowedWorkingPaperContributorRoles
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/allowed-working-paper-description-types:
    get:
      tags:
      - researchOutput
      summary: A list of allowed description types for the working paper subtype
      description: Get a list of allowed description types on the working paper subtype of research outputs
      operationId: researchoutput_getAllowedWorkingPaperDescriptionTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /research-outputs/disciplines/allowed-discipline-schemes:
    get:
      tags:
      - researchOutput
      summary: A list of allowed discipline schemes
      description: Get a list fo a allowed discipline schemes for research outputs
      operationId: researchoutput_getAllowedDisciplineSchemes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisciplinesDisciplineSchemeListResult'
  /research-outputs/disciplines/{discipline-scheme}/allowed-disciplines:
    get:
      tags:
      - researchOutput
      summary: A list of allowed disciplines for a specific discipline scheme
      description: Get a list of a allowed disciplines for specific discipline scheme for research outputs
      operationId: researchoutput_getAllowedDisciplines
      parameters:
      - name: discipline-scheme
        in: path
        description: Identifier for the discipline scheme for research output
        required: true
        schema:
          type: string
      - name: size
        in: query
        description: Number of returned disciplines per request
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 10
      - name: offset
        in: query
        description: The offset for the returned list. 0 or null value is from the start
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisciplinesDisciplineListResult'
  /research-outputs/disciplines/{discipline-scheme}/search:
    post:
      tags:
      - researchOutput
      summary: Query operation for disciplines associated with research outputs
      description: Lists disciplines from the discipline scheme associated with research outputs in the Pure instance that matches the provided query.
      operationId: researchOutput_listDisciplineAssociations
      parameters:
      - name: discipline-scheme
        in: path
        description: Identifier for the discipline scheme
        required: true
        schema:
          type: string
      requestBody:
        description: The query to perform
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisciplinesAssociationsQuery'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisciplinesAssociationListResult'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /research-outputs/file-uploads:
    put:
      tags:
      - researchOutput
      summary: Upload file to a specific research output
      description: Uploads file for the research output
      operationId: researchOutput_fileUploads
      parameters:
      - name: Content-Type
        in: header
        description: Set the mime type for the file
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              format: binary
        required: true
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadedFile'
            application/xml:
              schema:
                $ref: '#/components/schemas/UploadedFile'
  /research-outputs/orderings:
    get:
      tags:
      - researchOutput
      summary: Lists available orderings
      description: Lists all orderings available to the research output endpoint. These values can be used by the order parameter.
      operationId: researchOutput_getOrderings
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderingsList'
  /research-outputs/search:
    post:
      tags:
      - researchOutput
      summary: Query operation for research outputs
      description: Lists research outputs in the Pure instance that matches the provided query, similar to the GET version, instead of using parameters to alter the response, an JSON document is posted with the request. The JSON document contains fields for all the parameters available for the GET version, but also additional filtering options.
      operationId: researchOutput_query
      requestBody:
        description: The query to perform
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResearchOutputsQuery'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResearchOutputListResult'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /research-outputs/{uuid}:
    get:
      tags:
      - researchOutput
      summary: Get research output
      description: Get research output with specific UUID.
      operationId: researchOutput_get
      parameters:
      - name: uuid
        in: path
        description: UUID of the desired research output
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResearchOutput'
        '301':
          description: The requested content have changed UUID
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    put:
      tags:
      - researchOutput
      summary: Update research output
      description: Update research output with specific UUID.
      operationId: researchOutput_update
      parameters:
      - name: uuid
        in: path
        description: UUID of the research output to update
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      requestBody:
        description: The content to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResearchOutput'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResearchOutput'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Version conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConflictProblemDetails'
    delete:
      tags:
      - researchOutput
      summary: Delete research output
      description: Delete research output with specific UUID.
      operationId: researchOutput_delete
      parameters:
      - name: uuid
        in: path
        description: UUID of the research output
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '204':
          description: Successful operation
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConflictProblemDetails'
  /research-outputs/{uuid}/actions/lock:
    post:
      tags:
      - researchOutput
      summary: Lock the content
      description: Mark the content as external (used when content contains synchronised data). This has no effect on interactions with the content through the API.
      operationId: researchOutput_lock
      parameters:
      - name: uuid
        in: path
        description: UUID of the research output to lock
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '204':
          description: Content marked as locked
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Content already locked
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConflictProblemDetails'
  /research-outputs/{uuid}/actions/unlock:
    post:
      tags:
      - researchOutput
      summary: Unlock the content
      description: Remove the external mark on the content (used when content contains synchronised data). This has no effect on interactions with the content through the API.
      operationId: researchOutput_unlock
      parameters:
      - name: uuid
        in: path
        description: UUID of the research output to unlock
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '204':
          description: Content marked as unlocked
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Content already unlocked
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConflictProblemDetails'
  /research-outputs/{uuid}/dependents:
    get:
      tags:
      - researchOutput
      summary: Lists all dependents to a research output
      description: 'Lists all dependents to a research output with the specified UUID. If the user does not have access to view all the dependent content, an authorization error will be thrown. '
      operationId: researchOutput_dependents
      parameters:
      - name: uuid
        in: path
        description: UUID of the research output
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: verbose
        in: query
        description: DEPRECATED - Parameter has no effect.
        deprecated: true
        schema:
          type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentRefListResult'
  /research-outputs/{uuid}/disciplines/{discipline-scheme}:
    get:
      tags:
      - researchOutput
      summary: Get disciplinesfrom the discipline scheme associated with the research output
      description: Get disciplines from the discipline scheme associated with the research output with specific UUID.
      operationId: researchoutput_getDisciplineAssociation
      parameters:
      - name: uuid
        in: path
        description: UUID of the desired research output
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: discipline-scheme
        in: path
        description: Identifier for the discipline scheme
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisciplinesAssociation'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    put:
      tags:
      - researchOutput
      summary: Update disciplines from the discipline scheme associated with the research output
      description: Update disciplines from the discipline scheme associated with the research output with specific UUID.
      operationId: researchOutput_putDisciplineAssociation
      parameters:
      - name: uuid
        in: path
        description: UUID of the research output to update
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: discipline-scheme
        in: path
        description: Identifier for the discipline scheme
        required: true
        schema:
          type: string
      requestBody:
        description: The disciplines association to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisciplinesAssociation'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisciplinesAssociation'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /research-outputs/{uuid}/files/{fileId}:
    get:
      tags:
      - researchOutput
      summary: Get file from the research output
      description: Get file from the research output
      operationId: researchOutput_getFile
      parameters:
      - name: uuid
        in: path
        description: UUID of the research output
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: fileId
        in: path
        description: 'File id '
        required: true
        schema:
          pattern: .+
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                type: string
                format: binary
  /research-outputs/{uuid}/fingerprints:
    get:
      tags:
      - researchOutput
      summary: Get the fingerprints for the research output
      description: Get the fingerprints for the research output with the specified UUID.
      operationId: researchOutput_getFingerprints
      parameters:
      - name: uuid
        in: path
        description: UUID of the research output
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FingerprintListResult'
        '403':
          description: Access to requested resource is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /research-outputs/{uuid}/metrics/{collection-id}:
    get:
      tags:
      - researchOutput
      summary: Lists metrics with collection id
      description: Lists metrics from a specific metrics collection that associated with a research output.
      operationId: researchOutput_listMetricsFromCollection
      parameters:
      - name: uuid
        in: path
        description: UUID of the research output to get metrics for
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: collection-id
        in: path
        description: ID of the metrics collection to get metrics for
        required: true
        schema:
          pattern: .+
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricCollection'
        '404':
          description: Research output or metrics collection not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /research-outputs/{uuid}/notes:
    get:
      tags:
      - researchOutput
      summary: Lists notes
      description: Lists notes associated with a research output ordered by date (nulls last)
      operationId: researchOutput_listNotes
      parameters:
      - name: uuid
        in: path
        description: UUID of the research output to get notes for
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: size
        in: query
        description: Number of returned notes per request
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 10
      - name: offset
        in: query
        description: The offset for the returned list. 0 or null value is from the start
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteListResult'
        '404':
          description: Research output not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    put:
      tags:
      - researchOutput
      summary: Create note
      description: Create note and associate it with a research output
      operationId: researchOutput_createNote
      parameters:
      - name: uuid
        in: path
        description: UUID of the research output to add note to
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      requestBody:
        description: The note to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Note'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
components:
  schemas:
    AdditionalFileElectronicVersion:
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        accessType:
          $ref: '#/components/schemas/ClassificationRef'
        embargoPeriod:
          $ref: '#/components/schemas/DateRange'
        licenseType:
          $ref: '#/components/schemas/ClassificationRef'
        userDefinedLicense:
          type: string
          description: License defined by the user.
          nullable: true
        visibleOnPortalDate:
          type: string
          description: Date where this document is/will be visible on the portal.
          format: date
          readOnly: true
        creator:
          type: string
          description: Username of creator.
          readOnly: true
        created:
          type: string
          description: Date and time of creation.
          format: date-time
          readOnly: true
        title:
          type: string
          description: The title of the file.
          nullable: true
        file:
          $ref: '#/components/schemas/ElectronicVersionFile'
      description: An additional file related to a research output.
    OrganizationRef:
      required:
      - uuid
      type: object
      description: A reference to an organization in the institution
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    FundingDetails:
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        fundingOrganizations:
          maxItems: 1
          type: array
          description: The internal or external funding organizations
          nullable: true
          items:
            $ref: '#/components/schemas/OrganizationOrExternalOrganizationRef'
        fundingOrganizationAcronym:
          type: string
          description: The acronym of the funding organization
          nullable: true
        fundingNumbers:
          type: array
          description: Funding numbers/IDs
          nullable: true
          items:
            type: string
      description: Details about funding.
    ClassificationRef:
      required:
      - uri
      type: object
      properties:
        uri:
          type: string
          description: Classification URI of the referred classification
        term:
          $ref: '#/components/schemas/SystemLocalizedString'
      description: A reference to a classification value
      nullable: true
    MetricCollectionDefinitionList:
      type: object
      properties:
        items:
          type: array
          description: Information about each metric collection
          items:
            $ref: '#/components/schemas/MetricCollectionDefinition'
      description: List of metric collection definitions
    ClassificationSchemeRef:
      required:
      - uuid
      type: object
      description: A reference to a classification scheme
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    CurrencyAmount:
      required:
      - currency
      - value
      type: object
      properties:
        currency:
          type: string
          description: 'An ISO-4217 3-letter alphabetic code as defined by the W3C''s Payment Request standard: https://www.w3.org/TR/payment-request/#dom-paymentcurrencyamount-currency'
        value:
          type: string
          description: 'A valid decimal monetary value as defined by the W3C''s Payment Request standard: https://www.w3.org/TR/payment-request/#dom-paymentcurrencyamount-value'
          format: ^-?[0-9]+(\.[0-9]+)?$
      description: 'A monetary value in the specified currency as defined by the W3C''s Payment Request standard: https://www.w3.org/TR/payment-request/#paymentcurrencyamount-dictionary'
    ProjectAwardableAssociation:
      required:
      - project
      type: object
      properties:
        award:
          $ref: '#/components/schemas/AwardRef'
        project:
          $ref: '#/components/schemas/ProjectRef'
      description: A relation to a project, optionally in the context of the Award that made it possible.
      nullable: true
    WorkflowListResult:
      type: object
      properties:
        workflows:
          type: array
          description: Allowed workflow steps.
          items:
            $ref: '#/components/schemas/Workflow'
      description: List of workflow steps.
    ImpactRef:
      required:
      - uuid
      type: object
      description: A reference to impact
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    LocalesList:
      type: object
      properties:
        locales:
          pattern: /^[a-z]{2}_[A-Z]{2}$/
          type: array
          description: Allowed locale values for use in localized string entities. The locale format consists of lower-case ISO 639 alpha-2 language code and upper-cased ISO 3166 alpha-2 country code.
          items:
            pattern: /^[a-z]{2}_[A-Z]{2}$/
            type: string
            description: Allowed locale values for use in localized string entities. The locale format consists of lower-case ISO 639 alpha-2 language code and upper-cased ISO 3166 alpha-2 country code.
      description: List of available locales
    NoteListResult:
      type: object
      properties:
        count:
          type: integer
          description: The full count, ignoring paging
          format: int32
        pageInformation:
          $ref: '#/components/schemas/PageInformation'
        items:
          type: array
          description: Notes
          items:
            $ref: '#/components/schemas/Note'
      description: List of notes
    MetricCollectionItem:
      required:
      - metricValues
      type: object
      properties:
        source:
          $ref: '#/components/schemas/ClassificationRef'
        category:
          $ref: '#/components/schemas/ClassificationRef'
        year:
          type: integer
          description: The year of the metric, if applicable.
          format: int32
          nullable: true
        metricValues:
          type: array
          description: List of metric values.
          items:
            $ref: '#/components/schemas/MetricValue'
      description: A metric collection. Contents a list of metric values.
    AllowedTemplate:
      type: object
      properties:
        name:
          type: string
          description: The name of the template.
          readOnly: true
        description:
          type: string
          description: The description of the template.
          readOnly: true
      description: An allowed template, such as 'ContributionToJournal' or 'BookAnthology' for research outputs.
    ResearchOutputPeerReviewConfiguration:
      type: object
      properties:
        researchOutputType:
          $ref: '#/components/schemas/ClassificationRef'
        allowedCombinations:
          type: array
          description: The valid combinations of the interrelated fields
          readOnly: true
          items:
            $ref: '#/components/schemas/ResearchOutputPeerReviewConfigurationCombination'
      description: 'A specification for a research output type and the allowed combinations of it''s interrelated fields: category, peerReview, and internationPeerReview'
    ResearchOutputPeerReviewConfigurationListResult:
      type: object
      properties:
        researchOutputPeerReviewConfigurations:
          type: array
          items:
            $ref: '#/components/schemas/ResearchOutputPeerReviewConfiguration'
      description: List of research output peer review configurations
    DisciplinesAssociationsQuery:
      type: object
      properties:
        uuids:
          type: array
          items:
            type: string
            format: uuid
        size:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
      description: Create a query for discipline associations
    AllowedTemplateListResult:
      type: object
      properties:
        items:
          type: array
          description: Allowed templates.
          items:
            $ref: '#/components/schemas/AllowedTemplate'
      description: List of allowed templates.
    ResearchOutputDataSetAssociation:
      required:
      - dataSet
      type: object
      properties:
        dataSet:
          $ref: '#/components/schemas/DataSetRef'
      description: An association to a dataset.
      nullable: true
    ResearchOutputStudentThesisAssociation:
      required:
      - studentThesis
      type: object
      properties:
        studentThesis:
          $ref: '#/components/schemas/StudentThesisRef'
      description: An association to a student thesis.
      nullable: true
    Link:
      required:
      - url
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        url:
          type: string
          description: The URL (Uniform Resource Locator) of the link
        alias:
          type: string
          description: A user-friendly text to show instead of the URL
          nullable: true
        description:
          $ref: '#/components/schemas/LocalizedString'
        linkType:
          $ref: '#/components/schemas/ClassificationRef'
      description: A hyperlink describing a location on the web.
    FormattedString:
      required:
      - value
      type: object
      properties:
        value:
          type: string
          description: The actual formatted string
      description: A string containing HTML formatted text
    DateRange:
      type: object
      properties:
        startDate:
          type: string
          description: Start date
          format: date
          nullable: true
        endDate:
          type: string
          description: End date
          format: date
          nullable: true
      description: A date range
    DisciplinesDisciplineAssignment:
      required:
      - disciplineId
      - splitPercentage
      type: object
      properties:
        disciplineId:
          type: string
          description: The assigned discipline
        splitPercentage:
          type: number
          description: The split percentages within an assigned discipline scheme must sum up to 100%
          format: double
      description: The assigned discipline and its split percentage
    StudentThesisRef:
      required:
      - uuid
      type: object
      description: A reference to student thesis
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    Workflow:
      required:
      - step
      type: object
      properties:
        step:
          type: string
          description: Current workflow step
        description:
          $ref: '#/components/schemas/SystemLocalizedString'
      description: Information about workflow
    DisciplinesAssociationListResult:
      type: object
      properties:
        count:
          type: integer
          description: The full count, ignoring paging
          format: int32
        pageInformation:
          $ref: '#/components/schemas/PageInformation'
        items:
          type: array
          description: Discipline associations
          items:
            $ref: '#/components/schemas/DisciplinesAssociation'
      description: List of discipline associations. Can contain a subset of all items along with the full count
    SystemLocalizedString:
      type: object
      additionalProperties:
        type: string
        description: A set of localized string values each for a specific UI locale.
        nullable: true
        example: '{"en_GB":"Some text"}'
      description: A set of localized string values each for a specific UI locale.
      nullable: true
      example:
        en_GB: Some text
    CustomDefinedFields:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/CustomDefinedField'
      description: Map of CustomDefinedField values, where the key is the field identifier
      nullable: true
      example: '{ "fieldName1": "typeDiscriminator": "Integer", "value" : 1}'
    ClassificationRefList:
      type: object
      properties:
        classifications:
          type: array
          items:
            $ref: '#/components/schemas/ClassificationRef'
      description: List of classification references
    ElectronicVersion:
      required:
      - typeDiscriminator
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        accessType:
          $ref: '#/components/schemas/ClassificationRef'
        embargoPeriod:
          $ref: '#/components/schemas/DateRange'
        licenseType:
          $ref: '#/components/schemas/ClassificationRef'
        userDefinedLicense:
          type: string
          description: License defined by the user.
          nullable: true
        visibleOnPortalDate:
          type: string
          description: Date where this document is/will be visible on the portal.
          format: date
          readOnly: true
        creator:
          type: string
          description: Username of creator
          readOnly: true
        created:
          type: string
          description: Date and time of creation
          format: date-time
          readOnly: true
        typeDiscriminator:
          type: string
      description: Electronic version related to a research output.
      nullable: true
      discriminator:
        propertyName: typeDiscriminator
        mapping:
          DoiElectronicVersion: '#/components/schemas/DoiElectronicVersion'
          FileElectronicVersion: '#/components/schemas/FileElectronicVersion'
          LinkElectronicVersion: '#/components/schemas/LinkElectronicVersion'
    ExternalOrganizationRef:
      required:
      - uuid
      type: object
      description: A reference to an organization external to the institution
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    ImageFile:
      required:
      - fileName
      - mimeType
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        fileId:
          type: string
          description: The id of the file
          readOnly: true
        fileName:
          type: string
          description: The documents file name
        mimeType:
          type: string
          description: The documents mime type
        size:
          type: integer
          description: The documents size in bytes
          format: int64
        url:
          type: string
          description: Download url for the binary file
          readOnly: true
        fileStoreLocations:
          type: object
          additionalProperties:
            type: string
            description: Locations of the binary file in file stores.
            readOnly: true
          description: Locations of the binary file in file stores.
          readOnly: true
        uploadedFile:
          $ref: '#/components/schemas/UploadedFile'
        remoteFile:
          $ref: '#/components/schemas/RemoteFile'
        fileData:
          type: string
          description: Base64 encoded file data for new files. This property can be used instead of uploadedFile for small files
          format: byte
          writeOnly: true
        type:
          $ref: '#/components/schemas/ClassificationRef'
        copyrightConfirmation:
          type: boolean
          description: Indicates whether this file has been confirmed to adhere to the appropriate copyrights
          nullable: true
        caption:
          $ref: '#/components/schemas/LocalizedString'
        altText:
          $ref: '#/components/schemas/LocalizedString'
        copyrightStatement:
          $ref: '#/components/schemas/LocalizedString'
      description: An image file
    Identifier:
      required:
      - typeDiscriminator
      type: object
      properties:
        typeDiscriminator:
          type: string
      discriminator:
        propertyName: typeDiscriminator
        mapping:
          ClassifiedId: '#/components/schemas/ClassifiedId'
          PrimaryId: '#/components/schemas/PrimaryId'
          Id: '#/components/schemas/Id'
    ConflictProblemDetails:
      type: object
      properties:
        type:
          type: string
          description: A URI reference [RFC3986] that identifies the problem type.
        title:
          type: string
          description: A short, human-readable summary of the problem type. It SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization (e.g., using proactive content negotiation; see [RFC7231], Section 3.4).
        status:
          type: integer
          description: The HTTP status code ([RFC7231], Section 6) generated by the origin server for this occurrence of the problem.
          format: int32
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.  It may or may not yield further information if dereferenced.
        modified:
          type: string
          format: date-time
        modifiedBy:
          type: string
      description: Problem details for state conflict failures
    ResearchOutputPrizeAssociation:
      required:
      - prize
      type: object
      properties:
        prize:
          $ref: '#/components/schemas/PrizeRef'
      description: An association to a prize.
      nullable: true
    FingerprintListResult:
      type: object
      properties:
        count:
          type: integer
          description: The full count, ignoring paging
          format: int32
        pageInformation:
          $ref: '#/components/schemas/PageInformation'
        items:
          type: array
          description: Fingerprints
          items:
            $ref: '#/components/schemas/Fingerprint'
      description: List of fingerprints. Can contain a subset of all items along with the full count
    ResearchOutputPressMediaAssociation:
      required:
      - pressMedia
      type: object
      properties:
        pressMedia:
          $ref: '#/components/schemas/PressMediaRef'
      description: An association to a press media.
      nullable: true
    Visibility:
      required:
      - key
      type: object
      properties:
        key:
          type: string
          description: Visibility value
          enum:
          - FREE
          - CAMPUS
          - BACKEND
          - CONFIDENTIAL
        description:
          $ref: '#/components/schemas/SystemLocalizedString'
      description: Visibility of an object
    OrganizationOrExternalOrganizationRef:
      type: object
      properties:
        organizationRef:
          $ref: '#/components/schemas/OrganizationRef'
        externalOrganizationRef:
          $ref: '#/components/schemas/ExternalOrganizationRef'
      description: A reference to an organization in the institution or an external organization
      nullable: true
    ResearchOutputPeerReviewConfigurationCombination:
      type: object
      properties:
        category:
          $ref: '#/components/schemas/ClassificationRef'
        peerReviewable:
          type: string
          description: Research output peer reviewable
          readOnly: true
          enum:
          - NOT_PEER_REVIEWABLE
          - PEER_REVIEWABLE
          - INTERNATIONAL_PEER_REVIEWABLE
      description: 'A specification for a publication category and it''s interrelated fields: peerReview and internationalPeerReview'
      readOnly: true
    DisciplinesDisciplineScheme:
      required:
      - disciplineScheme
      - title
      type: object
      properties:
        disciplineScheme:
          type: string
          description: The discipline scheme identifier
        title:
          type: string
          description: The discipline title
      description: A discipline scheme
    LocalizedString:
      type: object
      additionalProperties:
        type: string
        description: 'A set of string values, one for each submission locale. Note: invalid locale values will be ignored.'
        nullable: true
        example: '{"en_GB":"Some text"}'
      description: 'A set of string values, one for each submission locale. Note: invalid locale values will be ignored.'
      nullable: true
      example:
        en_GB: Some text
    AwardRef:
      required:
      - uuid
      type: object
      description: A reference to an award
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    ClassifiedFormattedLocalizedValue:
      required:
      - type
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        value:
          $ref: '#/components/schemas/FormattedLocalizedString'
        type:
          $ref: '#/components/schemas/ClassificationRef'
      description: A classified formatted localized value
    ResearchOutputsQuery:
      type: object
      properties:
        uuids:
          type: array
          items:
            type: string
            format: uuid
        size:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
        orderings:
          type: array
          items:
            type: string
        searchString:
          type: string
          description: String used to perform search
        orderBy:
          type: string
          writeOnly: true
      description: Create a query for researchOutputs
    ResearchOutputAssociation:
      required:
      - researchOutput
      type: object
      properties:
        researchOutput:
          $ref: '#/components/schemas/ResearchOutputRef'
      description: An association to a research output.
      nullable: true
    RankedConcept:
      required:
      - concept
      - rank
      type: object
      properties:
        concept:
          $ref: '#/components/schemas/ConceptRef'
        rank:
          type: number
          description: The rank of the ranked concept. If this is not set on creation, the ranked concept will have a default rank value of 0
          format: double
        weightedRank:
          type: number
          description: WeightedRank
          format: double
          nullable: true
        frequency:
          type: integer
          description: Frequency
          format: int32
          nullable: true
      description: A ranked concept
    FormattedLocalizedString:
      type: object
      additionalProperties:
        type: string
        description: A set of localized strings that support formatting. Invalid locale values will be ignored.
        nullable: true
        example: '{"en_GB":"Some text"}'
      description: A set of localized strings that support formatting. Invalid locale values will be ignored.
      nullable: true
      example:
        en_GB: Some text
    CustomDefinedField:
      required:
      - typeDiscriminator
      type: object
      properties:
        typeDiscriminator:
          type: string
      description: Map of CustomDefinedField values, where the key is the field identifier
      nullable: true
      example: '{ "fieldName1": "typeDiscriminator": "Integer", "value" : 1}'
      discriminator:
        propertyName: typeDiscriminator
        mapping:
          Integer: '#/components/schemas/CustomDefinedFieldInteger'
          String: '#/components/schemas/CustomDefinedFieldString'
          Date: '#/components/schemas/CustomDefinedFieldDate'
          Classification: '#/components/schemas/CustomDefinedFieldClassification'
          Boolean: '#/components/schemas/CustomDefinedFieldBoolean'
          Decimal: '#/components/schemas/CustomDefinedFieldDecimal'
    Note:
      required:
      - text
      type: object
      properties:
        date:
          type: string
          description: Date and time of when the note was created, an event occurred or similar. Can be any point in time, but <now> is normally preferred
          format: date-time
          nullable: true
        username:
          type: string
          description: Username related to the note. Usually a username of the user creating the note. Does not have to be a username of a Pure user
          nullable: true
        text:
          type: string
          description: Note text
      description: A note
    OrderingsList:
      type: object
      properties:
        orderings:
          type: array
          description: IDs of ways content can be ordered
          items:
            type: string
            description: IDs of ways content can be ordered
      description: List of available orderings
    DisciplinesDiscipline:
      type: object
      properties:
        disciplineId:
          type: string
          description: The discipline identifier
          readOnly: true
        title:
          type: string
          description: The discipline title
          readOnly: true
        description:
          type: string
          description: The discipline description
          readOnly: true
      description: A discipline within a specific discipline scheme
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          description: A URI reference [RFC3986] that identifies the problem type.
        title:
          type: string
          description: A short, human-readable summary of the problem type. It SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization (e.g., using proactive content negotiation; see [RFC7231], Section 3.4).
        status:
          type: integer
          description: The HTTP status code ([RFC7231], Section 6) generated by the origin server for this occurrence of the problem.
          format: int32
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.  It may or may not yield further information if dereferenced.
      description: RFC7807 Error details
      discriminator:
        propertyName: type
        mapping:
          /error: '#/components/schemas/GenericProblemDetails'
          /validation-error: '#/components/schemas/ValidationProblemDetails'
          /dependency-violation-error: '#/components/schemas/DependencyViolationProblemDetails'
    ResearchOutputImpactAssociation:
      required:
      - impact
      type: object
      properties:
        impact:
          $ref: '#/components/schemas/ImpactRef'
      description: An association to an impact.
      nullable: true
    Fingerprint:
      required:
      - relatedContent
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        uuid:
          type: string
          description: UUID, this is the primary identity of the entity
          format: uuid
          readOnly: true
        createdBy:
          type: string
          description: Username of creator
          readOnly: true
        createdDate:
          type: string
          description: Date and time of creation
          format: date-time
          readOnly: true
        modifiedBy:
          type: string
          description: Username of the user that performed a modification
          readOnly: true
        modifiedDate:
          type: string
          description: Date and time of last modification
          format: date-time
          readOnly: true
        portalUrl:
          type: string
          description: URL of the content on the Pure Portal
          readOnly: true
        prettyUrlIdentifiers:
          type: array
          description: All pretty URLs
          readOnly: true
          items:
            type: string
            description: All pretty URLs
            readOnly: true
        previousUuids:
          type: array
          description: UUIDs of other content items which have been merged into this content item (or similar)
          readOnly: true
          items:
            type: string
            description: UUIDs of other content items which have been merged into this content item (or similar)
            readOnly: true
        version:
          type: string
          description: Used to guard against conflicting updates. For new content this is null, and for existing content the current value. The property should never be modified by a client, except in the rare case where the client wants to perform an update irrespective of if other clients have made updates in the meantime, also known as a "dirty write". A dirty write is performed by not including the property value or setting the property to null
          nullable: true
        relatedContent:
          $ref: '#/components/schemas/ContentRef'
        concepts:
          type: array
          description: The ranked concepts that makes up this fingerprint
          nullable: true
          items:
            $ref: '#/components/schemas/RankedConcept'
        systemName:
          type: string
          description: The content system name
          readOnly: true
      description: A fingerprint
    ResearchOutputRef:
      required:
      - uuid
      type: object
      description: A reference to a research output
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    ContentRefListResult:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ContentRef'
      description: List of Content Refs
    DataSetRef:
      required:
      - uuid
      type: object
      description: A reference to a data set
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    MetricValue:
      required:
      - metricId
      type: object
      properties:
        metricId:
          type: string
          description: ID of the metric that defines this metric value (this controls for example the type returned).
        integerValue:
          type: integer
          description: The integer value of the metric.
          format: int32
          nullable: true
        decimalValue:
          type: number
          description: The decimal value of the metric.
          nullable: true
        stringValue:
          type: string
          description: The string value of the metric.
          nullable: true
        booleanValue:
          type: boolean
          description: The boolean value of the metric.
          nullable: true
        classificationValue:
          $ref: '#/components/schemas/ClassificationRef'
      description: A metric value, that contains one piece of data. Only one type of value can be set at a time, and it must match the specification of the metric definition.
    EquipmentRef:
      required:
      - uuid
      type: object
      description: A reference to a piece of equipment
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    DisciplinesAssociation:
      required:
      - disciplineAssignments
      type: object
      properties:
        content:
          $ref: '#/components/schemas/ContentRef'
        disciplineScheme:
          type: string
          description: The discipline scheme these disciplines are assigned from
          readOnly: true
        disciplineAssignments:
          type: array
          description: A collection of assigned disciplines
          items:
            $ref: '#/components/schemas/DisciplinesDisciplineAssignment'
      description: An association between a content and a number of discipline assignments
    ContentRef:
      required:
      - systemName
      - uuid
      type: object
      properties:
        uuid:
          type: string
          description: UUID of the referred content
          format: uuid
        systemName:
          type: string
      nullable: true
      discriminator:
        propertyName: systemName
        mapping:
          AccessDefinition: '#/components/schemas/AccessDefinitionRef'
          Activity: '#/components/schemas/ActivityRef'
          Application: '#/components/schemas/ApplicationRef'
          AuthorCollaboration: '#/components/schemas/AuthorCollaborationRef'
          Award: '#/components/schemas/AwardRef'
          ClassificationScheme: '#/components/schemas/ClassificationSchemeRef'
          ConferenceSeries: '#/components/schemas/ConferenceSeriesRef'
          DataSet: '#/components/schemas/DataSetRef'
          Equipment: '#/components/schemas/EquipmentRef'
          Event: '#/components/schemas/EventRef'
          ExternalOrganization: '#/components/schemas/ExternalOrganizationRef'
          ExternalPerson: '#/components/schemas/ExternalPersonRef'
          Impact: '#/components/schemas/ImpactRef'
          Journal: '#/components/schemas/JournalRef'
          Organization: '#/components/schemas/OrganizationRef'
          Person: '#/components/schemas/PersonRef'
          Publisher: '#/components/schemas/PublisherRef'
          PressMedia: '#/components/schemas/PressMediaRef'
          Prize: '#/components/schemas/PrizeRef'
          Project: '#/components/schemas/ProjectRef'
          ResearchOutput: '#/components/schemas/ResearchOutputRef'
          StudentThesis: '#/components/schemas/StudentThesisRef'
          FundingOpportunity: '#/components/schemas/FundingOpportunityRef'
          EthicalReview: '#/components/schemas/EthicalReviewRef'
          ApplicationCluster: '#/components/schemas/ApplicationClusterRef'
          AwardCluster: '#/components/schemas/AwardClusterRef'
          User: '#/components/schemas/UserRef'
          ERA2018FieldOfResearch: '#/components/schemas/Anzsrc2008FieldOfResearchRef'
          UnitOfAssessmentREF2014: '#/components/schemas/Ref2014UnitOfAssessmentRef'
          UnitOfAssessmentREF2020: '#/components/schemas/Ref2020UnitOfAssessmentRef'
          ANZSRCTypeOfActivity: '#/components/schemas/Anzsrc2020TypeOfActivityRef'
          ANZSRCFieldOfResearch: '#/components/schemas/Anzsrc2020FieldOfResearchRef'
          ANZSRCSocioEconomicObjective: '#/components/schemas/Anzsrc2020SocioEconomicObjectiveRef'
          Semester: '#/components/schemas/SemesterRef'
          Education: '#/components/schemas/EducationRef'
          Course: '#/components/schemas/CourseRef'
          CurriculumVitae: '#/components/schemas/CurriculumVitaeRef'
          CustomDefinedFieldConfiguration: '#/components/schemas/CustomDefinedFieldConfigurationRef'
          KeywordGroupConfiguration: '#/components/schemas/KeywordGroupConfigurationRef'
          Review: '#/components/schemas/ReviewRef'
          GenericContentRef: '#/components/schemas/GenericContentRef'
          UserProfile: '#/components/schemas/UserProfileRef'
          Thesaurus: '#/components/schemas/ThesaurusRef'
          Concept: '#/components/schemas/ConceptRef'
          PersonExpertise: '#/components/schemas/PersonExpertiseRef'
          Contract: '#/components/schemas/ContractRef'
          Milestone: '#/components/schemas/MilestoneRef'
          Fingerprint: '#/components/schemas/FingerprintRef'
          Specialization: '#/components/schemas/SpecializationRef'
          StudentProject: '#/components/schemas/StudentProjectRef'
    PageInformation:
      type: object
      properties:
        offset:
          type: integer
          description: Offset that returned items start at
          format: int32
        size:
          type: integer
          description: The requested number of items. May be higher than the actual number of items in the result if there are fewer items in the store than requested
          format: int32
      description: Information about pages
    ResearchOutputListResult:
      type: object
      properties:
        count:
          type: integer
          description: The full count, ignoring paging
          format: int32
        pageInformation:
          $ref: '#/components/schemas/PageInformation'
        items:
          type: array
          description: ResearchOutput
          items:
            $ref: '#/components/schemas/ResearchOutput'
      description: List of researchoutputs. Can contain a subset of all items along with the full count
    CompoundDate:
      required:
      - year
      type: object
      properties:
        year:
          maximum: 4000
          minimum: 0
          type: integer
          format: int32
        month:
          maximum: 12
          minimum: 1
          type: integer
          format: int32
          nullable: true
        day:
          maximum: 31
          minimum: 1
          type: integer
          format: int32
          nullable: true
      description: A date that can be defined by only year, year and month or a full date
      nullable: true
    ProjectRef:
      required:
      - uuid
      type: object
      description: A reference to project
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    UploadedFile:
      required:
      - key
      type: object
      properties:
        digest:
          type: string
          description: The calculated digest for the file in Pure
          readOnly: true
        digestType:
          type: string
          description: The digest type
          readOnly: true
        size:
          type: integer
          description: The file size of the file in Pure
          format: int64
          readOnly: true
        mimeType:
          type: string
          description: The mime type detected for the file
          readOnly: true
        timeStamp:
          type: string
          description: The timestamp Pure received the file
          format: date-time
          readOnly: true
        expires:
          type: string
          description: The timestamp where Pure deletes the uploaded file if it has not been attached to any content
          format: date-time
          readOnly: true
        key:
          type: string
          description: Pure key identifer for the file upload
          readOnly: true
      description: Information about the uploaded file
    PressMediaRef:
      required:
      - uuid
      type: object
      description: A reference to a press/media
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    AllowedKeywordGroupConfiguration:
      required:
      - targetSystemName
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        targetSystemName:
          type: string
          description: The content system name this configuration applies to
        keywordGroupType:
          type: string
          description: The OpenAPI schema type of this keyword configuration
          readOnly: true
        name:
          $ref: '#/components/schemas/LocalizedString'
        description:
          $ref: '#/components/schemas/FormattedLocalizedString'
        classificationScheme:
          $ref: '#/components/schemas/ClassificationSchemeRef'
        allowUserdefinedKeywords:
          type: boolean
          description: Defines if user defined keywords are allowed
        limitToLeafSelection:
          type: boolean
        logicalName:
          type: string
        relationType:
          type: string
          description: The schema name of the type (with the ability to associate keywords) on which the keyword group configuration is related to, e.g. StaffOrganizationAssociation. It can also be set to null (default value), which means the keyword group configuration is related to the main type (the target system name) and not a relation of the main type.
          nullable: true
      description: A specification of the allowed behavior of a specified keyword group
    PrizeRef:
      required:
      - uuid
      type: object
      description: A reference to a prize
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    AllowedKeywordGroupConfigurationList:
      type: object
      properties:
        configurations:
          type: array
          items:
            $ref: '#/components/schemas/AllowedKeywordGroupConfiguration'
      description: List of allowed keyword group configurations
    ConceptRef:
      required:
      - uuid
      type: object
      description: A reference to a concept
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
      - type: object
        properties:
          conceptId:
            type: string
            description: The concept ID
            readOnly: true
    ActivityRef:
      required:
      - uuid
      type: object
      description: A reference to an activity
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    MetricCollectionDefinition:
      required:
      - collectionId
      - name
      type: object
      properties:
        metrics:
          type: array
          description: Information about each metric in the collection
          items:
            $ref: '#/components/schemas/MetricDefinition'
        collectionId:
          type: string
          description: ID of the metric collection
        name:
          $ref: '#/components/schemas/LocalizedString'
      description: Information about a set of related metrics, usually from a single provider
    ElectronicVersionFile:
      required:
      - fileName
      - mimeType
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        fileId:
          type: string
          description: The id of the file
          readOnly: true
        fileName:
          type: string
          description: The documents file name
        mimeType:
          type: string
          description: The documents mime type
        size:
          type: integer
          description: The documents size in bytes
          format: int64
        url:
          type: string
          description: Download url for the binary file
          readOnly: true
        fileStoreLocations:
          type: object
          additionalProperties:
            type: string
            description: Locations of the binary file in file stores.
            readOnly: true
          description: Locations of the binary file in file stores.
          readOnly: true
        uploadedFile:
          $ref: '#/components/schemas/UploadedFile'
        remoteFile:
          $ref: '#/components/schemas/RemoteFile'
        fileData:
          type: string
          description: Base64 encoded file data for new files. This property can be used instead of uploadedFile for small files
          format: byte
          writeOnly: true
      description: Information about an electronic version file
    ResearchOutput:
      required:
      - category
      - contributors
      - language
      - managingOrganization
      - publicationStatuses
      - title
      - type
      - typeDiscriminator
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        uuid:
          type: string
          description: UUID, this is the primary identity of the entity
          format: uuid
          readOnly: true
        createdBy:
          type: string
          description: Username of creator
          readOnly: true
        createdDate:
          type: string
          description: Date and time of creation
          format: date-time
          readOnly: true
        modifiedBy:
          type: string
          description: Username of the user that performed a modification
          readOnly: true
        modifiedDate:
          type: string
          description: Date and time of last modification
          format: date-time
          readOnly: true
        portalUrl:
          type: string
          description: URL of the content on the Pure Portal
          readOnly: true
        prettyUrlIdentifiers:
          type: array
          description: All pretty URLs
          readOnly: true
          items:
            type: string
            description: All pretty URLs
            readOnly: true
        previousUuids:
          type: array
          description: UUIDs of other content items which have been merged into this content item (or similar)
          readOnly: true
          items:
            type: string
            description: UUIDs of other content items which have been merged into this content item (or similar)
            readOnly: true
        version:
          type: string
          description: Used to guard against conflicting updates. For new content this is null, and for existing content the current value. The property should never be modified by a client, except in the rare case where the client wants to perform an update irrespective of if other clients have made updates in the meantime, also known as a "dirty write". A dirty write is performed by not including the property value or setting the property to null
          nullable: true
        title:
          $ref: '#/components/schemas/FormattedString'
        subTitle:
          $ref: '#/components/schemas/FormattedString'
        type:
          $ref: '#/components/schemas/ClassificationRef'
        category:
          $ref: '#/components/schemas/ClassificationRef'
        peerReview:
          type: boolean
          description: Indicates whether the research output is peer reviewed or not. Query the /research-outputs/allowed-peer-review-configurations endpoint for allowed values.
          nullable: true
        internationalPeerReview:
          type: boolean
          description: Indicates whether the research output is internationally peer reviewed or not. Query the /research-outputs/allowed-peer-review-configurations endpoint for allowed values.
          nullable: true
        publicationStatuses:
          type: array
          description: Manage the research output's different statuses and dates these were reached.
          items:
            $ref: '#/components/schemas/PublicationStatus'
        language:
          $ref: '#/components/schemas/ClassificationRef'
        translatedTitle:
          $ref: '#/components/schemas/FormattedLocalizedString'
        translatedSubTitle:
          $ref: '#/components/schemas/FormattedLocalizedString'
        contributors:
          type: array
[...]
