openapi: 3.0.1
info:
  title: Pure activity journal API
  description: The Pure API provides a secure and complete web services API for using and managing research information data in Pure. The API enables a broad range of use-cases for interacting with research information, from anonymous Open Data scenarios to enabling the next generation Pure admin.
  termsOfService: ''
  contact:
    name: ''
    url: ''
    email: pure-support@elsevier.com
  license:
    name: ''
    url: ''
  version: 5.35.3-4
servers:
- url: https://yonsei.elsevierpure.com/ws/api
  description: Yonsei University Elsevier Pure REST API
security:
- api-key: []
tags:
- name: journal
paths:
  /journals:
    get:
      tags:
      - journal
      summary: Lists all journals
      description: Lists all journals in the Pure instance. If you need to filter the journals returned, see the POST version which supports additional filtering.
      operationId: journal_list
      parameters:
      - name: size
        in: query
        description: Number of returned journals per request.
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 10
      - name: offset
        in: query
        description: The offset for the returned list. 0 or null value is from the start
        schema:
          type: integer
          format: int32
          default: 0
      - name: order
        in: query
        description: The order of the list, must be a value from /journals/orderings
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JournalListResult'
    put:
      tags:
      - journal
      summary: Create journal
      description: Create journal
      operationId: journal_create
      requestBody:
        description: The content to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Journal'
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Journal'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /journals/allowed-classified-identifier-types:
    get:
      tags:
      - journal
      summary: A list of allowed classified identifier types
      description: Get a list of allowed classified identifier types that can be used for the 'identifiers.type' attribute of journals
      operationId: journal_getAllowedClassifiedIdentifierTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /journals/allowed-countries:
    get:
      tags:
      - journal
      summary: A list of allowed countries
      description: Get a list of allowed countries that can be used for the 'journal.country' attribute of journals
      operationId: journal_getAllowedCountries
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /journals/allowed-keyword-group-configurations:
    get:
      tags:
      - journal
      summary: A list of keyword group configurations
      description: Get a list of allowed keyword group configurations that can be used when submitting keyword groups.
      operationId: journal_getAllowedKeywordGroupConfigurations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllowedKeywordGroupConfigurationList'
  /journals/allowed-keyword-group-configurations/{id}/classifications:
    get:
      tags:
      - journal
      summary: A list of allowed classifications for the specified keyword group
      description: Get a list of allowed classifications that can be used when submitting a specified keyword group.
      operationId: journal_getAllowedKeywordGroupConfigurationClassifications
      parameters:
      - name: id
        in: path
        description: Pure id of the keyword group configuration
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /journals/allowed-link-types:
    get:
      tags:
      - journal
      summary: A list of allowed link types
      description: Get a list of allowed link types that can be used for the 'links.linkType' attribute of journals
      operationId: journal_getAllowedLinkTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /journals/allowed-locales:
    get:
      tags:
      - journal
      summary: A list of allowed locales in localized strings
      description: Get a list of allowed locales that can be used when submitting localized string entities.
      operationId: journal_getAllowedLocales
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalesList'
  /journals/allowed-metric-collections:
    get:
      tags:
      - journal
      summary: A list of allowed metric collections
      description: Get a list of metric collections allowed on journals
      operationId: journal_getAllowedMetricCollections
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricCollectionDefinitionList'
  /journals/allowed-types:
    get:
      tags:
      - journal
      summary: A list of allowed journal types
      description: Get a list of allowed types that can be used for the 'type' attribute of journal
      operationId: journal_getAllowedTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /journals/allowed-workflow-steps:
    get:
      tags:
      - journal
      summary: A list of allowed workflow steps
      description: Get a list of allowed workflow steps that can be used for the 'workflow' attribute of journals
      operationId: journal_getAllowedWorkflowSteps
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowListResult'
  /journals/disciplines/allowed-discipline-schemes:
    get:
      tags:
      - journal
      summary: A list of allowed discipline schemes
      description: Get a list fo a allowed discipline schemes for journals
      operationId: journal_getAllowedDisciplineSchemes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisciplinesDisciplineSchemeListResult'
  /journals/disciplines/{discipline-scheme}/allowed-disciplines:
    get:
      tags:
      - journal
      summary: A list of allowed disciplines for a specific discipline scheme
      description: Get a list of a allowed disciplines for specific discipline scheme for journals
      operationId: journal_getAllowedDisciplines
      parameters:
      - name: discipline-scheme
        in: path
        description: Identifier for the discipline scheme for journals
        required: true
        schema:
          type: string
      - name: size
        in: query
        description: Number of returned disciplines per request
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 10
      - name: offset
        in: query
        description: The offset for the returned list. 0 or null value is from the start
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisciplinesDisciplineListResult'
  /journals/disciplines/{discipline-scheme}/search:
    post:
      tags:
      - journal
      summary: Query operation for disciplines associated with journals
      description: Lists disciplines from the discipline scheme associated with journals in the Pure instance that matches the provided query.
      operationId: journal_listDisciplineAssociations
      parameters:
      - name: discipline-scheme
        in: path
        description: Identifier for the discipline scheme
        required: true
        schema:
          type: string
      requestBody:
        description: The query to perform
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisciplinesAssociationsQuery'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisciplinesAssociationListResult'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /journals/orderings:
    get:
      tags:
      - journal
      summary: Lists available orderings
      description: Lists all orderings available to the journal endpoint. These values can be used by the order parameter.
      operationId: journal_getOrderings
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderingsList'
  /journals/search:
    post:
      tags:
      - journal
      summary: Query operation for journals
      description: Lists journals in the Pure instance that matches the provided query, similar to the GET version, instead of using parameters to alter the response, an JSON document is posted with the request. The JSON document contains fields for all the parameters available for the GET version, but also additional filtering options.
      operationId: journal_query
      requestBody:
        description: The query to perform
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JournalsQuery'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JournalListResult'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /journals/{uuid}:
    get:
      tags:
      - journal
      summary: Get journal
      description: Get journal with specific UUID.
      operationId: journal_get
      parameters:
      - name: uuid
        in: path
        description: UUID of the desired journal
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Journal'
        '301':
          description: The requested content have changed UUID
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    put:
      tags:
      - journal
      summary: Update journal
      description: Update journal with specific UUID.
      operationId: journal_update
      parameters:
      - name: uuid
        in: path
        description: UUID of the journal to update
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      requestBody:
        description: The content to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Journal'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Journal'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Version conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConflictProblemDetails'
    delete:
      tags:
      - journal
      summary: Delete journal
      description: Delete journal with specific UUID.
      operationId: journal_delete
      parameters:
      - name: uuid
        in: path
        description: UUID of the journal
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '204':
          description: Successful operation
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConflictProblemDetails'
  /journals/{uuid}/actions/lock:
    post:
      tags:
      - journal
      summary: Lock the content
      description: Mark the content as external (used when content contains synchronised data). This has no effect on interactions with the content through the API.
      operationId: journal_lock
      parameters:
      - name: uuid
        in: path
        description: UUID of the content to lock
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '204':
          description: Content marked as locked
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Content already locked
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConflictProblemDetails'
  /journals/{uuid}/actions/unlock:
    post:
      tags:
      - journal
      summary: Unlock the content
      description: Remove the external mark on the content (used when content contains synchronised data). This has no effect on interactions with the content through the API.
      operationId: journal_unlock
      parameters:
      - name: uuid
        in: path
        description: UUID of the content to unlock
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '204':
          description: Content marked as unlocked
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Content already unlocked
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConflictProblemDetails'
  /journals/{uuid}/dependents:
    get:
      tags:
      - journal
      summary: Lists all dependents to a journal
      description: 'Lists all dependents to a journal with the specified UUID. If the user does not have access to view all the dependent content, an authorization error will be thrown. '
      operationId: journal_dependents
      parameters:
      - name: uuid
        in: path
        description: UUID of the journal
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: verbose
        in: query
        description: DEPRECATED - Parameter has no effect.
        deprecated: true
        schema:
          type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentRefListResult'
  /journals/{uuid}/disciplines/{discipline-scheme}:
    get:
      tags:
      - journal
      summary: Get disciplines from the discipline scheme associated with the journal
      description: Get disciplines from the discipline scheme associated with the journal with specific UUID.
      operationId: journal_getDisciplineAssociation
      parameters:
      - name: uuid
        in: path
        description: UUID of the desired journal
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: discipline-scheme
        in: path
        description: Identifier for the discipline scheme
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisciplinesAssociation'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    put:
      tags:
      - journal
      summary: Update disciplines from the discipline scheme associated with the journal
      description: Update disciplines from the discipline scheme associated with the journal with specific UUID.
      operationId: journal_putDisciplineAssociation
      parameters:
      - name: uuid
        in: path
        description: UUID of the journal to update
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: discipline-scheme
        in: path
        description: Identifier for the discipline scheme
        required: true
        schema:
          type: string
      requestBody:
        description: The disciplines association to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisciplinesAssociation'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisciplinesAssociation'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /journals/{uuid}/metrics/{collection-id}:
    get:
      tags:
      - journal
      summary: Lists metrics with collection id
      description: Lists metrics from a specific metrics collection that associated with a journal.
      operationId: journal_listMetricsFromCollection
      parameters:
      - name: uuid
        in: path
        description: UUID of the journal to get metrics for
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: collection-id
        in: path
        description: ID of the metrics collection to get metrics for
        required: true
        schema:
          pattern: .+
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricCollection'
        '404':
          description: Journal or metrics collection not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /journals/{uuid}/notes:
    get:
      tags:
      - journal
      summary: Lists notes
      description: Lists notes associated with the journal ordered by date (nulls last)
      operationId: journal_listNotes
      parameters:
      - name: uuid
        in: path
        description: UUID of the journal to get notes for
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: size
        in: query
        description: Number of returned notes per request
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 10
      - name: offset
        in: query
        description: The offset for the returned list. 0 or null value is from the start
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteListResult'
        '404':
          description: Journal not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    put:
      tags:
      - journal
      summary: Create note
      description: Create note and associate it with a journal
      operationId: journal_createNote
      parameters:
      - name: uuid
        in: path
        description: UUID of the journal to add note to
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      requestBody:
        description: The note to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Note'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
components:
  schemas:
    DisciplinesAssociation:
      required:
      - disciplineAssignments
      type: object
      properties:
        content:
          $ref: '#/components/schemas/ContentRef'
        disciplineScheme:
          type: string
          description: The discipline scheme these disciplines are assigned from
          readOnly: true
        disciplineAssignments:
          type: array
          description: A collection of assigned disciplines
          items:
            $ref: '#/components/schemas/DisciplinesDisciplineAssignment'
      description: An association between a content and a number of discipline assignments
    ContentRef:
      required:
      - systemName
      - uuid
      type: object
      properties:
        uuid:
          type: string
          description: UUID of the referred content
          format: uuid
        systemName:
          type: string
      nullable: true
      discriminator:
        propertyName: systemName
        mapping:
          AccessDefinition: '#/components/schemas/AccessDefinitionRef'
          Activity: '#/components/schemas/ActivityRef'
          Application: '#/components/schemas/ApplicationRef'
          AuthorCollaboration: '#/components/schemas/AuthorCollaborationRef'
          Award: '#/components/schemas/AwardRef'
          ClassificationScheme: '#/components/schemas/ClassificationSchemeRef'
          ConferenceSeries: '#/components/schemas/ConferenceSeriesRef'
          DataSet: '#/components/schemas/DataSetRef'
          Equipment: '#/components/schemas/EquipmentRef'
          Event: '#/components/schemas/EventRef'
          ExternalOrganization: '#/components/schemas/ExternalOrganizationRef'
          ExternalPerson: '#/components/schemas/ExternalPersonRef'
          Impact: '#/components/schemas/ImpactRef'
          Journal: '#/components/schemas/JournalRef'
          Organization: '#/components/schemas/OrganizationRef'
          Person: '#/components/schemas/PersonRef'
          Publisher: '#/components/schemas/PublisherRef'
          PressMedia: '#/components/schemas/PressMediaRef'
          Prize: '#/components/schemas/PrizeRef'
          Project: '#/components/schemas/ProjectRef'
          ResearchOutput: '#/components/schemas/ResearchOutputRef'
          StudentThesis: '#/components/schemas/StudentThesisRef'
          FundingOpportunity: '#/components/schemas/FundingOpportunityRef'
          EthicalReview: '#/components/schemas/EthicalReviewRef'
          ApplicationCluster: '#/components/schemas/ApplicationClusterRef'
          AwardCluster: '#/components/schemas/AwardClusterRef'
          User: '#/components/schemas/UserRef'
          ERA2018FieldOfResearch: '#/components/schemas/Anzsrc2008FieldOfResearchRef'
          UnitOfAssessmentREF2014: '#/components/schemas/Ref2014UnitOfAssessmentRef'
          UnitOfAssessmentREF2020: '#/components/schemas/Ref2020UnitOfAssessmentRef'
          ANZSRCTypeOfActivity: '#/components/schemas/Anzsrc2020TypeOfActivityRef'
          ANZSRCFieldOfResearch: '#/components/schemas/Anzsrc2020FieldOfResearchRef'
          ANZSRCSocioEconomicObjective: '#/components/schemas/Anzsrc2020SocioEconomicObjectiveRef'
          Semester: '#/components/schemas/SemesterRef'
          Education: '#/components/schemas/EducationRef'
          Course: '#/components/schemas/CourseRef'
          CurriculumVitae: '#/components/schemas/CurriculumVitaeRef'
          CustomDefinedFieldConfiguration: '#/components/schemas/CustomDefinedFieldConfigurationRef'
          KeywordGroupConfiguration: '#/components/schemas/KeywordGroupConfigurationRef'
          Review: '#/components/schemas/ReviewRef'
          GenericContentRef: '#/components/schemas/GenericContentRef'
          UserProfile: '#/components/schemas/UserProfileRef'
          Thesaurus: '#/components/schemas/ThesaurusRef'
          Concept: '#/components/schemas/ConceptRef'
          PersonExpertise: '#/components/schemas/PersonExpertiseRef'
          Contract: '#/components/schemas/ContractRef'
          Milestone: '#/components/schemas/MilestoneRef'
          Fingerprint: '#/components/schemas/FingerprintRef'
          Specialization: '#/components/schemas/SpecializationRef'
          StudentProject: '#/components/schemas/StudentProjectRef'
    PageInformation:
      type: object
      properties:
        offset:
          type: integer
          description: Offset that returned items start at
          format: int32
        size:
          type: integer
          description: The requested number of items. May be higher than the actual number of items in the result if there are fewer items in the store than requested
          format: int32
      description: Information about pages
    CompoundDate:
      required:
      - year
      type: object
      properties:
        year:
          maximum: 4000
          minimum: 0
          type: integer
          format: int32
        month:
          maximum: 12
          minimum: 1
          type: integer
          format: int32
          nullable: true
        day:
          maximum: 31
          minimum: 1
          type: integer
          format: int32
          nullable: true
      description: A date that can be defined by only year, year and month or a full date
      nullable: true
    JournalListResult:
      type: object
      properties:
        count:
          type: integer
          description: The full count, ignoring paging
          format: int32
        pageInformation:
          $ref: '#/components/schemas/PageInformation'
        items:
          type: array
          items:
            $ref: '#/components/schemas/Journal'
      description: A list of journals
    AdditionalISSN:
      required:
      - issn
      - typeDiscriminator
      type: object
      properties:
        issn:
          type: string
          description: The actual ISSN value
        typeDiscriminator:
          type: string
      nullable: true
      discriminator:
        propertyName: typeDiscriminator
        mapping:
          ElectronicISSN: '#/components/schemas/ElectronicISSN'
          AlternativeISSN: '#/components/schemas/AlternativeISSN'
    ClassificationRef:
      required:
      - uri
      type: object
      properties:
        uri:
          type: string
          description: Classification URI of the referred classification
        term:
          $ref: '#/components/schemas/SystemLocalizedString'
      description: A reference to a classification value
      nullable: true
    Link:
      required:
      - url
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        url:
          type: string
          description: The URL (Uniform Resource Locator) of the link
        alias:
          type: string
          description: A user-friendly text to show instead of the URL
          nullable: true
        description:
          $ref: '#/components/schemas/LocalizedString'
        linkType:
          $ref: '#/components/schemas/ClassificationRef'
      description: A hyperlink describing a location on the web.
    MetricCollectionDefinitionList:
      type: object
      properties:
        items:
          type: array
          description: Information about each metric collection
          items:
            $ref: '#/components/schemas/MetricCollectionDefinition'
      description: List of metric collection definitions
    DisciplinesDisciplineAssignment:
      required:
      - disciplineId
      - splitPercentage
      type: object
      properties:
        disciplineId:
          type: string
          description: The assigned discipline
        splitPercentage:
          type: number
          description: The split percentages within an assigned discipline scheme must sum up to 100%
          format: double
      description: The assigned discipline and its split percentage
    DisciplinesDisciplineScheme:
      required:
      - disciplineScheme
      - title
      type: object
      properties:
        disciplineScheme:
          type: string
          description: The discipline scheme identifier
        title:
          type: string
          description: The discipline title
      description: A discipline scheme
    LocalizedString:
      type: object
      additionalProperties:
        type: string
        description: 'A set of string values, one for each submission locale. Note: invalid locale values will be ignored.'
        nullable: true
        example: '{"en_GB":"Some text"}'
      description: 'A set of string values, one for each submission locale. Note: invalid locale values will be ignored.'
      nullable: true
      example:
        en_GB: Some text
    Workflow:
      required:
      - step
      type: object
      properties:
        step:
          type: string
          description: Current workflow step
        description:
          $ref: '#/components/schemas/SystemLocalizedString'
      description: Information about workflow
    AllowedKeywordGroupConfiguration:
      required:
      - targetSystemName
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        targetSystemName:
          type: string
          description: The content system name this configuration applies to
        keywordGroupType:
          type: string
          description: The OpenAPI schema type of this keyword configuration
          readOnly: true
        name:
          $ref: '#/components/schemas/LocalizedString'
        description:
          $ref: '#/components/schemas/FormattedLocalizedString'
        classificationScheme:
          $ref: '#/components/schemas/ClassificationSchemeRef'
        allowUserdefinedKeywords:
          type: boolean
          description: Defines if user defined keywords are allowed
        limitToLeafSelection:
          type: boolean
        logicalName:
          type: string
        relationType:
          type: string
          description: The schema name of the type (with the ability to associate keywords) on which the keyword group configuration is related to, e.g. StaffOrganizationAssociation. It can also be set to null (default value), which means the keyword group configuration is related to the main type (the target system name) and not a relation of the main type.
          nullable: true
      description: A specification of the allowed behavior of a specified keyword group
    ClassificationSchemeRef:
      required:
      - uuid
      type: object
      description: A reference to a classification scheme
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    DisciplinesAssociationListResult:
      type: object
      properties:
        count:
          type: integer
          description: The full count, ignoring paging
          format: int32
        pageInformation:
          $ref: '#/components/schemas/PageInformation'
        items:
          type: array
          description: Discipline associations
          items:
            $ref: '#/components/schemas/DisciplinesAssociation'
      description: List of discipline associations. Can contain a subset of all items along with the full count
    SystemLocalizedString:
      type: object
      additionalProperties:
        type: string
        description: A set of localized string values each for a specific UI locale.
        nullable: true
        example: '{"en_GB":"Some text"}'
      description: A set of localized string values each for a specific UI locale.
      nullable: true
      example:
        en_GB: Some text
    JournalsQuery:
      type: object
      properties:
        uuids:
          type: array
          items:
            type: string
            format: uuid
        size:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
        orderings:
          type: array
          items:
            type: string
        searchString:
          type: string
          description: String used to perform search
        orderBy:
          type: string
          writeOnly: true
      description: Create a query for journals
    SherpaRomeoPolicy:
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        openAccessProhibited:
          type: boolean
          description: If the policy prohibits Open Access - in which case there won't be any Open Access permissions
        openAccessPermissions:
          type: array
          description: The Open Access permissions for this policy
          nullable: true
          items:
            $ref: '#/components/schemas/SherpaRomeoOpenAccessPermission'
        publisherPolicies:
          type: array
          description: A list of publisher specific policies
          nullable: true
          items:
            type: string
            description: A list of publisher specific policies
            nullable: true
        sherpaRomeoUri:
          type: string
          description: The link to the journal in SHERPA RoMEO
          nullable: true
        lastUpdatedDate:
          type: string
          description: The link to the journal in SHERPA RoMEO
          format: date-time
          nullable: true
          readOnly: true
      description: Describes a SHERPA RoMEO open access policy.
    KeywordGroup:
      required:
      - logicalName
      - typeDiscriminator
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        logicalName:
          type: string
          description: Unique name of the configuration that specifies this keyword group
        name:
          $ref: '#/components/schemas/LocalizedString'
        typeDiscriminator:
          type: string
      discriminator:
        propertyName: typeDiscriminator
        mapping:
          ClassificationsKeywordGroup: '#/components/schemas/ClassificationsKeywordGroup'
          FreeKeywordsKeywordGroup: '#/components/schemas/FreeKeywordsKeywordGroup'
          FullKeywordGroup: '#/components/schemas/FullKeywordGroup'
    ISSN:
      required:
      - issn
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        startDate:
          $ref: '#/components/schemas/CompoundDate'
        endDate:
          $ref: '#/components/schemas/CompoundDate'
        issn:
          type: string
          description: The actual ISSN value
      description: An ISSN of a journal, can be populated with a start and end date if the ISSN is only used in a specific period.
    ArticleVersion:
      required:
      - key
      type: object
      properties:
        key:
          type: string
          description: Article version value
          enum:
          - SUBMITTED
          - ACCEPTED
          - PUBLISHED
        description:
          $ref: '#/components/schemas/SystemLocalizedString'
      description: Version of an article
    WorkflowListResult:
      type: object
      properties:
        workflows:
          type: array
          description: Allowed workflow steps.
          items:
            $ref: '#/components/schemas/Workflow'
      description: List of workflow steps.
    ClassificationRefList:
      type: object
      properties:
        classifications:
          type: array
          items:
            $ref: '#/components/schemas/ClassificationRef'
      description: List of classification references
    LocalesList:
      type: object
      properties:
        locales:
          pattern: /^[a-z]{2}_[A-Z]{2}$/
          type: array
          description: Allowed locale values for use in localized string entities. The locale format consists of lower-case ISO 639 alpha-2 language code and upper-cased ISO 3166 alpha-2 country code.
          items:
            pattern: /^[a-z]{2}_[A-Z]{2}$/
            type: string
            description: Allowed locale values for use in localized string entities. The locale format consists of lower-case ISO 639 alpha-2 language code and upper-cased ISO 3166 alpha-2 country code.
      description: List of available locales
    AllowedKeywordGroupConfigurationList:
      type: object
      properties:
        configurations:
          type: array
          items:
            $ref: '#/components/schemas/AllowedKeywordGroupConfiguration'
      description: List of allowed keyword group configurations
    FormattedLocalizedString:
      type: object
      additionalProperties:
        type: string
        description: A set of localized strings that support formatting. Invalid locale values will be ignored.
        nullable: true
        example: '{"en_GB":"Some text"}'
      description: A set of localized strings that support formatting. Invalid locale values will be ignored.
      nullable: true
      example:
        en_GB: Some text
    NoteListResult:
      type: object
      properties:
        count:
          type: integer
          description: The full count, ignoring paging
          format: int32
        pageInformation:
          $ref: '#/components/schemas/PageInformation'
        items:
          type: array
          description: Notes
          items:
            $ref: '#/components/schemas/Note'
      description: List of notes
    MetricCollectionDefinition:
      required:
      - collectionId
      - name
      type: object
      properties:
        metrics:
          type: array
          description: Information about each metric in the collection
          items:
            $ref: '#/components/schemas/MetricDefinition'
        collectionId:
          type: string
          description: ID of the metric collection
        name:
          $ref: '#/components/schemas/LocalizedString'
      description: Information about a set of related metrics, usually from a single provider
    MetricCollectionItem:
      required:
      - metricValues
      type: object
      properties:
        source:
          $ref: '#/components/schemas/ClassificationRef'
        category:
          $ref: '#/components/schemas/ClassificationRef'
        year:
          type: integer
          description: The year of the metric, if applicable.
          format: int32
          nullable: true
        metricValues:
          type: array
          description: List of metric values.
          items:
            $ref: '#/components/schemas/MetricValue'
      description: A metric collection. Contents a list of metric values.
    Note:
      required:
      - text
      type: object
      properties:
        date:
          type: string
          description: Date and time of when the note was created, an event occurred or similar. Can be any point in time, but <now> is normally preferred
          format: date-time
          nullable: true
        username:
          type: string
          description: Username related to the note. Usually a username of the user creating the note. Does not have to be a username of a Pure user
          nullable: true
        text:
          type: string
          description: Note text
      description: A note
    OrderingsList:
      type: object
      properties:
        orderings:
          type: array
          description: IDs of ways content can be ordered
          items:
            type: string
            description: IDs of ways content can be ordered
      description: List of available orderings
    JournalTitle:
      required:
      - title
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        title:
          type: string
          description: The title of the journal.
        startDate:
          $ref: '#/components/schemas/CompoundDate'
        endDate:
          $ref: '#/components/schemas/CompoundDate'
      description: A title of a journal, can be populated with a start and end date if the title is only used in a specific period.
    DisciplinesDisciplineSchemeListResult:
      type: object
      properties:
        count:
          type: integer
          description: The amount of discipline schemes
          format: int32
        items:
          type: array
          description: Discipline schemes
          items:
            $ref: '#/components/schemas/DisciplinesDisciplineScheme'
      description: List of discipline schemes
    DisciplinesDiscipline:
      type: object
      properties:
        disciplineId:
          type: string
          description: The discipline identifier
          readOnly: true
        title:
          type: string
          description: The discipline title
          readOnly: true
        description:
          type: string
          description: The discipline description
          readOnly: true
      description: A discipline within a specific discipline scheme
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          description: A URI reference [RFC3986] that identifies the problem type.
        title:
          type: string
          description: A short, human-readable summary of the problem type. It SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization (e.g., using proactive content negotiation; see [RFC7231], Section 3.4).
        status:
          type: integer
          description: The HTTP status code ([RFC7231], Section 6) generated by the origin server for this occurrence of the problem.
          format: int32
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.  It may or may not yield further information if dereferenced.
      description: RFC7807 Error details
      discriminator:
        propertyName: type
        mapping:
          /error: '#/components/schemas/GenericProblemDetails'
          /validation-error: '#/components/schemas/ValidationProblemDetails'
          /dependency-violation-error: '#/components/schemas/DependencyViolationProblemDetails'
    SherpaRomeoOpenAccessPermission:
      required:
      - articleVersion
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        articleVersion:
          $ref: '#/components/schemas/ArticleVersion'
        licenses:
          type: array
          description: The licenses the article must adhere to.
          nullable: true
          items:
            type: string
            description: The licenses the article must adhere to.
            nullable: true
        conditions:
          type: array
          description: Any conditions that must be fulfilled.
          nullable: true
          items:
            type: string
            description: Any conditions that must be fulfilled.
            nullable: true
        prerequisites:
          type: array
          description: Any prerequisites that must be fulfilled.
          nullable: true
          items:
            type: string
            description: Any prerequisites that must be fulfilled.
            nullable: true
        funderPrerequisites:
          type: array
          description: Any funder prerequisites that must be fulfilled.
          nullable: true
          items:
            type: string
            description: Any funder prerequisites that must be fulfilled.
            nullable: true
        subjectPrerequisites:
          type: array
          description: Any subject prerequisites that must be fulfilled.
          nullable: true
          items:
            type: string
            description: Any subject prerequisites that must be fulfilled.
            nullable: true
        locations:
          type: array
          description: Locations where the article is permitted to be placed.
          nullable: true
          items:
            type: string
            description: Locations where the article is permitted to be placed.
            nullable: true
        publisherDeposits:
          type: array
          description: The location(s) the publisher will automatically deposit the article into.
          nullable: true
          items:
            type: string
            description: The location(s) the publisher will automatically deposit the article into.
            nullable: true
        additionalFee:
          type: boolean
          description: If an additional fee is required to make the article Open Access.
        embargo:
          type: string
          description: How long the article should be embargoed. Will be a number follow by a unit - days, months or years.
          nullable: true
      description: Describes a SHERPA RoMEO access permissions object used in a policy.
      nullable: true
    Journal:
      required:
      - titles
      - type
      - workflow
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        uuid:
          type: string
          description: UUID, this is the primary identity of the entity
          format: uuid
          readOnly: true
        createdBy:
          type: string
          description: Username of creator
          readOnly: true
        createdDate:
          type: string
          description: Date and time of creation
          format: date-time
          readOnly: true
        modifiedBy:
          type: string
          description: Username of the user that performed a modification
          readOnly: true
        modifiedDate:
          type: string
          description: Date and time of last modification
          format: date-time
          readOnly: true
        portalUrl:
          type: string
          description: URL of the content on the Pure Portal
          readOnly: true
        prettyUrlIdentifiers:
          type: array
          description: All pretty URLs
          readOnly: true
          items:
            type: string
            description: All pretty URLs
            readOnly: true
        previousUuids:
          type: array
          description: UUIDs of other content items which have been merged into this content item (or similar)
          readOnly: true
          items:
            type: string
            description: UUIDs of other content items which have been merged into this content item (or similar)
            readOnly: true
        version:
          type: string
          description: Used to guard against conflicting updates. For new content this is null, and for existing content the current value. The property should never be modified by a client, except in the rare case where the client wants to perform an update irrespective of if other clients have made updates in the meantime, also known as a "dirty write". A dirty write is performed by not including the property value or setting the property to null
          nullable: true
        issns:
          type: array
          description: International Standard Serial Numbers of the journal, ISSNs in this list are searchable and selectable when relating the journal to other content
          nullable: true
          items:
            $ref: '#/components/schemas/ISSN'
        additionalSearchableIssns:
          type: array
          description: Additional International Standard Serial Numbers of the journal, ISSNs in this list are searchable but not selectable when relating the journal to other content
          nullable: true
          items:
            $ref: '#/components/schemas/AdditionalISSN'
        country:
          $ref: '#/components/schemas/ClassificationRef'
        indexedInDoaj:
          type: boolean
          description: Whether the journal is present in the Directory of Open Access Journals
        keywordGroups:
          type: array
          description: Keywords associated with the journal
          nullable: true
          items:
            $ref: '#/components/schemas/KeywordGroup'
        links:
          type: array
          description: Links to websites or other URLs associated with the journal
          nullable: true
          items:
            $ref: '#/components/schemas/Link'
        publisher:
          $ref: '#/components/schemas/PublisherRef'
        identifiers:
          type: array
          description: Identifiers of the Journal, often used to identify the journal in other sources, an example could be the Scopus Id of the journal
          nullable: true
          items:
            $ref: '#/components/schemas/Identifier'
        titles:
          type: array
          description: Titles of the journal, these titles will be available for use when relating the journal to other content.
          items:
            $ref: '#/components/schemas/JournalTitle'
        additionalSearchableTitles:
          type: array
          description: Additional searchable titles of the journal, often abbreviations that are not used to show a journal, cannot be used when relating the journal to other content.
          nullable: true
          items:
            type: string
        type:
          $ref: '#/components/schemas/ClassificationRef'
        workflow:
          $ref: '#/components/schemas/Workflow'
        sherpaRomeoPolicy:
          $ref: '#/components/schemas/SherpaRomeoPolicy'
        additionalOpenAccessInformation:
          type: string
          description: Additional open access information for this journal.
          nullable: true
        systemName:
          type: string
          description: The content system name
          readOnly: true
      description: A periodical presenting articles on a particular subject.
    Identifier:
      required:
      - typeDiscriminator
      type: object
      properties:
        typeDiscriminator:
          type: string
      discriminator:
        propertyName: typeDiscriminator
        mapping:
          ClassifiedId: '#/components/schemas/ClassifiedId'
          PrimaryId: '#/components/schemas/PrimaryId'
          Id: '#/components/schemas/Id'
    PublisherRef:
      required:
      - uuid
      type: object
      description: A reference to a publisher
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    ConflictProblemDetails:
      type: object
      properties:
        type:
          type: string
          description: A URI reference [RFC3986] that identifies the problem type.
        title:
          type: string
          description: A short, human-readable summary of the problem type. It SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization (e.g., using proactive content negotiation; see [RFC7231], Section 3.4).
        status:
          type: integer
          description: The HTTP status code ([RFC7231], Section 6) generated by the origin server for this occurrence of the problem.
          format: int32
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.  It may or may not yield further information if dereferenced.
        modified:
          type: string
          format: date-time
        modifiedBy:
          type: string
      description: Problem details for state conflict failures
    MetricDefinition:
      required:
      - metricId
      - valueType
      type: object
      properties:
        metricId:
          type: string
          description: Unique identifier of metric definition
        valueType:
          type: string
          description: Type of value handled by the metric
          x-extensible-enum:
          - INTEGER
        name:
          $ref: '#/components/schemas/LocalizedString'
      description: Information about how a specific metric is defined; how data of the metric is structured
    MetricCollection:
      required:
      - collectionId
      type: object
      properties:
        owner:
          $ref: '#/components/schemas/ContentRef'
        collectionId:
          type: string
          description: Collection ID is the unique id of the provider for the metrics. A collection of metrics is a list of metrics that have a shared data structure and provider.
        items:
          type: array
          description: Metric collection items
          items:
            $ref: '#/components/schemas/MetricCollectionItem'
      description: List of metrics
    ContentRefListResult:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ContentRef'
      description: List of Content Refs
    DisciplinesDisciplineListResult:
      type: object
      properties:
        count:
          type: integer
          description: The full count, ignoring paging
          format: int32
        pageInformation:
          $ref: '#/components/schemas/PageInformation'
        items:
          type: array
          description: Disciplines
          items:
            $ref: '#/components/schemas/DisciplinesDiscipline'
      description: List of disciplines for a specific discipline scheme
    MetricValue:
      required:
      - metricId
      type: object
      properties:
        metricId:
          type: string
          description: ID of the metric that defines this metric value (this controls for example the type returned).
        integerValue:
          type: integer
          description: The integer value of the metric.
          format: int32
          nullable: true
        decimalValue:
          type: number
          description: The decimal value of the metric.
          nullable: true
        stringValue:
          type: string
          description: The string value of the metric.
          nullable: true
        booleanValue:
          type: boolean
          description: The boolean value of the metric.
          nullable: true
        classificationValue:
          $ref: '#/components/schemas/ClassificationRef'
      description: A metric value, that contains one piece of data. Only one type of value can be set at a time, and it must match the specification of the metric definition.
    DisciplinesAssociationsQuery:
      type: object
      properties:
        uuids:
          type: array
          items:
            type: string
            format: uuid
        size:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
      description: Create a query for discipline associations
  securitySchemes:
    api-key:
      type: apiKey
      description: Security mechanism for the API
      name: api-key
      in: header
