openapi: 3.0.1
info:
  title: Pure activity externalPerson API
  description: The Pure API provides a secure and complete web services API for using and managing research information data in Pure. The API enables a broad range of use-cases for interacting with research information, from anonymous Open Data scenarios to enabling the next generation Pure admin.
  termsOfService: ''
  contact:
    name: ''
    url: ''
    email: pure-support@elsevier.com
  license:
    name: ''
    url: ''
  version: 5.35.3-4
servers:
- url: https://yonsei.elsevierpure.com/ws/api
  description: Yonsei University Elsevier Pure REST API
security:
- api-key: []
tags:
- name: externalPerson
paths:
  /external-persons:
    get:
      tags:
      - externalPerson
      summary: Lists all external persons
      description: Lists all external persons in the Pure instance. If you need to filter the external persons returned, see the POST version which supports additional filtering.
      operationId: externalPerson_list
      parameters:
      - name: size
        in: query
        description: Number of returned external persons per request.
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 10
      - name: offset
        in: query
        description: The offset for the returned list. 0 or null value is from the start
        schema:
          type: integer
          format: int32
          default: 0
      - name: order
        in: query
        description: The order of the list, must be a value from /external-persons/orderings
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalPersonListResult'
    put:
      tags:
      - externalPerson
      summary: Create external person
      description: Create external person
      operationId: externalPerson_create
      requestBody:
        description: The content to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalPerson'
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalPerson'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /external-persons/allowed-classified-identifier-types:
    get:
      tags:
      - externalPerson
      summary: A list of allowed classified identifier types
      description: Get a list of allowed classified identifier types that can be used for the 'identifiers.type' attribute of external persons
      operationId: externalPerson_getAllowedClassifiedIdentifierTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /external-persons/allowed-countries:
    get:
      tags:
      - externalPerson
      summary: A list of allowed countries
      description: Get a list of allowed countries that can be used for the 'countries' attribute of external persons
      operationId: externalPerson_getAllowedCountries
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /external-persons/allowed-image-types:
    get:
      tags:
      - externalPerson
      summary: A list of allowed image types
      description: Get a list of allowed image types that can be used for the 'images.type' attribute of external persons
      operationId: externalPerson_getAllowedImageTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /external-persons/allowed-keyword-group-configurations:
    get:
      tags:
      - externalPerson
      summary: A list of keyword group configurations
      description: Get a list of allowed keyword group configurations that can be used when submitting keyword groups.
      operationId: externalPerson_getAllowedKeywordGroupConfigurations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllowedKeywordGroupConfigurationList'
  /external-persons/allowed-keyword-group-configurations/{id}/classifications:
    get:
      tags:
      - externalPerson
      summary: A list of allowed classifications for the specified keyword group
      description: Get a list of allowed classifications that can be used when submitting a specified keyword group.
      operationId: externalPerson_getAllowedKeywordGroupConfigurationClassifications
      parameters:
      - name: id
        in: path
        description: Pure id of the keyword group configuration
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /external-persons/allowed-locales:
    get:
      tags:
      - externalPerson
      summary: A list of allowed locales in localized strings
      description: Get a list of allowed locales that can be used when submitting localized string entities.
      operationId: externalPerson_getAllowedLocales
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalesList'
  /external-persons/allowed-types:
    get:
      tags:
      - externalPerson
      summary: A list of allowed external person types
      description: Get a list of allowed types that can be used for the 'type' attribute of external persons
      operationId: externalPerson_getAllowedTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /external-persons/allowed-workflow-steps:
    get:
      tags:
      - externalPerson
      summary: A list of allowed workflow steps
      description: Get a list of allowed workflow steps that can be used for the 'workflow' attribute of external persons
      operationId: externalPerson_getAllowedWorkflowSteps
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowListResult'
  /external-persons/disciplines/allowed-discipline-schemes:
    get:
      tags:
      - externalPerson
      summary: A list of allowed discipline schemes
      description: Get a list fo a allowed discipline schemes for external persons
      operationId: externalPerson_getAllowedDisciplineSchemes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisciplinesDisciplineSchemeListResult'
  /external-persons/disciplines/{discipline-scheme}/allowed-disciplines:
    get:
      tags:
      - externalPerson
      summary: A list of allowed disciplines for a specific discipline scheme
      description: Get a list of a allowed disciplines for specific discipline scheme for external persons
      operationId: getAllowedDisciplines
      parameters:
      - name: discipline-scheme
        in: path
        description: Identifier for the discipline scheme for external persons
        required: true
        schema:
          type: string
      - name: size
        in: query
        description: Number of returned disciplines per request
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 10
      - name: offset
        in: query
        description: The offset for the returned list. 0 or null value is from the start
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisciplinesDisciplineListResult'
  /external-persons/disciplines/{discipline-scheme}/search:
    post:
      tags:
      - externalPerson
      summary: Query operation for disciplines associated with external persons
      description: Lists disciplines from the discipline scheme associated with external persons in the Pure instance that matches the provided query.
      operationId: externalPerson_listDisciplineAssociations
      parameters:
      - name: discipline-scheme
        in: path
        description: Identifier for the discipline scheme
        required: true
        schema:
          type: string
      requestBody:
        description: The query to perform
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisciplinesAssociationsQuery'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisciplinesAssociationListResult'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /external-persons/file-uploads:
    put:
      tags:
      - externalPerson
      summary: Upload file to a specific external person
      description: Uploads file for the external person
      operationId: externalPerson_fileUploads
      parameters:
      - name: Content-Type
        in: header
        description: Set the mime type for the file
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              format: binary
        required: true
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadedFile'
            application/xml:
              schema:
                $ref: '#/components/schemas/UploadedFile'
  /external-persons/orderings:
    get:
      tags:
      - externalPerson
      summary: Lists available orderings
      description: Lists all orderings available to the external person endpoint. These values can be used by the order parameter.
      operationId: externalPerson_getOrderings
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderingsList'
  /external-persons/search:
    post:
      tags:
      - externalPerson
      summary: Query operation for external persons
      description: Lists external persons in the Pure instance that matches the provided query, similar to the GET version, instead of using parameters to alter the response, an JSON document is posted with the request. The JSON document contains fields for all the parameters available for the GET version, but also additional filtering options.
      operationId: externalPerson_query
      requestBody:
        description: The query to perform
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalPersonsQuery'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalPersonListResult'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /external-persons/{uuid}:
    get:
      tags:
      - externalPerson
      summary: Get external person
      description: Get external person with specific UUID.
      operationId: externalPerson_get
      parameters:
      - name: uuid
        in: path
        description: UUID of the desired external person
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalPerson'
        '301':
          description: The requested content have changed UUID
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    put:
      tags:
      - externalPerson
      summary: Update external persons
      description: Update external persons with specific UUID.
      operationId: externalPerson_update
      parameters:
      - name: uuid
        in: path
        description: UUID of the external person to update
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      requestBody:
        description: The content to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalPerson'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalPerson'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Version conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConflictProblemDetails'
    delete:
      tags:
      - externalPerson
      summary: Delete external person
      description: Delete external person with specific UUID.
      operationId: externalPerson_delete
      parameters:
      - name: uuid
        in: path
        description: UUID of the external person
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '204':
          description: Successful operation
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConflictProblemDetails'
  /external-persons/{uuid}/actions/lock:
    post:
      tags:
      - externalPerson
      summary: Lock the content
      description: Mark the content as external (used when content contains synchronised data). This has no effect on interactions with the content through the API.
      operationId: externalPerson_lock
      parameters:
      - name: uuid
        in: path
        description: UUID of the content to lock
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '204':
          description: Content marked as locked
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Content already locked
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConflictProblemDetails'
  /external-persons/{uuid}/actions/unlock:
    post:
      tags:
      - externalPerson
      summary: Unlock the content
      description: Remove the external mark on the content (used when content contains synchronised data). This has no effect on interactions with the content through the API.
      operationId: externalPerson_unlock
      parameters:
      - name: uuid
        in: path
        description: UUID of the content to unlock
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '204':
          description: Content marked as unlocked
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Content already unlocked
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConflictProblemDetails'
  /external-persons/{uuid}/dependents:
    get:
      tags:
      - externalPerson
      summary: Lists all dependents to a external person
      description: 'Lists all dependents to a external person with the specified UUID. If the user does not have access to view all the dependent content, an authorization error will be thrown. '
      operationId: externalPerson_dependents
      parameters:
      - name: uuid
        in: path
        description: UUID of the external person
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: verbose
        in: query
        description: DEPRECATED - Parameter has no effect.
        deprecated: true
        schema:
          type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentRefListResult'
  /external-persons/{uuid}/disciplines/{discipline-scheme}:
    get:
      tags:
      - externalPerson
      summary: Get disciplines from the discipline scheme associated with the external person
      description: Get disciplines from the discipline scheme associated with the external person with specific UUID.
      operationId: externalPerson_getDisciplineAssociation
      parameters:
      - name: uuid
        in: path
        description: UUID of the desired external person
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: discipline-scheme
        in: path
        description: Identifier for the discipline scheme
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisciplinesAssociation'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    put:
      tags:
      - externalPerson
      summary: Update disciplines from the discipline scheme associated with the external person
      description: Update disciplines from the discipline scheme associated with the external person with specific UUID.
      operationId: externalPerson_putDisciplineAssociation
      parameters:
      - name: uuid
        in: path
        description: UUID of the external person to update
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: discipline-scheme
        in: path
        description: Identifier for the discipline scheme
        required: true
        schema:
          type: string
      requestBody:
        description: The disciplines association to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisciplinesAssociation'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisciplinesAssociation'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /external-persons/{uuid}/files/{fileId}:
    get:
      tags:
      - externalPerson
      summary: Get file from the external person
      description: Get file from the external person
      operationId: externalPerson_getFile
      parameters:
      - name: uuid
        in: path
        description: UUID of the external person
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: fileId
        in: path
        description: 'File id '
        required: true
        schema:
          pattern: .+
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                type: string
                format: binary
  /external-persons/{uuid}/notes:
    get:
      tags:
      - externalPerson
      summary: Lists notes
      description: Lists notes associated with an external person ordered by date (nulls last)
      operationId: externalPerson_listNotes
      parameters:
      - name: uuid
        in: path
        description: UUID of the external person to get notes for
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: size
        in: query
        description: Number of returned notes per request
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 10
      - name: offset
        in: query
        description: The offset for the returned list. 0 or null value is from the start
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteListResult'
        '404':
          description: External person not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    put:
      tags:
      - externalPerson
      summary: Create note
      description: Create note and associate it with an external person
      operationId: externalPerson_createNote
      parameters:
      - name: uuid
        in: path
        description: UUID of the external person to add note to
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      requestBody:
        description: The note to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Note'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
components:
  schemas:
    DisciplinesAssociation:
      required:
      - disciplineAssignments
      type: object
      properties:
        content:
          $ref: '#/components/schemas/ContentRef'
        disciplineScheme:
          type: string
          description: The discipline scheme these disciplines are assigned from
          readOnly: true
        disciplineAssignments:
          type: array
          description: A collection of assigned disciplines
          items:
            $ref: '#/components/schemas/DisciplinesDisciplineAssignment'
      description: An association between a content and a number of discipline assignments
    ContentRef:
      required:
      - systemName
      - uuid
      type: object
      properties:
        uuid:
          type: string
          description: UUID of the referred content
          format: uuid
        systemName:
          type: string
      nullable: true
      discriminator:
        propertyName: systemName
        mapping:
          AccessDefinition: '#/components/schemas/AccessDefinitionRef'
          Activity: '#/components/schemas/ActivityRef'
          Application: '#/components/schemas/ApplicationRef'
          AuthorCollaboration: '#/components/schemas/AuthorCollaborationRef'
          Award: '#/components/schemas/AwardRef'
          ClassificationScheme: '#/components/schemas/ClassificationSchemeRef'
          ConferenceSeries: '#/components/schemas/ConferenceSeriesRef'
          DataSet: '#/components/schemas/DataSetRef'
          Equipment: '#/components/schemas/EquipmentRef'
          Event: '#/components/schemas/EventRef'
          ExternalOrganization: '#/components/schemas/ExternalOrganizationRef'
          ExternalPerson: '#/components/schemas/ExternalPersonRef'
          Impact: '#/components/schemas/ImpactRef'
          Journal: '#/components/schemas/JournalRef'
          Organization: '#/components/schemas/OrganizationRef'
          Person: '#/components/schemas/PersonRef'
          Publisher: '#/components/schemas/PublisherRef'
          PressMedia: '#/components/schemas/PressMediaRef'
          Prize: '#/components/schemas/PrizeRef'
          Project: '#/components/schemas/ProjectRef'
          ResearchOutput: '#/components/schemas/ResearchOutputRef'
          StudentThesis: '#/components/schemas/StudentThesisRef'
          FundingOpportunity: '#/components/schemas/FundingOpportunityRef'
          EthicalReview: '#/components/schemas/EthicalReviewRef'
          ApplicationCluster: '#/components/schemas/ApplicationClusterRef'
          AwardCluster: '#/components/schemas/AwardClusterRef'
          User: '#/components/schemas/UserRef'
          ERA2018FieldOfResearch: '#/components/schemas/Anzsrc2008FieldOfResearchRef'
          UnitOfAssessmentREF2014: '#/components/schemas/Ref2014UnitOfAssessmentRef'
          UnitOfAssessmentREF2020: '#/components/schemas/Ref2020UnitOfAssessmentRef'
          ANZSRCTypeOfActivity: '#/components/schemas/Anzsrc2020TypeOfActivityRef'
          ANZSRCFieldOfResearch: '#/components/schemas/Anzsrc2020FieldOfResearchRef'
          ANZSRCSocioEconomicObjective: '#/components/schemas/Anzsrc2020SocioEconomicObjectiveRef'
          Semester: '#/components/schemas/SemesterRef'
          Education: '#/components/schemas/EducationRef'
          Course: '#/components/schemas/CourseRef'
          CurriculumVitae: '#/components/schemas/CurriculumVitaeRef'
          CustomDefinedFieldConfiguration: '#/components/schemas/CustomDefinedFieldConfigurationRef'
          KeywordGroupConfiguration: '#/components/schemas/KeywordGroupConfigurationRef'
          Review: '#/components/schemas/ReviewRef'
          GenericContentRef: '#/components/schemas/GenericContentRef'
          UserProfile: '#/components/schemas/UserProfileRef'
          Thesaurus: '#/components/schemas/ThesaurusRef'
          Concept: '#/components/schemas/ConceptRef'
          PersonExpertise: '#/components/schemas/PersonExpertiseRef'
          Contract: '#/components/schemas/ContractRef'
          Milestone: '#/components/schemas/MilestoneRef'
          Fingerprint: '#/components/schemas/FingerprintRef'
          Specialization: '#/components/schemas/SpecializationRef'
          StudentProject: '#/components/schemas/StudentProjectRef'
    PageInformation:
      type: object
      properties:
        offset:
          type: integer
          description: Offset that returned items start at
          format: int32
        size:
          type: integer
          description: The requested number of items. May be higher than the actual number of items in the result if there are fewer items in the store than requested
          format: int32
      description: Information about pages
    ClassificationRef:
      required:
      - uri
      type: object
      properties:
        uri:
          type: string
          description: Classification URI of the referred classification
        term:
          $ref: '#/components/schemas/SystemLocalizedString'
      description: A reference to a classification value
      nullable: true
    UploadedFile:
      required:
      - key
      type: object
      properties:
        digest:
          type: string
          description: The calculated digest for the file in Pure
          readOnly: true
        digestType:
          type: string
          description: The digest type
          readOnly: true
        size:
          type: integer
          description: The file size of the file in Pure
          format: int64
          readOnly: true
        mimeType:
          type: string
          description: The mime type detected for the file
          readOnly: true
        timeStamp:
          type: string
          description: The timestamp Pure received the file
          format: date-time
          readOnly: true
        expires:
          type: string
          description: The timestamp where Pure deletes the uploaded file if it has not been attached to any content
          format: date-time
          readOnly: true
        key:
          type: string
          description: Pure key identifer for the file upload
          readOnly: true
      description: Information about the uploaded file
    DisciplinesDisciplineAssignment:
      required:
      - disciplineId
      - splitPercentage
      type: object
      properties:
        disciplineId:
          type: string
          description: The assigned discipline
        splitPercentage:
          type: number
          description: The split percentages within an assigned discipline scheme must sum up to 100%
          format: double
      description: The assigned discipline and its split percentage
    DisciplinesDisciplineScheme:
      required:
      - disciplineScheme
      - title
      type: object
      properties:
        disciplineScheme:
          type: string
          description: The discipline scheme identifier
        title:
          type: string
          description: The discipline title
      description: A discipline scheme
    LocalizedString:
      type: object
      additionalProperties:
        type: string
        description: 'A set of string values, one for each submission locale. Note: invalid locale values will be ignored.'
        nullable: true
        example: '{"en_GB":"Some text"}'
      description: 'A set of string values, one for each submission locale. Note: invalid locale values will be ignored.'
      nullable: true
      example:
        en_GB: Some text
    Workflow:
      required:
      - step
      type: object
      properties:
        step:
          type: string
          description: Current workflow step
        description:
          $ref: '#/components/schemas/SystemLocalizedString'
      description: Information about workflow
    AllowedKeywordGroupConfiguration:
      required:
      - targetSystemName
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        targetSystemName:
          type: string
          description: The content system name this configuration applies to
        keywordGroupType:
          type: string
          description: The OpenAPI schema type of this keyword configuration
          readOnly: true
        name:
          $ref: '#/components/schemas/LocalizedString'
        description:
          $ref: '#/components/schemas/FormattedLocalizedString'
        classificationScheme:
          $ref: '#/components/schemas/ClassificationSchemeRef'
        allowUserdefinedKeywords:
          type: boolean
          description: Defines if user defined keywords are allowed
        limitToLeafSelection:
          type: boolean
        logicalName:
          type: string
        relationType:
          type: string
          description: The schema name of the type (with the ability to associate keywords) on which the keyword group configuration is related to, e.g. StaffOrganizationAssociation. It can also be set to null (default value), which means the keyword group configuration is related to the main type (the target system name) and not a relation of the main type.
          nullable: true
      description: A specification of the allowed behavior of a specified keyword group
    ClassificationSchemeRef:
      required:
      - uuid
      type: object
      description: A reference to a classification scheme
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    DisciplinesAssociationListResult:
      type: object
      properties:
        count:
          type: integer
          description: The full count, ignoring paging
          format: int32
        pageInformation:
          $ref: '#/components/schemas/PageInformation'
        items:
          type: array
          description: Discipline associations
          items:
            $ref: '#/components/schemas/DisciplinesAssociation'
      description: List of discipline associations. Can contain a subset of all items along with the full count
    SystemLocalizedString:
      type: object
      additionalProperties:
        type: string
        description: A set of localized string values each for a specific UI locale.
        nullable: true
        example: '{"en_GB":"Some text"}'
      description: A set of localized string values each for a specific UI locale.
      nullable: true
      example:
        en_GB: Some text
    KeywordGroup:
      required:
      - logicalName
      - typeDiscriminator
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        logicalName:
          type: string
          description: Unique name of the configuration that specifies this keyword group
        name:
          $ref: '#/components/schemas/LocalizedString'
        typeDiscriminator:
          type: string
      discriminator:
        propertyName: typeDiscriminator
        mapping:
          ClassificationsKeywordGroup: '#/components/schemas/ClassificationsKeywordGroup'
          FreeKeywordsKeywordGroup: '#/components/schemas/FreeKeywordsKeywordGroup'
          FullKeywordGroup: '#/components/schemas/FullKeywordGroup'
    AllowedKeywordGroupConfigurationList:
      type: object
      properties:
        configurations:
          type: array
          items:
            $ref: '#/components/schemas/AllowedKeywordGroupConfiguration'
      description: List of allowed keyword group configurations
    WorkflowListResult:
      type: object
      properties:
        workflows:
          type: array
          description: Allowed workflow steps.
          items:
            $ref: '#/components/schemas/Workflow'
      description: List of workflow steps.
    ClassificationRefList:
      type: object
      properties:
        classifications:
          type: array
          items:
            $ref: '#/components/schemas/ClassificationRef'
      description: List of classification references
    LocalesList:
      type: object
      properties:
        locales:
          pattern: /^[a-z]{2}_[A-Z]{2}$/
          type: array
          description: Allowed locale values for use in localized string entities. The locale format consists of lower-case ISO 639 alpha-2 language code and upper-cased ISO 3166 alpha-2 country code.
          items:
            pattern: /^[a-z]{2}_[A-Z]{2}$/
            type: string
            description: Allowed locale values for use in localized string entities. The locale format consists of lower-case ISO 639 alpha-2 language code and upper-cased ISO 3166 alpha-2 country code.
      description: List of available locales
    FormattedLocalizedString:
      type: object
      additionalProperties:
        type: string
        description: A set of localized strings that support formatting. Invalid locale values will be ignored.
        nullable: true
        example: '{"en_GB":"Some text"}'
      description: A set of localized strings that support formatting. Invalid locale values will be ignored.
      nullable: true
      example:
        en_GB: Some text
    ExternalOrganizationRef:
      required:
      - uuid
      type: object
      description: A reference to an organization external to the institution
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    NoteListResult:
      type: object
      properties:
        count:
          type: integer
          description: The full count, ignoring paging
          format: int32
        pageInformation:
          $ref: '#/components/schemas/PageInformation'
        items:
          type: array
          description: Notes
          items:
            $ref: '#/components/schemas/Note'
      description: List of notes
    Gender:
      type: object
      properties:
        key:
          type: string
          enum:
          - MALE
          - FEMALE
          - UNKNOWN
        value:
          $ref: '#/components/schemas/LocalizedString'
      description: A list of possible genders
      nullable: true
    Note:
      required:
      - text
      type: object
      properties:
        date:
          type: string
          description: Date and time of when the note was created, an event occurred or similar. Can be any point in time, but <now> is normally preferred
          format: date-time
          nullable: true
        username:
          type: string
          description: Username related to the note. Usually a username of the user creating the note. Does not have to be a username of a Pure user
          nullable: true
        text:
          type: string
          description: Note text
      description: A note
    OrderingsList:
      type: object
      properties:
        orderings:
          type: array
          description: IDs of ways content can be ordered
          items:
            type: string
            description: IDs of ways content can be ordered
      description: List of available orderings
    DisciplinesDisciplineSchemeListResult:
      type: object
      properties:
        count:
          type: integer
          description: The amount of discipline schemes
          format: int32
        items:
          type: array
          description: Discipline schemes
          items:
            $ref: '#/components/schemas/DisciplinesDisciplineScheme'
      description: List of discipline schemes
    DisciplinesDiscipline:
      type: object
      properties:
        disciplineId:
          type: string
          description: The discipline identifier
          readOnly: true
        title:
          type: string
          description: The discipline title
          readOnly: true
        description:
          type: string
          description: The discipline description
          readOnly: true
      description: A discipline within a specific discipline scheme
    Name:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
      description: A name describing a person, made up of given- and family name
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          description: A URI reference [RFC3986] that identifies the problem type.
        title:
          type: string
          description: A short, human-readable summary of the problem type. It SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization (e.g., using proactive content negotiation; see [RFC7231], Section 3.4).
        status:
          type: integer
          description: The HTTP status code ([RFC7231], Section 6) generated by the origin server for this occurrence of the problem.
          format: int32
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.  It may or may not yield further information if dereferenced.
      description: RFC7807 Error details
      discriminator:
        propertyName: type
        mapping:
          /error: '#/components/schemas/GenericProblemDetails'
          /validation-error: '#/components/schemas/ValidationProblemDetails'
          /dependency-violation-error: '#/components/schemas/DependencyViolationProblemDetails'
    ExternalPersonListResult:
      type: object
      properties:
        count:
          type: integer
          description: The full count, ignoring paging
          format: int32
        pageInformation:
          $ref: '#/components/schemas/PageInformation'
        items:
          type: array
          description: External Persons
          items:
            $ref: '#/components/schemas/ExternalPerson'
      description: List of external persons. Can contain a subset of all items along with the full count
    RemoteFile:
      required:
      - fileId
      - fileState
      - sourceId
      - storeName
      type: object
      properties:
        sourceId:
          type: string
          description: The remote source ID
        storeName:
          type: string
          description: The name of the remote store
        timeStamp:
          type: string
          description: The timestamp at which the file was stored
          format: date-time
        fileId:
          type: string
          description: The remote file ID
        fileState:
          type: string
          description: The remote file state
          enum:
          - AWAITING_CREATION
          - CREATION_IN_PROGRESS
          - CREATION_FAILED
          - STORED
          - AWAITING_DELETE
          - DELETE_IN_PROGRESS
          - DELETE_FAILED
          - DELETED
        metadataUpdateRequired:
          type: boolean
          description: Whether the file's metadata should be updated
          default: false
      description: Information about a remote file (Elsevier only)
    ImageFile:
      required:
      - fileName
      - mimeType
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        fileId:
          type: string
          description: The id of the file
          readOnly: true
        fileName:
          type: string
          description: The documents file name
        mimeType:
          type: string
          description: The documents mime type
        size:
          type: integer
          description: The documents size in bytes
          format: int64
        url:
          type: string
          description: Download url for the binary file
          readOnly: true
        fileStoreLocations:
          type: object
          additionalProperties:
            type: string
            description: Locations of the binary file in file stores.
            readOnly: true
          description: Locations of the binary file in file stores.
          readOnly: true
        uploadedFile:
          $ref: '#/components/schemas/UploadedFile'
        remoteFile:
          $ref: '#/components/schemas/RemoteFile'
        fileData:
          type: string
          description: Base64 encoded file data for new files. This property can be used instead of uploadedFile for small files
          format: byte
          writeOnly: true
        type:
          $ref: '#/components/schemas/ClassificationRef'
        copyrightConfirmation:
          type: boolean
          description: Indicates whether this file has been confirmed to adhere to the appropriate copyrights
          nullable: true
        caption:
          $ref: '#/components/schemas/LocalizedString'
        altText:
          $ref: '#/components/schemas/LocalizedString'
        copyrightStatement:
          $ref: '#/components/schemas/LocalizedString'
      description: An image file
    Identifier:
      required:
      - typeDiscriminator
      type: object
      properties:
        typeDiscriminator:
          type: string
      discriminator:
        propertyName: typeDiscriminator
        mapping:
          ClassifiedId: '#/components/schemas/ClassifiedId'
          PrimaryId: '#/components/schemas/PrimaryId'
          Id: '#/components/schemas/Id'
    ConflictProblemDetails:
      type: object
      properties:
        type:
          type: string
          description: A URI reference [RFC3986] that identifies the problem type.
        title:
          type: string
          description: A short, human-readable summary of the problem type. It SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization (e.g., using proactive content negotiation; see [RFC7231], Section 3.4).
        status:
          type: integer
          description: The HTTP status code ([RFC7231], Section 6) generated by the origin server for this occurrence of the problem.
          format: int32
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.  It may or may not yield further information if dereferenced.
        modified:
          type: string
          format: date-time
        modifiedBy:
          type: string
      description: Problem details for state conflict failures
    ExternalPerson:
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        uuid:
          type: string
          description: UUID, this is the primary identity of the entity
          format: uuid
          readOnly: true
        createdBy:
          type: string
          description: Username of creator
          readOnly: true
        createdDate:
          type: string
          description: Date and time of creation
          format: date-time
          readOnly: true
        modifiedBy:
          type: string
          description: Username of the user that performed a modification
          readOnly: true
        modifiedDate:
          type: string
          description: Date and time of last modification
          format: date-time
          readOnly: true
        portalUrl:
          type: string
          description: URL of the content on the Pure Portal
          readOnly: true
        prettyUrlIdentifiers:
          type: array
          description: All pretty URLs
          readOnly: true
          items:
            type: string
            description: All pretty URLs
            readOnly: true
        previousUuids:
          type: array
          description: UUIDs of other content items which have been merged into this content item (or similar)
          readOnly: true
          items:
            type: string
            description: UUIDs of other content items which have been merged into this content item (or similar)
            readOnly: true
        version:
          type: string
          description: Used to guard against conflicting updates. For new content this is null, and for existing content the current value. The property should never be modified by a client, except in the rare case where the client wants to perform an update irrespective of if other clients have made updates in the meantime, also known as a "dirty write". A dirty write is performed by not including the property value or setting the property to null
          nullable: true
        identifiers:
          type: array
          description: IDs that this object corresponds to in external systems. Such as a Scopus ID. Used by Pure where it is necessary to identify objects to specific external systems
          nullable: true
          items:
            $ref: '#/components/schemas/Identifier'
        name:
          $ref: '#/components/schemas/Name'
        type:
          $ref: '#/components/schemas/ClassificationRef'
        title:
          $ref: '#/components/schemas/LocalizedString'
        country:
          $ref: '#/components/schemas/ClassificationRef'
        email:
          type: string
          description: Email address
          format: email
          nullable: true
        gender:
          $ref: '#/components/schemas/Gender'
        externalOrganizations:
          type: array
          description: Organizations that the external person is associated
          nullable: true
          items:
            $ref: '#/components/schemas/ExternalOrganizationRef'
        keywordGroups:
          type: array
          description: Groups of Keyword associated with the external person.
          nullable: true
          items:
            $ref: '#/components/schemas/KeywordGroup'
        workflow:
          $ref: '#/components/schemas/Workflow'
        images:
          type: array
          description: Image files with a maximum file size of 1MB
          nullable: true
          items:
            $ref: '#/components/schemas/ImageFile'
        systemName:
          type: string
          description: The content system name
          readOnly: true
      description: A person not known to the institution
    ContentRefListResult:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ContentRef'
      description: List of Content Refs
    ExternalPersonsQuery:
      type: object
      properties:
        uuids:
          type: array
          items:
            type: string
            format: uuid
        size:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
        orderings:
          type: array
          items:
            type: string
        searchString:
          type: string
          description: String used to perform search
        orderBy:
          type: string
          writeOnly: true
      description: Create a query for external persons
    DisciplinesDisciplineListResult:
      type: object
      properties:
        count:
          type: integer
          description: The full count, ignoring paging
          format: int32
        pageInformation:
          $ref: '#/components/schemas/PageInformation'
        items:
          type: array
          description: Disciplines
          items:
            $ref: '#/components/schemas/DisciplinesDiscipline'
      description: List of disciplines for a specific discipline scheme
    DisciplinesAssociationsQuery:
      type: object
      properties:
        uuids:
          type: array
          items:
            type: string
            format: uuid
        size:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
      description: Create a query for discipline associations
  securitySchemes:
    api-key:
      type: apiKey
      description: Security mechanism for the API
      name: api-key
      in: header
