openapi: 3.0.1
info:
  title: Pure activity studentThesis API
  description: The Pure API provides a secure and complete web services API for using and managing research information data in Pure. The API enables a broad range of use-cases for interacting with research information, from anonymous Open Data scenarios to enabling the next generation Pure admin.
  termsOfService: ''
  contact:
    name: ''
    url: ''
    email: pure-support@elsevier.com
  license:
    name: ''
    url: ''
  version: 5.35.3-4
servers:
- url: https://yonsei.elsevierpure.com/ws/api
  description: Yonsei University Elsevier Pure REST API
security:
- api-key: []
tags:
- name: studentThesis
paths:
  /student-theses:
    get:
      tags:
      - studentThesis
      summary: Lists all  student theses
      description: Lists all  student theses in the Pure instance. If you need to filter the student theses returned, see the POST version which supports additional filtering.
      operationId: studentThesis_list
      parameters:
      - name: size
        in: query
        description: Number of returned  student theses per request.
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 10
      - name: offset
        in: query
        description: The offset for the returned list. 0 or null value is from the start
        schema:
          type: integer
          format: int32
          default: 0
      - name: order
        in: query
        description: The order of the list, must be a value from /student-theses/orderings
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudentThesisListResult'
    put:
      tags:
      - studentThesis
      summary: Create student thesis
      description: Create student thesis
      operationId: studentThesis_create
      requestBody:
        description: The content to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StudentThesis'
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudentThesis'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /student-theses/allowed-contributor-countries:
    get:
      tags:
      - studentThesis
      summary: A list of allowed contributor countries for student theses
      description: Get a list of allowed countries for contributors of student theses
      operationId: studentthesis_getAllowedContributorCountries
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /student-theses/allowed-contributor-roles:
    get:
      tags:
      - studentThesis
      summary: A list of allowed contributor roles for student theses
      description: Get a list of allowed roles for contributors of student theses
      operationId: studentthesis_getAllowedContributorRoles
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /student-theses/allowed-custom-defined-field-values/{fieldIdentifer}/classifications:
    get:
      tags:
      - studentThesis
      summary: Get allowed classifications for the custom-defined field associated with the student thesis
      description: Get allowed classifications for the custom-defined field associated with the student theses.
      operationId: studentThesis_getAllowedCustomDefinedFieldClassifications
      parameters:
      - name: fieldIdentifer
        in: path
        description: FieldIdentifer for the desired custom-defined field
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /student-theses/allowed-document-embargo-reasons:
    get:
      tags:
      - studentThesis
      summary: A list of allowed document embargo reasons
      description: Get a list of allowed document embargo reasons that can be used for student theses
      operationId: studentThesis_getAllowedDocumentEmbargoReasons
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /student-theses/allowed-document-license-types:
    get:
      tags:
      - studentThesis
      summary: A list of allowed document license types
      description: Get a list of allowed document license types that can be used for student these
      operationId: studentThesis_getAllowedDocumentLicenses
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /student-theses/allowed-document-types:
    get:
      tags:
      - studentThesis
      summary: A list of allowed document types
      description: Get a list of allowed document types that can be used for student these
      operationId: studentThesis_getAllowedDocumentTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /student-theses/allowed-document-version-types:
    get:
      tags:
      - studentThesis
      summary: A list of allowed document version types
      description: Get a list of allowed document version types that can be used for student these
      operationId: studentThesis_getAllowedDocumentVersionTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /student-theses/allowed-image-types:
    get:
      tags:
      - studentThesis
      summary: A list of allowed image types
      description: Get a list of allowed image types that can be used for the 'images.type' attribute of student thesis
      operationId: studentThesis_getAllowedImageTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /student-theses/allowed-keyword-group-configurations:
    get:
      tags:
      - studentThesis
      summary: A list of keyword group configurations
      description: Get a list of allowed keyword group configurations that can be used when submitting keyword groups.
      operationId: studentThesis_getAllowedKeywordGroupConfigurations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllowedKeywordGroupConfigurationList'
  /student-theses/allowed-keyword-group-configurations/{id}/classifications:
    get:
      tags:
      - studentThesis
      summary: A list of allowed classifications for the specified keyword group
      description: Get a list of allowed classifications that can be used when submitting a specified keyword group.
      operationId: studentThesis_getAllowedKeywordGroupConfigurationClassifications
      parameters:
      - name: id
        in: path
        description: Pure id of the keyword group configuration
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /student-theses/allowed-languages:
    get:
      tags:
      - studentThesis
      summary: A list of allowed languages
      description: Get a list of allowed languages on student theses
      operationId: studentthesis_getAllowedLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /student-theses/allowed-link-types:
    get:
      tags:
      - studentThesis
      summary: A list of allowed link types
      description: Get a list of allowed link types on student theses
      operationId: studentthesis_getAllowedLinkTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /student-theses/allowed-locales:
    get:
      tags:
      - studentThesis
      summary: A list of allowed locales in localized strings
      description: Get a list of allowed locales that can be used when submitting localized string entities.
      operationId: studentThesis_getAllowedLocales
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalesList'
  /student-theses/allowed-supervisor-roles:
    get:
      tags:
      - studentThesis
      summary: A list of allowed supervisor roles
      description: Get a list of allowed supervisors roles for student theses
      operationId: studentthesis_getAllowedSupervisorRoles
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /student-theses/allowed-types:
    get:
      tags:
      - studentThesis
      summary: A list of allowed student thesis types
      description: Get a list of allowed types that can be used for the 'type' attribute of student theses
      operationId: studentThesis_getAllowedTypes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRefList'
  /student-theses/allowed-workflow-steps:
    get:
      tags:
      - studentThesis
      summary: A list of allowed workflow steps
      description: Get a list of allowed workflow steps that can be used for the 'workflow' attribute of student theses
      operationId: studentThesis_getAllowedWorkflowSteps
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowListResult'
  /student-theses/file-uploads:
    put:
      tags:
      - studentThesis
      summary: Upload file to a specific student thesis
      description: Uploads file for the student thesis
      operationId: studentThesis_fileUploads
      parameters:
      - name: Content-Type
        in: header
        description: Set the mime type for the file
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              format: binary
        required: true
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadedFile'
            application/xml:
              schema:
                $ref: '#/components/schemas/UploadedFile'
  /student-theses/orderings:
    get:
      tags:
      - studentThesis
      summary: Lists available orderings
      description: Lists all orderings available to the student thesis endpoint. These values can be used by the order parameter.
      operationId: studentThesis_getOrderings
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderingsList'
  /student-theses/search:
    post:
      tags:
      - studentThesis
      summary: Query operation for student theses
      description: Lists student theses in the Pure instance that matches the provided query, similar to the GET version, instead of using parameters to alter the response, an JSON document is posted with the request. The JSON document contains fields for all the parameters available for the GET version, but also additional filtering options.
      operationId: studentThesis_query
      requestBody:
        description: The query to perform
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StudentThesesQuery'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudentThesisListResult'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /student-theses/{uuid}:
    get:
      tags:
      - studentThesis
      summary: Get student thesis
      description: Get student thesis with specific UUID.
      operationId: studentThesis_get
      parameters:
      - name: uuid
        in: path
        description: UUID of the desired student thesis
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudentThesis'
        '301':
          description: The requested content have changed UUID
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    put:
      tags:
      - studentThesis
      summary: Update student thesis
      description: Update student thesis with specific UUID.
      operationId: studentThesis_update
      parameters:
      - name: uuid
        in: path
        description: UUID of the student thesis to update
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      requestBody:
        description: The content to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StudentThesis'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudentThesis'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Version conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConflictProblemDetails'
    delete:
      tags:
      - studentThesis
      summary: Delete student thesis
      description: Delete student thesis with specific UUID.
      operationId: studentThesis_delete
      parameters:
      - name: uuid
        in: path
        description: UUID of the student thesis
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '204':
          description: Successful operation
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConflictProblemDetails'
  /student-theses/{uuid}/actions/lock:
    post:
      tags:
      - studentThesis
      summary: Lock the content
      description: Mark the content as external (used when content contains synchronised data). This has no effect on interactions with the content through the API.
      operationId: studentThesis_lock
      parameters:
      - name: uuid
        in: path
        description: UUID of the student thesis to lock
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '204':
          description: Content marked as locked
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Content already locked
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConflictProblemDetails'
  /student-theses/{uuid}/actions/unlock:
    post:
      tags:
      - studentThesis
      summary: Unlock the content
      description: Remove the external mark on the content (used when content contains synchronised data). This has no effect on interactions with the content through the API.
      operationId: studentThesis_unlock
      parameters:
      - name: uuid
        in: path
        description: UUID of the student thesis to unlock
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      responses:
        '204':
          description: Content marked as unlocked
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Content already unlocked
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConflictProblemDetails'
  /student-theses/{uuid}/dependents:
    get:
      tags:
      - studentThesis
      summary: Lists all dependents to a student thesis
      description: 'Lists all dependents to a student thesis with the specified UUID. If the user does not have access to view all the dependent content, an authorization error will be thrown. '
      operationId: studentThesis_dependents
      parameters:
      - name: uuid
        in: path
        description: UUID of the student thesis
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: verbose
        in: query
        description: DEPRECATED - Parameter has no effect.
        deprecated: true
        schema:
          type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentRefListResult'
  /student-theses/{uuid}/files/{fileId}:
    get:
      tags:
      - studentThesis
      summary: Get file from the student thesis
      description: Get file from the student thesis
      operationId: studentThesis_getFile
      parameters:
      - name: uuid
        in: path
        description: UUID of the student thesis
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: fileId
        in: path
        description: 'File id '
        required: true
        schema:
          pattern: .+
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                type: string
                format: binary
  /student-theses/{uuid}/notes:
    get:
      tags:
      - studentThesis
      summary: Lists notes
      description: Lists notes associated with a student thesis ordered by date (nulls last)
      operationId: studentThesis_listNotes
      parameters:
      - name: uuid
        in: path
        description: UUID of the student thesis to get notes for
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      - name: size
        in: query
        description: Number of returned notes per request
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 10
      - name: offset
        in: query
        description: The offset for the returned list. 0 or null value is from the start
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteListResult'
        '404':
          description: student thesis not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    put:
      tags:
      - studentThesis
      summary: Create note
      description: Create note and associate it with a student thesis
      operationId: studentThesis_createNote
      parameters:
      - name: uuid
        in: path
        description: UUID of the student thesis to add note to
        required: true
        schema:
          pattern: .+
          type: string
          format: uuid
      requestBody:
        description: The note to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Note'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
components:
  schemas:
    Visibility:
      required:
      - key
      type: object
      properties:
        key:
          type: string
          description: Visibility value
          enum:
          - FREE
          - CAMPUS
          - BACKEND
          - CONFIDENTIAL
        description:
          $ref: '#/components/schemas/SystemLocalizedString'
      description: Visibility of an object
    ContentRef:
      required:
      - systemName
      - uuid
      type: object
      properties:
        uuid:
          type: string
          description: UUID of the referred content
          format: uuid
        systemName:
          type: string
      nullable: true
      discriminator:
        propertyName: systemName
        mapping:
          AccessDefinition: '#/components/schemas/AccessDefinitionRef'
          Activity: '#/components/schemas/ActivityRef'
          Application: '#/components/schemas/ApplicationRef'
          AuthorCollaboration: '#/components/schemas/AuthorCollaborationRef'
          Award: '#/components/schemas/AwardRef'
          ClassificationScheme: '#/components/schemas/ClassificationSchemeRef'
          ConferenceSeries: '#/components/schemas/ConferenceSeriesRef'
          DataSet: '#/components/schemas/DataSetRef'
          Equipment: '#/components/schemas/EquipmentRef'
          Event: '#/components/schemas/EventRef'
          ExternalOrganization: '#/components/schemas/ExternalOrganizationRef'
          ExternalPerson: '#/components/schemas/ExternalPersonRef'
          Impact: '#/components/schemas/ImpactRef'
          Journal: '#/components/schemas/JournalRef'
          Organization: '#/components/schemas/OrganizationRef'
          Person: '#/components/schemas/PersonRef'
          Publisher: '#/components/schemas/PublisherRef'
          PressMedia: '#/components/schemas/PressMediaRef'
          Prize: '#/components/schemas/PrizeRef'
          Project: '#/components/schemas/ProjectRef'
          ResearchOutput: '#/components/schemas/ResearchOutputRef'
          StudentThesis: '#/components/schemas/StudentThesisRef'
          FundingOpportunity: '#/components/schemas/FundingOpportunityRef'
          EthicalReview: '#/components/schemas/EthicalReviewRef'
          ApplicationCluster: '#/components/schemas/ApplicationClusterRef'
          AwardCluster: '#/components/schemas/AwardClusterRef'
          User: '#/components/schemas/UserRef'
          ERA2018FieldOfResearch: '#/components/schemas/Anzsrc2008FieldOfResearchRef'
          UnitOfAssessmentREF2014: '#/components/schemas/Ref2014UnitOfAssessmentRef'
          UnitOfAssessmentREF2020: '#/components/schemas/Ref2020UnitOfAssessmentRef'
          ANZSRCTypeOfActivity: '#/components/schemas/Anzsrc2020TypeOfActivityRef'
          ANZSRCFieldOfResearch: '#/components/schemas/Anzsrc2020FieldOfResearchRef'
          ANZSRCSocioEconomicObjective: '#/components/schemas/Anzsrc2020SocioEconomicObjectiveRef'
          Semester: '#/components/schemas/SemesterRef'
          Education: '#/components/schemas/EducationRef'
          Course: '#/components/schemas/CourseRef'
          CurriculumVitae: '#/components/schemas/CurriculumVitaeRef'
          CustomDefinedFieldConfiguration: '#/components/schemas/CustomDefinedFieldConfigurationRef'
          KeywordGroupConfiguration: '#/components/schemas/KeywordGroupConfigurationRef'
          Review: '#/components/schemas/ReviewRef'
          GenericContentRef: '#/components/schemas/GenericContentRef'
          UserProfile: '#/components/schemas/UserProfileRef'
          Thesaurus: '#/components/schemas/ThesaurusRef'
          Concept: '#/components/schemas/ConceptRef'
          PersonExpertise: '#/components/schemas/PersonExpertiseRef'
          Contract: '#/components/schemas/ContractRef'
          Milestone: '#/components/schemas/MilestoneRef'
          Fingerprint: '#/components/schemas/FingerprintRef'
          Specialization: '#/components/schemas/SpecializationRef'
          StudentProject: '#/components/schemas/StudentProjectRef'
    PageInformation:
      type: object
      properties:
        offset:
          type: integer
          description: Offset that returned items start at
          format: int32
        size:
          type: integer
          description: The requested number of items. May be higher than the actual number of items in the result if there are fewer items in the store than requested
          format: int32
      description: Information about pages
    AbstractStudentThesisContributorAssociation:
      required:
      - typeDiscriminator
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        externalOrganizations:
          type: array
          description: A collection of external organization affiliations.
          nullable: true
          items:
            $ref: '#/components/schemas/ExternalOrganizationRef'
        typeDiscriminator:
          type: string
      description: An association between student thesis and a person that has contributed to it
      discriminator:
        propertyName: typeDiscriminator
        mapping:
          InternalContributorAssociation: '#/components/schemas/InternalStudentThesisContributorAssociation'
          ExternalContributorAssociation: '#/components/schemas/ExternalStudentThesisContributorAssociation'
    StudentThesisListResult:
      type: object
      properties:
        count:
          type: integer
          description: The full count, ignoring paging
          format: int32
        pageInformation:
          $ref: '#/components/schemas/PageInformation'
        items:
          type: array
          description: StudentThesis
          items:
            $ref: '#/components/schemas/StudentThesis'
      description: List of student theses. Can contain a subset of all items along with the full count
    CompoundDate:
      required:
      - year
      type: object
      properties:
        year:
          maximum: 4000
          minimum: 0
          type: integer
          format: int32
        month:
          maximum: 12
          minimum: 1
          type: integer
          format: int32
          nullable: true
        day:
          maximum: 31
          minimum: 1
          type: integer
          format: int32
          nullable: true
      description: A date that can be defined by only year, year and month or a full date
      nullable: true
    OrganizationRef:
      required:
      - uuid
      type: object
      description: A reference to an organization in the institution
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    OrganizationOrExternalOrganizationRef:
      type: object
      properties:
        organizationRef:
          $ref: '#/components/schemas/OrganizationRef'
        externalOrganizationRef:
          $ref: '#/components/schemas/ExternalOrganizationRef'
      description: A reference to an organization in the institution or an external organization
      nullable: true
    ProjectRef:
      required:
      - uuid
      type: object
      description: A reference to project
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    ClassificationRef:
      required:
      - uri
      type: object
      properties:
        uri:
          type: string
          description: Classification URI of the referred classification
        term:
          $ref: '#/components/schemas/SystemLocalizedString'
      description: A reference to a classification value
      nullable: true
    DataSetRef:
      required:
      - uuid
      type: object
      description: A reference to a data set
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    UploadedFile:
      required:
      - key
      type: object
      properties:
        digest:
          type: string
          description: The calculated digest for the file in Pure
          readOnly: true
        digestType:
          type: string
          description: The digest type
          readOnly: true
        size:
          type: integer
          description: The file size of the file in Pure
          format: int64
          readOnly: true
        mimeType:
          type: string
          description: The mime type detected for the file
          readOnly: true
        timeStamp:
          type: string
          description: The timestamp Pure received the file
          format: date-time
          readOnly: true
        expires:
          type: string
          description: The timestamp where Pure deletes the uploaded file if it has not been attached to any content
          format: date-time
          readOnly: true
        key:
          type: string
          description: Pure key identifer for the file upload
          readOnly: true
      description: Information about the uploaded file
    FormattedString:
      required:
      - value
      type: object
      properties:
        value:
          type: string
          description: The actual formatted string
      description: A string containing HTML formatted text
    Link:
      required:
      - url
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        url:
          type: string
          description: The URL (Uniform Resource Locator) of the link
        alias:
          type: string
          description: A user-friendly text to show instead of the URL
          nullable: true
        description:
          $ref: '#/components/schemas/LocalizedString'
        linkType:
          $ref: '#/components/schemas/ClassificationRef'
      description: A hyperlink describing a location on the web.
    LocalizedString:
      type: object
      additionalProperties:
        type: string
        description: 'A set of string values, one for each submission locale. Note: invalid locale values will be ignored.'
        nullable: true
        example: '{"en_GB":"Some text"}'
      description: 'A set of string values, one for each submission locale. Note: invalid locale values will be ignored.'
      nullable: true
      example:
        en_GB: Some text
    Workflow:
      required:
      - step
      type: object
      properties:
        step:
          type: string
          description: Current workflow step
        description:
          $ref: '#/components/schemas/SystemLocalizedString'
      description: Information about workflow
    SupervisorAssociation:
      required:
      - role
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        externalOrganizations:
          type: array
          description: A collection of external organization affiliations.
          nullable: true
          items:
            $ref: '#/components/schemas/ExternalOrganizationRef'
        name:
          $ref: '#/components/schemas/Name'
        person:
          $ref: '#/components/schemas/PersonRef'
        externalPerson:
          $ref: '#/components/schemas/ExternalPersonRef'
        organizations:
          type: array
          description: A collection of organizational affiliations.
          nullable: true
          items:
            $ref: '#/components/schemas/OrganizationRef'
        role:
          $ref: '#/components/schemas/ClassificationRef'
      description: A supervisor on a research output.
    PressMediaRef:
      required:
      - uuid
      type: object
      description: A reference to a press/media
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    ExternalPersonRef:
      required:
      - uuid
      type: object
      description: A reference to a person external to the institution
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    PrizeRef:
      required:
      - uuid
      type: object
      description: A reference to a prize
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    AllowedKeywordGroupConfiguration:
      required:
      - targetSystemName
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        targetSystemName:
          type: string
          description: The content system name this configuration applies to
        keywordGroupType:
          type: string
          description: The OpenAPI schema type of this keyword configuration
          readOnly: true
        name:
          $ref: '#/components/schemas/LocalizedString'
        description:
          $ref: '#/components/schemas/FormattedLocalizedString'
        classificationScheme:
          $ref: '#/components/schemas/ClassificationSchemeRef'
        allowUserdefinedKeywords:
          type: boolean
          description: Defines if user defined keywords are allowed
        limitToLeafSelection:
          type: boolean
        logicalName:
          type: string
        relationType:
          type: string
          description: The schema name of the type (with the ability to associate keywords) on which the keyword group configuration is related to, e.g. StaffOrganizationAssociation. It can also be set to null (default value), which means the keyword group configuration is related to the main type (the target system name) and not a relation of the main type.
          nullable: true
      description: A specification of the allowed behavior of a specified keyword group
    SystemLocalizedString:
      type: object
      additionalProperties:
        type: string
        description: A set of localized string values each for a specific UI locale.
        nullable: true
        example: '{"en_GB":"Some text"}'
      description: A set of localized string values each for a specific UI locale.
      nullable: true
      example:
        en_GB: Some text
    CustomDefinedFields:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/CustomDefinedField'
      description: Map of CustomDefinedField values, where the key is the field identifier
      nullable: true
      example: '{ "fieldName1": "typeDiscriminator": "Integer", "value" : 1}'
    ClassificationSchemeRef:
      required:
      - uuid
      type: object
      description: A reference to a classification scheme
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    AllowedKeywordGroupConfigurationList:
      type: object
      properties:
        configurations:
          type: array
          items:
            $ref: '#/components/schemas/AllowedKeywordGroupConfiguration'
      description: List of allowed keyword group configurations
    StudentThesis:
      required:
      - awardDate
      - contributors
      - language
      - managingOrganization
      - title
      - type
      - visibility
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        uuid:
          type: string
          description: UUID, this is the primary identity of the entity
          format: uuid
          readOnly: true
        createdBy:
          type: string
          description: Username of creator
          readOnly: true
        createdDate:
          type: string
          description: Date and time of creation
          format: date-time
          readOnly: true
        modifiedBy:
          type: string
          description: Username of the user that performed a modification
          readOnly: true
        modifiedDate:
          type: string
          description: Date and time of last modification
          format: date-time
          readOnly: true
        portalUrl:
          type: string
          description: URL of the content on the Pure Portal
          readOnly: true
        prettyUrlIdentifiers:
          type: array
          description: All pretty URLs
          readOnly: true
          items:
            type: string
            description: All pretty URLs
            readOnly: true
        previousUuids:
          type: array
          description: UUIDs of other content items which have been merged into this content item (or similar)
          readOnly: true
          items:
            type: string
            description: UUIDs of other content items which have been merged into this content item (or similar)
            readOnly: true
        version:
          type: string
          description: Used to guard against conflicting updates. For new content this is null, and for existing content the current value. The property should never be modified by a client, except in the rare case where the client wants to perform an update irrespective of if other clients have made updates in the meantime, also known as a "dirty write". A dirty write is performed by not including the property value or setting the property to null
          nullable: true
        title:
          $ref: '#/components/schemas/FormattedString'
        subTitle:
          $ref: '#/components/schemas/FormattedString'
        translatedTitle:
          $ref: '#/components/schemas/FormattedLocalizedString'
        translatedSubTitle:
          $ref: '#/components/schemas/FormattedLocalizedString'
        language:
          $ref: '#/components/schemas/ClassificationRef'
        bibliographicalNote:
          $ref: '#/components/schemas/LocalizedString'
        managingOrganization:
          $ref: '#/components/schemas/OrganizationRef'
        type:
          $ref: '#/components/schemas/ClassificationRef'
        identifiers:
          type: array
          description: IDs that this object corresponds to in external systems. Such as a Scopus ID. Used by Pure where it is necessary to identify objects to specific external systems
          nullable: true
          items:
            $ref: '#/components/schemas/Identifier'
        documents:
          type: array
          description: A collection of documents.
          nullable: true
          items:
            $ref: '#/components/schemas/StudentThesisDocument'
        organizations:
          type: array
          description: A collection of organizational unit affiliations.
          nullable: true
          items:
            $ref: '#/components/schemas/OrganizationRef'
        externalOrganizations:
          type: array
          description: A collection of external organization affiliations.
          nullable: true
          items:
            $ref: '#/components/schemas/ExternalOrganizationRef'
        researchOutputs:
          type: array
          description: A collection of related research outputs.
          nullable: true
          items:
            $ref: '#/components/schemas/ResearchOutputRef'
        activities:
          type: array
          description: A collection of related activities.
          nullable: true
          items:
            $ref: '#/components/schemas/ActivityRef'
        pressMedia:
          type: array
          description: A collection of related press media.
          nullable: true
          items:
            $ref: '#/components/schemas/PressMediaRef'
        impacts:
          type: array
          description: A collection of related impacts.
          nullable: true
          items:
            $ref: '#/components/schemas/ImpactRef'
        equipment:
          type: array
          description: A collection of related equipment.
          nullable: true
          items:
            $ref: '#/components/schemas/EquipmentRef'
        projects:
          type: array
          description: A collection of related projects.
          nullable: true
          items:
            $ref: '#/components/schemas/ProjectRef'
        prizes:
          type: array
          description: A collection of related prizes.
          nullable: true
          items:
            $ref: '#/components/schemas/PrizeRef'
        datasets:
          type: array
          description: A collection of related datasets.
          nullable: true
          items:
            $ref: '#/components/schemas/DataSetRef'
        links:
          type: array
          description: A collection of links.
          nullable: true
          items:
            $ref: '#/components/schemas/Link'
        keywordGroups:
          type: array
          description: A group for each type of keyword present.
          nullable: true
          items:
            $ref: '#/components/schemas/KeywordGroup'
        visibility:
          $ref: '#/components/schemas/Visibility'
        images:
          type: array
          description: Image files with a maximum file size of 1MB
          nullable: true
          items:
            $ref: '#/components/schemas/ImageFile'
        contributors:
          type: array
          description: Contributors and their affiliations
          items:
            $ref: '#/components/schemas/AbstractStudentThesisContributorAssociation'
        customDefinedFields:
          $ref: '#/components/schemas/CustomDefinedFields'
        workflow:
          $ref: '#/components/schemas/Workflow'
        supervisorOrganizations:
          type: array
          description: A collection of organizational affiliations associated with supervisors of this student thesis.
          nullable: true
          items:
            $ref: '#/components/schemas/OrganizationRef'
        supervisorExternalOrganizations:
          type: array
          description: A collection of external organization affiliations associated with supervisors of this research output.
          nullable: true
          items:
            $ref: '#/components/schemas/ExternalOrganizationRef'
        supervisors:
          type: array
          description: The supervisors of this student thesis.
          nullable: true
          items:
            $ref: '#/components/schemas/SupervisorAssociation'
        sponsors:
          type: array
          description: The sponsors of this student thesis.
          nullable: true
          items:
            $ref: '#/components/schemas/ExternalOrganizationRef'
        awardDate:
          $ref: '#/components/schemas/CompoundDate'
        awardingInstitutions:
          type: array
          description: The awarding institution.
          nullable: true
          items:
            $ref: '#/components/schemas/OrganizationOrExternalOrganizationRef'
        systemName:
          type: string
          description: The content system name
          readOnly: true
        abstract:
          $ref: '#/components/schemas/FormattedLocalizedString'
      description: A student thesis
    ImpactRef:
      required:
      - uuid
      type: object
      description: A reference to impact
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    ClassificationRefList:
      type: object
      properties:
        classifications:
          type: array
          items:
            $ref: '#/components/schemas/ClassificationRef'
      description: List of classification references
    WorkflowListResult:
      type: object
      properties:
        workflows:
          type: array
          description: Allowed workflow steps.
          items:
            $ref: '#/components/schemas/Workflow'
      description: List of workflow steps.
    LocalesList:
      type: object
      properties:
        locales:
          pattern: /^[a-z]{2}_[A-Z]{2}$/
          type: array
          description: Allowed locale values for use in localized string entities. The locale format consists of lower-case ISO 639 alpha-2 language code and upper-cased ISO 3166 alpha-2 country code.
          items:
            pattern: /^[a-z]{2}_[A-Z]{2}$/
            type: string
            description: Allowed locale values for use in localized string entities. The locale format consists of lower-case ISO 639 alpha-2 language code and upper-cased ISO 3166 alpha-2 country code.
      description: List of available locales
    FormattedLocalizedString:
      type: object
      additionalProperties:
        type: string
        description: A set of localized strings that support formatting. Invalid locale values will be ignored.
        nullable: true
        example: '{"en_GB":"Some text"}'
      description: A set of localized strings that support formatting. Invalid locale values will be ignored.
      nullable: true
      example:
        en_GB: Some text
    ExternalOrganizationRef:
      required:
      - uuid
      type: object
      description: A reference to an organization external to the institution
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    CustomDefinedField:
      required:
      - typeDiscriminator
      type: object
      properties:
        typeDiscriminator:
          type: string
      description: Map of CustomDefinedField values, where the key is the field identifier
      nullable: true
      example: '{ "fieldName1": "typeDiscriminator": "Integer", "value" : 1}'
      discriminator:
        propertyName: typeDiscriminator
        mapping:
          Integer: '#/components/schemas/CustomDefinedFieldInteger'
          String: '#/components/schemas/CustomDefinedFieldString'
          Date: '#/components/schemas/CustomDefinedFieldDate'
          Classification: '#/components/schemas/CustomDefinedFieldClassification'
          Boolean: '#/components/schemas/CustomDefinedFieldBoolean'
          Decimal: '#/components/schemas/CustomDefinedFieldDecimal'
    NoteListResult:
      type: object
      properties:
        count:
          type: integer
          description: The full count, ignoring paging
          format: int32
        pageInformation:
          $ref: '#/components/schemas/PageInformation'
        items:
          type: array
          description: Notes
          items:
            $ref: '#/components/schemas/Note'
      description: List of notes
    ActivityRef:
      required:
      - uuid
      type: object
      description: A reference to an activity
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    Note:
      required:
      - text
      type: object
      properties:
        date:
          type: string
          description: Date and time of when the note was created, an event occurred or similar. Can be any point in time, but <now> is normally preferred
          format: date-time
          nullable: true
        username:
          type: string
          description: Username related to the note. Usually a username of the user creating the note. Does not have to be a username of a Pure user
          nullable: true
        text:
          type: string
          description: Note text
      description: A note
    OrderingsList:
      type: object
      properties:
        orderings:
          type: array
          description: IDs of ways content can be ordered
          items:
            type: string
            description: IDs of ways content can be ordered
      description: List of available orderings
    StudentThesesQuery:
      type: object
      properties:
        uuids:
          type: array
          items:
            type: string
            format: uuid
        size:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
        orderings:
          type: array
          items:
            type: string
        searchString:
          type: string
          description: String used to perform search
        orderBy:
          type: string
          writeOnly: true
      description: Create a query for student theses
    Name:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
      description: A name describing a person, made up of given- and family name
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          description: A URI reference [RFC3986] that identifies the problem type.
        title:
          type: string
          description: A short, human-readable summary of the problem type. It SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization (e.g., using proactive content negotiation; see [RFC7231], Section 3.4).
        status:
          type: integer
          description: The HTTP status code ([RFC7231], Section 6) generated by the origin server for this occurrence of the problem.
          format: int32
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.  It may or may not yield further information if dereferenced.
      description: RFC7807 Error details
      discriminator:
        propertyName: type
        mapping:
          /error: '#/components/schemas/GenericProblemDetails'
          /validation-error: '#/components/schemas/ValidationProblemDetails'
          /dependency-violation-error: '#/components/schemas/DependencyViolationProblemDetails'
    RemoteFile:
      required:
      - fileId
      - fileState
      - sourceId
      - storeName
      type: object
      properties:
        sourceId:
          type: string
          description: The remote source ID
        storeName:
          type: string
          description: The name of the remote store
        timeStamp:
          type: string
          description: The timestamp at which the file was stored
          format: date-time
        fileId:
          type: string
          description: The remote file ID
        fileState:
          type: string
          description: The remote file state
          enum:
          - AWAITING_CREATION
          - CREATION_IN_PROGRESS
          - CREATION_FAILED
          - STORED
          - AWAITING_DELETE
          - DELETE_IN_PROGRESS
          - DELETE_FAILED
          - DELETED
        metadataUpdateRequired:
          type: boolean
          description: Whether the file's metadata should be updated
          default: false
      description: Information about a remote file (Elsevier only)
    ImageFile:
      required:
      - fileName
      - mimeType
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        fileId:
          type: string
          description: The id of the file
          readOnly: true
        fileName:
          type: string
          description: The documents file name
        mimeType:
          type: string
          description: The documents mime type
        size:
          type: integer
          description: The documents size in bytes
          format: int64
        url:
          type: string
          description: Download url for the binary file
          readOnly: true
        fileStoreLocations:
          type: object
          additionalProperties:
            type: string
            description: Locations of the binary file in file stores.
            readOnly: true
          description: Locations of the binary file in file stores.
          readOnly: true
        uploadedFile:
          $ref: '#/components/schemas/UploadedFile'
        remoteFile:
          $ref: '#/components/schemas/RemoteFile'
        fileData:
          type: string
          description: Base64 encoded file data for new files. This property can be used instead of uploadedFile for small files
          format: byte
          writeOnly: true
        type:
          $ref: '#/components/schemas/ClassificationRef'
        copyrightConfirmation:
          type: boolean
          description: Indicates whether this file has been confirmed to adhere to the appropriate copyrights
          nullable: true
        caption:
          $ref: '#/components/schemas/LocalizedString'
        altText:
          $ref: '#/components/schemas/LocalizedString'
        copyrightStatement:
          $ref: '#/components/schemas/LocalizedString'
      description: An image file
    Identifier:
      required:
      - typeDiscriminator
      type: object
      properties:
        typeDiscriminator:
          type: string
      discriminator:
        propertyName: typeDiscriminator
        mapping:
          ClassifiedId: '#/components/schemas/ClassifiedId'
          PrimaryId: '#/components/schemas/PrimaryId'
          Id: '#/components/schemas/Id'
    ConflictProblemDetails:
      type: object
      properties:
        type:
          type: string
          description: A URI reference [RFC3986] that identifies the problem type.
        title:
          type: string
          description: A short, human-readable summary of the problem type. It SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization (e.g., using proactive content negotiation; see [RFC7231], Section 3.4).
        status:
          type: integer
          description: The HTTP status code ([RFC7231], Section 6) generated by the origin server for this occurrence of the problem.
          format: int32
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.  It may or may not yield further information if dereferenced.
        modified:
          type: string
          format: date-time
        modifiedBy:
          type: string
      description: Problem details for state conflict failures
    ContentRefListResult:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ContentRef'
      description: List of Content Refs
    ResearchOutputRef:
      required:
      - uuid
      type: object
      description: A reference to a research output
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    PersonRef:
      required:
      - uuid
      type: object
      description: A reference to a person internal to the institution
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    StudentThesisDocument:
      required:
      - fileName
      - mimeType
      - type
      - versionType
      - visibility
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        fileId:
          type: string
          description: The id of the file
          readOnly: true
        fileName:
          type: string
          description: The documents file name
        mimeType:
          type: string
          description: The documents mime type
        size:
          type: integer
          description: The documents size in bytes
          format: int64
        url:
          type: string
          description: Download url for the binary file
          readOnly: true
        fileStoreLocations:
          type: object
          additionalProperties:
            type: string
            description: Locations of the binary file in file stores.
            readOnly: true
          description: Locations of the binary file in file stores.
          readOnly: true
        uploadedFile:
          $ref: '#/components/schemas/UploadedFile'
        remoteFile:
          $ref: '#/components/schemas/RemoteFile'
        fileData:
          type: string
          description: Base64 encoded file data for new files. This property can be used instead of uploadedFile for small files
          format: byte
          writeOnly: true
        title:
          type: string
          description: Document title
          nullable: true
        type:
          $ref: '#/components/schemas/ClassificationRef'
        license:
          $ref: '#/components/schemas/ClassificationRef'
        visibleOnPortalDate:
          type: string
          description: The date the document will be available on the portal
          format: date
          readOnly: true
        visibility:
          $ref: '#/components/schemas/Visibility'
        creator:
          type: string
          description: The user that created the document
          readOnly: true
        created:
          type: string
          description: Create date for the document
          format: date-time
          readOnly: true
        versionType:
          $ref: '#/components/schemas/ClassificationRef'
        embargoReason:
          $ref: '#/components/schemas/ClassificationRef'
        embargoDate:
          type: string
          description: Embargo date.
          format: date-time
          nullable: true
        rightsStatement:
          type: string
          description: A description of property rights for the file.
          nullable: true
      description: A student thesis document.
    EquipmentRef:
      required:
      - uuid
      type: object
      description: A reference to a piece of equipment
      nullable: true
      allOf:
      - $ref: '#/components/schemas/ContentRef'
    KeywordGroup:
      required:
      - logicalName
      - typeDiscriminator
      type: object
      properties:
        pureId:
          type: integer
          description: Pure database ID of the object, prefer using the UUID if it is present on the entity
          format: int64
          readOnly: true
        logicalName:
          type: string
          description: Unique name of the configuration that specifies this keyword group
        name:
          $ref: '#/components/schemas/LocalizedString'
        typeDiscriminator:
          type: string
      discriminator:
        propertyName: typeDiscriminator
        mapping:
          ClassificationsKeywordGroup: '#/components/schemas/ClassificationsKeywordGroup'
          FreeKeywordsKeywordGroup: '#/components/schemas/FreeKeywordsKeywordGroup'
          FullKeywordGroup: '#/components/schemas/FullKeywordGroup'
  securitySchemes:
    api-key:
      type: apiKey
      description: Security mechanism for the API
      name: api-key
      in: header
